# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

name: ""
title: null
domain: codingmind.com 
url: "https://codingmind.com" # the base hostname & protocol for your site, e.g. http://example.com
baseurl: ""
logo: /assets/img/CMLogo2024.png
logo_white: /assets/img/CMLogo2024-white.png

# Build settings
plugins:
  - jekyll-seo-tag
  
sass:
  sass_dir: _sass

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

exclude:
  # other stuff you're excluding
  - assets/css/main.scss
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  
# keep_files:
  # other stuff you're keeping
  # - assets/css/main.css

collections:
  courses:
    output: true
  projects:
    output: true
  careers:
    output: true
  competitions:
    output: true
  locations:
    output: true
  courses_wl:
    output: true
    permalink: /west-lafayette/courses/:name/
    path: courses_wl
  courses_sd:
    output: true
    permalink: /sandiego/courses/:name/
    path: courses_sd
  courses_seattle:
    output: true
    permalink: /seattle/courses/:name/
    path: courses_seattle
  coursescn:
    output: true
    permalink: /cn/seattle/courses/:name/
    path: coursescn

    

defaults:
  - values: 
      locale: en
  - scope:
      path: ""
      type: "courses"
    values:
      locale: en
      permalink: /courses/:name
  - scope:
      path: ""
      type: projects
    values:
      locale: en
      permalink: /projects/:name
  - scope:
      path: ""
      type: careers
    values:
      locale: en
      permalink: /careers/:name
  - scope:
      path: ""
      type: competitions
    values:
      locale: en
      permalink: /competitions/:name
  - scope:
      path: ""
      type: locations
    values:
      locale: en
      permalink: /:path/
  - scope:
      path: "_courses_wl"
      type: courses_wl
    values:
      permalink: /west-lafayette/courses/:name/
  - scope:
      path: "_courses_sd"
      type: courses_sd
    values:
      permalink: /sandiego/courses/:name/
  - scope:
      source: "_courses_seattle"
      type: courses_seattle
    values:
      permalink: /seattle/courses/:name/
  # Chinese
  - scope:
      path: "_courses/cn"
      type: courses
    values:
      locale: cn
      permalink: /cn/courses/:name
  - scope:
      path: "_projects/cn"
      type: projects
    values:
      locale: cn
      permalink: /cn/projects/:name
  - scope:
      path: "_careers/cn"
      type: careers
    values:
      locale: cn
      permalink: /cn/careers/:name
  - scope:
      path: "_competitions/cn"
      type: competitions
    values:
      locale: cn
      permalink: /cn/competitions/:name
  - scope:
      path: "_locations/cn"
      type: locations
    values:
      locale: cn
      permalink: /:path/
  - scope:
      path: "_coursescn"
      type: coursescn
    values:
      locale: cn
      permalink: /cn/seattle/courses/:name


