---
layout: default
locale: en
---

{%- assign careers = site.careers %}

    <!-- Career Opportunities -->
    <section class="wrapper bg-custom">
        <div class="container pt-8 pt-md-12">
            <div class="row text-center">
                <div class="col-xl-10 mx-auto">
                <h1 class="display-2 mb-3">Career Opportunities</h1>
                <p class="lead mb-10">We are always looking for passionate coding instructors to teach K-12 students in our summer camps, after-school programs, and weekend workshops! Take a look at our current openings.</h3>
                </div>
                <!-- /column -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <div class="divider text-white">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 60"><path fill="currentColor" d="M0,0V60H1440V0A5771,5771,0,0,1,0,0Z"/></svg>
        </div>
    </section>
    <!-- /section -->

    <!-- Job Listings -->
    <section class="wrapper bg-light wrapper-border">
        <div class="container pt-8 pt-md-12 pb-8 pb-md-12">
            <div class="row gy-6">

                {% for career in careers %}
                {% include career.html %}
                {% endfor %}
        
            </div>
            <!--/.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->

    <!-- Reach Out -->
    <section class="wrapper bg-soft-primary">
        <div class="container py-12 py-md-12">
          <div class="row text-center">
            <div class="col-md-10 mx-auto">
              <h3 class="display-4 text-navy">Can't find the right position?</h3>
              <p class="lead mb-7 mb-md-7">Feel free to contact us for more information.</p>
              <a href="/contact-us" class="btn btn-primary rounded-pill mb-0 me-0 me-md-4 mb-4 mb-md-0">
                Get in Touch
              </a>
            </div>
          </div>
          <!--/div -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->