---
layout: default
locale: en
---

    <!-- Overview Description -->
    <section class="wrapper bg-custom">
      <div class="container pt-8 pt-md-12 pb-14 pb-md-10">
        <div class="row gy-10 gy-sm-13 gx-lg-3 align-items-center mb-8 mb-md-10 mb-lg-13">
          <div class="col-md-8 col-lg-6 position-relative">
            <a href="./assets/media/movie.mp4" class="btn btn-circle btn-primary btn-play ripple mx-auto mb-5 position-absolute" style="top:50%; left: 50%; transform: translate(-50%,-50%); z-index:3;" data-glightbox><i class="icn-caret-right"></i></a>
            <div class="shape rounded bg-soft-primary rellax d-md-block" data-rellax-speed="0" style="bottom: -1.8rem; right: -1.5rem; width: 85%; height: 90%; "></div>
            <figure class="rounded"><img src="./assets/img/photos/about12.jpg" srcset="./assets/img/photos/about12@2x.jpg 2x" alt=""></figure>
          </div>
          <!--/column -->
          <div class="col-lg-5 offset-lg-1">
            <h2 class="fs-15 text-uppercase text-muted mb-3">Private Classes</h2>
            <h3 class="display-2 mb-6">1-on-1 Lessons with Instructors</h3>
            <p class="mb-6" data-cue="slideInUp">
              1-on-1 instruction is designed to address the student's specific needs, learning style, and pace. Our goal is to provide students with personalized attention, focused instruction, and support to help them develop the skills for success.
            </p>
            <div class="row gy-3 gx-xl-8" data-cues="slideInUp" data-group="services">
              <div class="col-xl-6">
                <ul class="icon-list bullet-bg bullet-soft-primary mb-0" data-cues="slideInUp" data-group="services">
                  <li><span><i class="uil uil-check"></i></span><span>Personalized Attention & Learning</span></li>
                  <li class="mt-3"><span><i class="uil uil-check"></i></span><span>Customized Lesson Plans</span></li>
                </ul>
              </div>
              <!--/column -->
              <div class="col-xl-6">
                <ul class="icon-list bullet-bg bullet-soft-primary mb-0" data-cues="slideInUp" data-group="services">
                  <li><span><i class="uil uil-check"></i></span><span>Greater Engagement & Increased Confidence</span></li>
                  <li class="mt-3"><span><i class="uil uil-check"></i></span><span>Improved Study Habits</span></li>
                </ul>
              </div>
              <!--/column -->
              <div class="text-center">
                <a href="/free-trial" class="btn btn-primary rounded-pill w-100 mt-6">Sign Up</a>
              </div>
            </div>
            <!--/.row -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
    </section>
    <!-- /section -->

    <!-- Courses -->
    <section class="wrapper bg-light angled upper-end">
      <div class="container py-14 py-md-14">
        <div class="row text-center">
          <div class="col-lg-10 col-xl-10 col-xxl-8 mx-auto">
            <h2 class="fs-15 text-uppercase text-muted mb-3">Top Favorites</h2>
            <h3 class="display-4 mb-9">Check out some of our 1-on-1 courses in Roblox, Unity, Python and more.</h3>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->

        <!-- LISTED TOP COURSES -->
          <div class="swiper-container" data-margin="30" data-nav="true" data-dots="true" data-items-xl="3" data-items-md="3" data-items-xs="1">
            <div class="swiper">
              <div class="swiper-wrapper pb-10">
                {% assign courses = site.courses %}
                {% for course in courses %}
                {% if 
                  course.title == 'Innovative Programming with MIT Scratch' 
                  or course.title == 'Javascript Programming with Minecraft MakeCode' 
                  or course.title == 'Advanced Python Programming: Introduction to Algorithms' 
                  or course.title == 'Mobile App Programming with MIT App Inventor' 
                  or course.title == 'AP CS Boot Camp: Intro to Java Programming' 
                %}
                <div class="swiper-slide" data-cue="slideInUp">
                  {% include course.html %}
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        <!-- /.swiper-container -->

      </div>
    </section>
    <!-- /section -->

    <!-- Instructors -->
    <section class="wrapper bg-custom">
      <div class="container pt-7 pt-md-7 pb-17 pb-md-17">
        <div class="row text-center">
          <div class="col-lg-10 col-xl-10 col-xxl-8 mx-auto">
            <h2 class="fs-15 text-uppercase text-muted mb-3">Instructors</h2>
            <h3 class="display-4 mb-9">Meet some of our instructors!</h3>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->

        <!-- Instructor List -->
        <div class="position-relative">
          <div class="shape rounded-circle bg-soft-primary rellax w-16 h-16" data-rellax-speed="1" style="bottom: 0.5rem; right: -1.7rem;"></div>
          <div class="shape rounded-circle bg-line primary rellax w-16 h-16" data-rellax-speed="1" style="top: 0.5rem; left: -1.7rem;"></div>
          <div class="swiper-container dots-closer mb-6" data-margin="0" data-dots="true" data-items-xxl="4" data-items-lg="3" data-items-md="2" data-items-xs="1">
            <div class="swiper">
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="item-inner">
                    <div class="card" data-cue="zoomOut">
                      <div class="card-body text-center">
                        <img class="rounded-circle w-20 mb-7" src="./assets/img/avatars/default.png" srcset="./assets/img/avatars/default.png 2x" alt="" />
                        <h4 class="mb-1">Instructor Name</h4>
                        <p class="mb-0">Position</p>
                      </div>
                      <!--/.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                  <!-- /.item-inner -->
                </div>
                <!--/.swiper-slide -->
                <div class="swiper-slide">
                  <div class="item-inner">
                    <div class="card" data-cue="zoomOut">
                      <div class="card-body text-center">
                        <img class="rounded-circle w-20 mb-7" src="./assets/img/avatars/default.png" srcset="./assets/img/avatars/default.png 2x" alt="" />
                        <h4 class="mb-1">Instructor Name</h4>
                        <p class="mb-0">Position</p>
                      </div>
                      <!--/.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                  <!-- /.item-inner -->
                </div>
                <!--/.swiper-slide -->
                <div class="swiper-slide">
                  <div class="item-inner">
                    <div class="card" data-cue="zoomOut">
                      <div class="card-body text-center">
                        <img class="rounded-circle w-20 mb-7" src="./assets/img/avatars/default.png" srcset="./assets/img/avatars/default.png 2x" alt="" />
                        <h4 class="mb-1">Instructor Name</h4>
                        <p class="mb-0">Position</p>
                      </div>
                      <!--/.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                  <!-- /.item-inner -->
                </div>
                <!--/.swiper-slide -->
                <div class="swiper-slide">
                  <div class="item-inner">
                    <div class="card" data-cue="zoomOut">
                      <div class="card-body text-center">
                        <img class="rounded-circle w-20 mb-7" src="./assets/img/avatars/default.png" srcset="./assets/img/avatars/default.png 2x" alt="" />
                        <h4 class="mb-1">Instructor Name</h4>
                        <p class="mb-0">Position</p>
                      </div>
                      <!--/.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                  <!-- /.item-inner -->
                </div>
                <!--/.swiper-slide -->
                <div class="swiper-slide">
                  <div class="item-inner">
                    <div class="card" data-cue="zoomOut">
                      <div class="card-body text-center">
                        <img class="rounded-circle w-20 mb-7" src="./assets/img/avatars/default.png" srcset="./assets/img/avatars/default.png 2x" alt="" />
                        <h4 class="mb-1">Instructor Name</h4>
                        <p class="mb-0">Position</p>
                      </div>
                      <!--/.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                  <!-- /.item-inner -->
                </div>
                <!--/.swiper-slide -->
                <div class="swiper-slide">
                  <div class="item-inner">
                    <div class="card" data-cue="zoomOut">
                      <div class="card-body text-center">
                        <img class="rounded-circle w-20 mb-7" src="./assets/img/avatars/default.png" srcset="./assets/img/avatars/default.png 2x" alt="" />
                        <h4 class="mb-1">Instructor Name</h4>
                        <p class="mb-0">Position</p>
                      </div>
                      <!--/.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                  <!-- /.item-inner -->
                </div>
                <!--/.swiper-slide -->

                
              </div>
              <!--/.swiper-wrapper -->
            </div>
            <!-- /.swiper -->
          </div>
          <!-- /.swiper-container -->
        </div>
        <!-- /.position-relative -->

      </div>
    </section>
    <!-- /section -->
    
    <!-- Reviews -->
    <section class="wrapper bg-light angled upper-start">
      <div class="container pt-14 pt-md-7 pb-7 pb-md-7">
        <div class="row">
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mx-auto text-center">
            <h2 class="fs-15 text-uppercase text-muted mb-3">Happy Customers</h2>
            <h3 class="display-4 mb-6 px-xl-10 px-xxl-15">Don't take our word for it. See what customers are saying about us.</h3>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
        <div class="swiper-container dots-closer mb-6" data-margin="0" data-dots="true" data-items-xl="3" data-items-md="2" data-items-xs="1">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="item-inner">
                  <div class="card">
                    <div class="card-body">
                      <span class="ratings five mb-3"></span>
                      <blockquote class="icon mb-0">
                        <p>“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio dapibus facilisis sociis natoque.”</p>
                        <div class="blockquote-details">
                          <img class="rounded-circle w-12" src="./assets/img/avatars/default.png" srcset="./assets/img/avatars/default.png 2x" alt="" />
                          <div class="info">
                            <h5 class="mb-0">Reviewer Name</h5>
                            <p class="mb-0">Customer (Parent/Student)</p>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.item-inner -->
              </div>
              <!--/.swiper-slide -->
              <div class="swiper-slide">
                <div class="item-inner">
                  <div class="card">
                    <div class="card-body">
                      <span class="ratings five mb-3"></span>
                      <blockquote class="icon mb-0">
                        <p>“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio dapibus facilisis sociis natoque.”</p>
                        <div class="blockquote-details">
                          <img class="rounded-circle w-12" src="./assets/img/avatars/default.png" srcset="./assets/img/avatars/default.png 2x" alt="" />
                          <div class="info">
                            <h5 class="mb-0">Reviewer Name</h5>
                            <p class="mb-0">Customer (Parent/Student)</p>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.item-inner -->
              </div>
              <!--/.swiper-slide -->
              <div class="swiper-slide">
                <div class="item-inner">
                  <div class="card">
                    <div class="card-body">
                      <span class="ratings five mb-3"></span>
                      <blockquote class="icon mb-0">
                        <p>“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio dapibus facilisis sociis natoque.”</p>
                        <div class="blockquote-details">
                          <img class="rounded-circle w-12" src="./assets/img/avatars/default.png" srcset="./assets/img/avatars/default.png 2x" alt="" />
                          <div class="info">
                            <h5 class="mb-0">Reviewer Name</h5>
                            <p class="mb-0">Customer (Parent/Student)</p>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.item-inner -->
              </div>
              <!--/.swiper-slide -->
              <div class="swiper-slide">
                <div class="item-inner">
                  <div class="card">
                    <div class="card-body">
                      <span class="ratings five mb-3"></span>
                      <blockquote class="icon mb-0">
                        <p>“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio dapibus facilisis sociis natoque.”</p>
                        <div class="blockquote-details">
                          <img class="rounded-circle w-12" src="./assets/img/avatars/default.png" srcset="./assets/img/avatars/default.png 2x" alt="" />
                          <div class="info">
                            <h5 class="mb-0">Reviewer Name</h5>
                            <p class="mb-0">Customer (Parent/Student)</p>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.item-inner -->
              </div>
              <!--/.swiper-slide -->
              <div class="swiper-slide">
                <div class="item-inner">
                  <div class="card">
                    <div class="card-body">
                      <span class="ratings five mb-3"></span>
                      <blockquote class="icon mb-0">
                        <p>“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio dapibus facilisis sociis natoque.”</p>
                        <div class="blockquote-details">
                          <img class="rounded-circle w-12" src="./assets/img/avatars/default.png" srcset="./assets/img/avatars/default.png 2x" alt="" />
                          <div class="info">
                            <h5 class="mb-0">Reviewer Name</h5>
                            <p class="mb-0">Customer (Parent/Student)</p>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.item-inner -->
              </div>
              <!--/.swiper-slide -->
              <div class="swiper-slide">
                <div class="item-inner">
                  <div class="card">
                    <div class="card-body">
                      <span class="ratings five mb-3"></span>
                      <blockquote class="icon mb-0">
                        <p>“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio dapibus facilisis sociis natoque.”</p>
                        <div class="blockquote-details">
                          <img class="rounded-circle w-12" src="./assets/img/avatars/default.png" srcset="./assets/img/avatars/default.png 2x" alt="" />
                          <div class="info">
                            <h5 class="mb-0">Reviewer Name</h5>
                            <p class="mb-0">Customer (Parent/Student)</p>
                          </div>
                        </div>
                      </blockquote>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.item-inner -->
              </div>
              <!--/.swiper-slide -->
            </div>
            <!-- /.swiper-wrapper -->
          </div>
          <!-- /.swiper -->
        </div>
        <!-- /.swiper-container -->
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->

    <!-- Newsletter -->
    <section class="wrapper">
      <div class="container py-14 py-md-14">
          <div class="card image-wrapper bg-full bg-image" data-image-src="./assets/img/photos/bg3-2.0.jpg">
            <div class="card-body p-9 p-xl-11">
              <div class="row align-items-center gy-6">
                <div class="col-lg-7">
                  <h3 class="display-5 text-white">Want to learn more?</h3>
                  <p class="lead pe-lg-12 mb-0 text-white">Sign up for our emails to learn more about our 1-on-1 classes and be first to hear about new courses, programs, partnerships, and exclusive promotions!</p>
                </div>
                <!-- /column -->
                <div class="col-lg-5 col-xl-4 offset-xl-1">
                  <div class="newsletter-wrapper">
                    <!-- Begin Mailchimp Signup Form -->
                    <div id="mc_embed_signup2">
                      <form action="https://elemisfreebies.us20.list-manage.com/subscribe/post?u=aa4947f70a475ce162057838d&amp;id=b49ef47a9a" method="post" id="mc-embedded-subscribe-form2" name="mc-embedded-subscribe-form" class="validate dark-fields" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll2">
                          <div class="mc-field-group input-group form-floating">
                            <input type="email" value="" name="EMAIL" class="required email form-control" placeholder="Email Address" id="mce-EMAIL2">
                            <label for="mce-EMAIL2" class="position-absolute text-white">Email Address</label>
                            <input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe2" class="btn btn-primary">
                          </div>
                          <div id="mce-responses2" class="clear">
                            <div class="response" id="mce-error-response2" style="display:none"></div>
                            <div class="response" id="mce-success-response2" style="display:none"></div>
                          </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ddc180777a163e0f9f66ee014_4b1bcfa0bc" tabindex="-1" value=""></div>
                          <div class="clear"></div>
                        </div>
                      </form>
                    </div>
                    <!--End mc_embed_signup-->
                  </div>
                  <!-- /.newsletter-wrapper -->
                </div>
                <!-- /column -->
              </div>
              <!-- /.row -->
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
      </div>
    </section>
    <!-- /.container -->

    <!-- Request Free Trial Bottom Button -->
    <div class="free-trial-wrap">
      <a href="/free-trial" class="btn btn-primary rounded-pill">
        Request a Free Trial
        <img src="/assets/img/icons/solid/touchscreen.svg" class="svg-inject icon-svg icon-svg-xs solid-mono w-4 ms-2 text-white h-4" alt="" />
      </a>
    </div>