{%- assign shiftLength = career.shiftLength-%}
  {%- case shiftLength -%}
    {%- when "Part Time" -%}
      {%- assign shiftLengthStyle = 'fadedocean-gradient' %}
    {%- when "Full Time" -%}
      {%- assign shiftLengthStyle = 'fadedgrass-gradient' %}
    {%- when "Internship" -%}
      {%- assign shiftLengthStyle = 'lavender-gradient' %}
    {%- else -%}
      {%- assign shiftLengthStyle = 'bg-primary' %}
  {%- endcase -%}

{%- assign jobSite = career.jobSite-%}
  {%- case jobSite -%}
    {%- when "Remote" -%}
      {%- assign jobSiteStyle = 'starburstred-gradient' %}
    {%- when "Hybrid" -%}
      {%- assign jobSiteStyle = 'limegreen-gradient' %}
    {%- when "On-Site" -%}
      {%- assign jobSiteStyle = 'yellowgold-gradient' %}
    {%- else -%}
      {%- assign jobSiteStyle = 'bg-primary' %}
  {%- endcase -%}

  {%- assign internship = career.internship-%}
  {%- case internship -%}
    {%- when "Internship" -%}
      {%- assign internshipStyle = 'lavender-gradient' %}
    {%- else -%}
      {%- assign internshipStyle = 'bg-primary' %}
  {%- endcase -%}


  <div class="col-md-6 col-lg-4">
      <a href="{{career.url}}" class="card shadow-lg lift h-100">
          <div class="card-body p-5 d-flex flex-row">
              <div class="post-content">
                  <h4 class="mb-1">{{career.jobTitle}}</h4>
                  <span class="badge {{internshipStyle}} rounded py-1 mb-2">{{career.internship}}</span>
                  <span class="badge {{shiftLengthStyle}} rounded py-1 mb-2">{{career.shiftLength}}</span>
                  <span class="badge {{jobSiteStyle}} rounded py-1 mb-2">{{career.jobSite}}</span>
              </div>
          </div>
          <div class="card-footer px-5">
            <ul class="post-meta text-dark d-flex mb-0">
              <li class="post-location"><span>Location(s): {{career.jobLocation}}</span></li>
            </ul>
            <!-- /.post-meta -->
          </div>
          <!-- /.card-footer -->
      </a>
  </div>

<!-- <div class="col-md-6 col-lg-4">
    <a href="{{career.url}}" class="card shadow-lg lift h-100">
        <div class="card-body p-5 d-flex flex-row">
            <div>
                <span class="badge {{internshipStyle}} rounded py-1 mb-2">{{career.internship}}</span>
                <span class="badge {{shiftLengthStyle}} rounded py-1 mb-2">{{career.shiftLength}}</span>
                <span class="badge {{jobSiteStyle}} rounded py-1 mb-2">{{career.jobSite}}</span>
                <h4 class="mb-1">{{career.jobTitle}}</h4>
                <p class="mb-0 text-body">{{career.jobLocation}}</p>
            </div>
        </div>
    </a>
</div> -->