<a href="{{competition.url}}" class="card mb-4 lift">
    <div class="card-body p-5">
        <span class="row justify-content-between align-items-center">
            <span class="col-md-5 mb-2 mb-md-0 d-flex align-items-center text-body fw-bold">
                <img class="w-15 h-15 me-3 object-fit-contain" src="{{competition.competitionLogo}}"></img> {{competition.competitionName}} </span>
            <span class="col-5 col-md-3 text-body d-flex align-items-center">
                 {{competition.competitionDates}} </span>
            <span class="col-7 col-md-4 col-lg-3 text-body d-flex align-items-center">
                 {{competition.competitionDesc}} </span>
            <span class="d-none d-lg-block col-1 text-center text-body">
                <i class="uil uil-angle-right-b"></i>
            </span>
        </span>
    </div>
</a>
