{%- assign category = course.gradeLevel-%}
{%- case category -%}
  {%- when "L1 Block Programming" -%}
    {%- assign categoryStyle = 'rosered-gradient' %}
  {%- when "L2 Script Programming" -%}
    {%- assign categoryStyle = 'orange-gradient' %}
  {%- when "L3 Intermediate Programming" -%}
    {%- assign categoryStyle = 'forestgreen-gradient' %}
  {%- when "L4 Applied Programming" -%}
    {%- assign categoryStyle = 'navyblue-gradient' %}
  {%- when "L5 Competitive Programming" -%}
    {%- assign categoryStyle = 'amethyst-gradient' %}
  {%- when "Summer Camp" -%}
    {%- assign categoryStyle = 'bg-navy' %}
  {%- else -%}
    {%- assign categoryStyle = 'bg-primary' -%}
{%- endcase -%}

{%- if page.locale == "cn" -%}
  {%- assign category2 = course.gradeLevel-%}
  {%- case category2 -%}
    {%- when "L1 图形化编程" -%}
      {%- assign categoryStyle = 'rosered-gradient' %}
    {%- when "L2 简洁代码编程" -%}
      {%- assign categoryStyle = 'orange-gradient' %}
    {%- when "L3 代码编程" -%}
      {%- assign categoryStyle = 'forestgreen-gradient' %}
    {%- when "L4 应用主题编程" -%}
      {%- assign categoryStyle = 'navyblue-gradient' %}
    {%- when "L5 竞技编程" -%}
      {%- assign categoryStyle = 'amethyst-gradient' %}
    {%- when "夏令营" -%}
      {%- assign categoryStyle = 'bg-navy' %}
    {%- else -%}
      {%- assign categoryStyle = 'bg-primary' -%}
  {%- endcase -%}
{%- endif -%}


<article class="">
    <figure class="overlay overlay-1 hover-scale rounded mb-4">
      <a href="{{course.url}}"> 
        <img src="/{{course.coverImageURL}}" alt="" class="courseImage"/> 
        <span class="courseLabel {{categoryStyle}}">{{course.gradeLevel}}</span>
      </a>
      <figcaption>
        <h5 class="from-top mb-0">{{ site.data.courses[page.locale].courses.learnMore }}</h5>
      </figcaption>
    </figure>
    <div class="flex-grow-1 ">
        <!-- /.post-data -->
        <div class="post-footer">
          <!-- /.post-meta -->
          <ul class="post-meta">
            <li class="post-lvl"><i class="uil uil-graduation-cap"></i><span></span><span class="">{{course.skillLevel}}</span></li>
            <li class="post-comments mb-2"><i class="uil uil-file-alt fs-15"></i><span class="">{{course.pathway}}</span>
            </li>
          </ul>
        </div>
        <!-- /.post-title -->
        <div class="post-header">
          <h2 class="post-title h3 mb-3 "><a class="link-dark fs-20" href="{{course.url}}">{{course.name}}</a></h2>
        </div>
    </div>
  </article>
  <!-- /article -->