<article class="">
    <figure class="overlay overlay-1 hover-scale rounded mb-4"><a href="{{course.url}}"> 
      <img src="/{{course.bgImageUrl}}" alt="" class="courseImage"/> 
      <span class="courseLabel">{{course.aboutLevel}}</span>
    </a>
      <figcaption>
        <h5 class="from-top mb-0">{{course.courseDescription}}</h5>
      </figcaption>
    </figure>
    <div class="flex-grow-1 ">
        <!-- /.post-data -->
        <div class="post-footer">
          <!-- /.post-meta -->
          <ul class="post-meta">
            <li class="post-lvl"><i class="uil uil-graduation-cap"></i><span>Grade </span><span class="text-uppercase">{{course.aboutGradeLevel}}</span></li>
            <li class="post-comments mb-2"><i class="uil uil-file-alt fs-15"></i><span class="">{{course.aboutCategory}}</span>
            </li>
          </ul>
        </div>
        <!-- /.post-title -->
        <div class="post-header">
          <h2 class="post-title h3 mb-3 "><a class="link-dark fs-20" href="{{course.url}}">{{course.title}}</a></h2>
        </div>
    </div>
  </article>
  <!-- /article -->