<!-- <div class="card h-100">
    <a href="{{course.url}}" class="inset-shadow-top card-img-top hover-scale">
      <img src="/{{course.bgImageUrl}}"  alt="" class="courseImage"/>
      <span class="courseLabel">{{course.aboutLevel}}</span>
    </a>
    <div class="card-body post-header p-3 d-flex flex-column">
      <div class="flex-grow-1 ">
        <div class="d-flex flex-row align-items-center justify-content-between mb-2">
          <div class="post-category text-ash mb-0 fs-14">Grade {{course.aboutGradeLevel}}</div>
        </div>
        <h2 class="post-title h3 fs-18"><a href="{{course.url}}" class="link-dark hideTextOverflow">{{course.title}}</a></h2>
        <p class="fs-14 hideTextOverflow">{{course.courseDescription}}</p>
      </div>
      <hr class="my-2" />
      <div class="d-flex flex-row fs-14">
        <p class="m-0">{{course.aboutSkillLevel}} |&nbsp</p>
        <p class="m-0">{{course.aboutCategory}}</p>
      </div>
    </div>
  </div> -->

  <article>
    <figure class="overlay overlay-1 hover-scale rounded mb-4"><a href="{{course.url}}"> 
      <img src="/{{course.bgImageUrl}}" alt="" class="courseImage"/> 
      <span class="courseLabel">{{course.aboutLevel}}</span>
      <span class="bg"></span>
    </a>
      <figcaption>
        <h5 class="from-top mb-0">{{course.courseDescription}}</h5>
      </figcaption>
    </figure>
    <div class="flex-grow-1 ">
        <!-- /.post-data -->
        <div class="post-footer">
          <!-- /.post-meta -->
          <ul class="post-meta">
            <li class="post-lvl"><i class="uil uil-graduation-cap"></i><span>Grade </span><span class="text-uppercase">{{course.aboutGradeLevel}}</span></li>
            <li class="post-comments mb-2"><i class="uil uil-file-alt fs-15"></i><span class="">{{course.aboutCategory}}</span>
            </li>
          </ul>
        </div>
        <!-- /.post-title -->
        <div class="post-header">
          <h2 class="post-title h3 mb-3 "><a class="link-dark fs-20" href="{{course.url}}">{{course.title}}</a></h2>
        </div>
    </div>
  </article>
  <!-- /article -->