 <footer class="bg-dark text-inverse">
    <div class="container py-13 py-md-15">
      <div class="row gy-6 gy-lg-0">
        <div class="col-lg-4">
          <div class="widget">
            <img class="mb-4 h-10" src="/assets/img/codingmindlogo-white.svg" alt="" />
            <p class="mb-2">© 2023 Coding Mind. All rights reserved.</p>
            <nav class="nav social social-white">
              <a href="https://twitter.com/coding_minds?lang=en" target="_blank" rel="noopener noreferrer"><i class="uil uil-twitter"></i></a>
              <a href="https://www.facebook.com/CodingMindsAcademy/" target="_blank" rel="noopener noreferrer"><i class="uil uil-facebook-f"></i></a>
              <a href="https://www.instagram.com/codingmindsacademy/" target="_blank" rel="noopener noreferrer"><i class="uil uil-instagram" ></i></a>
              <a href="https://www.youtube.com/@codingminds882" target="_blank" rel="noopener noreferrer"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
            

          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->

        <div class="col-md-4 col-lg-2 offset-lg-2">
          <div class="widget">
            <h4 class="widget-title mb-3 text-white">About Us</h4>
            <ul class="list-unstyled mb-0">
              <li><a href="/about-us">Our Story</a></li>
              <li><a href="/contact-us">Contact Us</a></li>
              <li><a href="/careers">Jobs & Careers</a></li>

              <!-- Terms and Conditions -->
              <li> <a href="#" class="" data-bs-toggle="modal" data-bs-target="#modal-01">Terms and Conditions</a>  <li></li>
    
              <div class="modal fade" id="modal-01" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                  <div class="modal-content">
                    <div class="modal-body p-6">
                      <div class="row">
                        <h1>Terms and Conditions</h1>
                        <div class="col-md-12 col-lg-8 mb-4 mb-lg-0 my-auto align-items-center vh-50 overflow-auto w-100">
                            <div class="text-dark">{% include termsandconditions.html %}</div>
                        </div>
                        <!--/column -->
                        <div class="">
                          <a href="#" class="btn btn-primary rounded-pill mt-4 " data-bs-dismiss="modal" aria-label="Close">I Understand</a>
                        </div>
                        <!--/column -->
                      </div>
                      <!--/.row -->
                    </div>
                    <!--/.modal-body -->
                  </div>
                  <!--/.modal-content -->
                </div>
                <!--/.modal-dialog -->
              </div>
              <!--/.modal -->
              <!-- Terms and Conditions -->

              <!-- Privacy Policy -->
              <li> <a href="#" class="" data-bs-toggle="modal" data-bs-target="#modal-02">Privacy Policy</a>  <li></li>
    
              <div class="modal fade" id="modal-02" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                  <div class="modal-content">
                    <div class="modal-body p-6">
                      <div class="row">
                        <h1>Privacy Policy</h1>
                        <div class="col-md-12 col-lg-8 mb-4 mb-lg-0 my-auto align-items-center vh-50 overflow-auto w-100">
                            <div class="text-dark">{% include privacypolicy.html %}</div>
                        </div>
                        <!--/column -->
                        <div class="">
                          <a href="#" class="btn btn-primary rounded-pill mt-4 " data-bs-dismiss="modal" aria-label="Close">I Understand</a>
                        </div>
                        <!--/column -->
                      </div>
                      <!--/.row -->
                    </div>
                    <!--/.modal-body -->
                  </div>
                  <!--/.modal-content -->
                </div>
                <!--/.modal-dialog -->
              </div>
              <!--/.modal -->
             <!-- Privacy Policy -->

            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->

        <div class="col-md-4 col-lg-2">
          <div class="widget">
            <h4 class="widget-title mb-3 text-white">Programs</h4>
            <ul class="list-unstyled mb-0">
              <li><a href="/courses">Courses</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/group-lessons">Group Lessons</a></li>
              <li><a href="/private-lessons">Private Lessons</a></li>
              <li><a href="/enrichment-programs">Enrichment Programs</a></li>
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->

        <div class="col-md-4 col-lg-2">
          <div class="widget">
            <h4 class="widget-title mb-3 text-white">Get in Touch</h4>
            <address>920 Roosevelt, Ste 200, Irvine, CA 92620 </address>
            <a href="mailto:first.contact@codingmindsacademy.com">contact@codingmindsacademy.com</a><br /> (949) 236-7896 
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->

      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  
