 <footer class="bg-dark text-inverse">
    <div class="container py-13 py-md-15">
      <div class="row gy-6 gy-lg-0">
        <div class="col-lg-4">
          <div class="widget">
            <img class="mb-4 h-10" src="/assets/img/codingmindlogo-white.svg" alt="" />
            <p class="mb-4">© 2023 Coding Mind. All rights reserved.</p>
            <nav class="nav social social-white">
              <a href="https://twitter.com/coding_minds?lang=en" target="_blank" rel="noopener noreferrer"><i class="uil uil-twitter"></i></a>
              <a href="https://www.facebook.com/CodingMindsAcademy/" target="_blank" rel="noopener noreferrer"><i class="uil uil-facebook-f"></i></a>
              <a href="https://www.instagram.com/codingmindsacademy/" target="_blank" rel="noopener noreferrer"><i class="uil uil-instagram" ></i></a>
              <a href="https://www.youtube.com/@codingminds882" target="_blank" rel="noopener noreferrer"><i class="uil uil-youtube"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-2 offset-lg-2">
          <div class="widget">
            <h4 class="widget-title mb-3 text-white">Need Help?</h4>
            <ul class="list-unstyled mb-0">
              <li><a href="/contact-us">Contact Us</a></li>
              <li><a href="#">Terms of Use</a></li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-2">
          <div class="widget">
            <h4 class="widget-title mb-3 text-white">Learn More</h4>
            <ul class="list-unstyled mb-0">
              <li><a href="/about_us">About Us</a></li>
              <li><a href="/courses">Courses</a></li>
              <li><a href="/student_projects">Projects</a></li>
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <div class="col-md-4 col-lg-2">
          <div class="widget">
            <h4 class="widget-title mb-3 text-white">Get in Touch</h4>
            <address>920 Roosevelt, Ste 200, Irvine, CA 92620 </address>
            <a href="mailto:first.contact@codingmindsacademy.com">contact@codingmindsacademy.com</a><br /> (949) 236-7896 
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </footer>
  
