<footer class="bg-navy text-inverse">
  <div class="container py-13 py-md-15">
    <div class="row gy-6 gy-lg-0">
      <!-- social media and subscribe column -->
      <div class="col-lg-4">
        <div class="widget">
          <img class="mb-4 h-10" src="{{ site.logo_white }}" alt="" />
          <p class="mb-2">{{ site.data.footer[page.locale].footer.copyright }}</p>
          <!-- Social Media Links -->
          <nav class="nav social social-white">
            <a href="https://twitter.com/coding_minds?lang=en" target="_blank" rel="noopener noreferrer"><i
                class="uil uil-twitter"></i></a>
            <a href="https://www.facebook.com/CodingMindsAcademy/" target="_blank" rel="noopener noreferrer"><i
                class="uil uil-facebook-f"></i></a>
            <a href="https://www.instagram.com/codingmindsacademy/" target="_blank" rel="noopener noreferrer"><i
                class="uil uil-instagram"></i></a>
            <a href="https://www.youtube.com/@codingminds882" target="_blank" rel="noopener noreferrer"><i
                class="uil uil-youtube"></i></a>
          </nav>
        </div>
        <div>
          
          <!-- Form title -->
          <h4 class="widget-title mt-5 text-white">{{ site.data.subscribe[page.locale].subscribe.subscribeHeader }}</h4>
          <!-- Form -->
          <form id="subscribeFooterForm" class="needs-validation" novalidate>
            <!-- Email input -->
            <div class="form-floating">
              <input id="subscribeFooterEmailInput" type="email" name="emailInput" class="form-control" required="required" data-error="Valid email is required.">
              <label for="emailAddress">{{ site.data.subscribe[page.locale].subscribe.emailTag }}</label>
              <div class="valid-feedback">{{site.data.subscribe[page.locale].subscribe.emailSuccess }}</div>
              <div class="invalid-feedback">{{site.data.subscribe[page.locale].subscribe.emailError }}</div>
              <div id="subscribeFooterResponseMessage"></div>
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-sm btn-primary rounded-pill mt-3">
              {{site.data.subscribe[page.locale].subscribe.submitButton }}
            </button>
          </form>

        </div>
      </div>
      <!-- About Us Column -->
      <div class="col-md-4 col-lg-2 offset-lg-2">
        <div class="widget">
          <h4 class="widget-title mb-3 text-white">{{ site.data.footer[page.locale].footer.aboutHeader }}</h4>
          <ul class="list-unstyled mb-0">
            <li><a href="{{ site.data.nav[page.locale].nav.URL }}about-us">{{
                site.data.footer[page.locale].footer.ourStory }}</a></li>
            <li><a href="{{ site.data.nav[page.locale].nav.URL }}contact-us">{{
                site.data.footer[page.locale].footer.contact }}</a></li>
            <li><a href="{{ site.data.nav[page.locale].nav.URL }}careers">{{
                site.data.footer[page.locale].footer.careers }}</a></li>
            <li><a href="{{ site.data.nav[page.locale].nav.URL }}schools">{{
                site.data.footer[page.locale].footer.schools }}</a></li>
            <li><a href="{{ site.data.nav[page.locale].nav.URL }}our-partners">{{
                site.data.footer[page.locale].footer.partners }}</a></li>

            <!-- Terms and Conditions -->
            <li> <a href="#" class="" data-bs-toggle="modal" data-bs-target="#modal-01">{{
                site.data.footer[page.locale].footer.terms }}</a>
            <li></li>

            <div class="modal fade" id="modal-01" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                  <div class="modal-body p-6">
                    <div class="row">
                      <h1>{{ site.data.footer[page.locale].footer.terms }}</h1>
                      <div class="col-md-12 col-lg-8 mb-4 mb-lg-0 my-auto align-items-center vh-50 overflow-auto w-100">
                        <div class="text-dark">{% include termsandconditions.html %}</div>
                      </div>
                      <!--/column -->
                      <div class="">
                        <a href="#" class="btn btn-primary rounded-pill mt-4 " data-bs-dismiss="modal"
                          aria-label="Close">{{ site.data.footer[page.locale].footer.understand }}</a>
                      </div>
                      <!--/column -->
                    </div>
                    <!--/.row -->
                  </div>
                  <!--/.modal-body -->
                </div>
                <!--/.modal-content -->
              </div>
              <!--/.modal-dialog -->
            </div>
            <!--/.modal -->
            <!-- Terms and Conditions -->

            <!-- Privacy Policy -->
            <li> <a href="#" class="" data-bs-toggle="modal" data-bs-target="#modal-02">{{
                site.data.footer[page.locale].footer.privacy }}</a>
            <li></li>

            <div class="modal fade" id="modal-02" tabindex="-1">
              <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                  <div class="modal-body p-6">
                    <div class="row">
                      <h1>{{ site.data.footer[page.locale].footer.privacy }}</h1>
                      <div class="col-md-12 col-lg-8 mb-4 mb-lg-0 my-auto align-items-center vh-50 overflow-auto w-100">
                        <div class="text-dark">{% include privacypolicy.html %}</div>
                      </div>
                      <!--/column -->
                      <div class="">
                        <a href="#" class="btn btn-primary rounded-pill mt-4 " data-bs-dismiss="modal"
                          aria-label="Close">{{ site.data.footer[page.locale].footer.understand }}</a>
                      </div>
                      <!--/column -->
                    </div>
                    <!--/.row -->
                  </div>
                  <!--/.modal-body -->
                </div>
                <!--/.modal-content -->
              </div>
              <!--/.modal-dialog -->
            </div>
            <!--/.modal -->
            <!-- Privacy Policy -->

          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- Programs Column -->
      <div class="col-md-4 col-lg-2">
        <div class="widget">
          <h4 class="widget-title mb-3 text-white">{{ site.data.footer[page.locale].footer.programsHeader }}</h4>
          <ul class="list-unstyled mb-0">
            <li><a href="{{ site.data.nav[page.locale].nav.URL }}courses">{{
                site.data.footer[page.locale].footer.courses }}</a></li>
            <li><a href="{{ site.data.nav[page.locale].nav.URL }}projects">{{
                site.data.footer[page.locale].footer.projects }}</a></li>
            <li><a href="{{ site.data.nav[page.locale].nav.URL }}competitive-courses">{{
                site.data.footer[page.locale].footer.competitiveCourses }}</a></li>
            <li><a href="{{ site.data.nav[page.locale].nav.URL }}enrichment-passion-project">{{
                site.data.footer[page.locale].footer.enrichment }}</a></li>
            <li><a href="{{ site.data.nav[page.locale].nav.URL }}instructors">{{
                site.data.footer[page.locale].footer.instructors }}</a></li>
            <li><a href="{{ site.data.nav[page.locale].nav.URL }}competitions">{{
                site.data.footer[page.locale].footer.competitions }}</a></li>
            <li><a href="{{ site.data.nav[page.locale].nav.URL }}free-trial">{{
                site.data.footer[page.locale].footer.trial }}</a></li>
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- Get in Touch Column -->
      <div class="col-md-4 col-lg-2">
        <div class="widget">
          <h4 class="widget-title mb-3 text-white">{{ site.data.footer[page.locale].footer.getinTouch }}</h4>
          <address>920 Roosevelt, Ste 200, Irvine, CA 92620 </address>
          <a class="text-break" href="mailto:hello@codingmind.com">hello@codingmind.com</a><br /> (949) 236-7896
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  // Define the function that will handle the form submission
  async function onSubscribe(event) {
    // Prevent the default form submission
    event.preventDefault();
    // Check if form is valid
    const form = document.getElementById('subscribeFooterForm');
    form.classList.add('was-validated'); // Force validation message display
    if (!form.checkValidity()) return;
    // Flags
    const responseMessage = document.getElementById("subscribeFooterResponseMessage");
    const email = document.getElementById("subscribeFooterEmailInput").value;
    const language = "{{page.locale}}"; // 'en' or 'cn'
    // Send the email to SMW to be added to the mailing list
    try {
      const prod_url = 'https://prod-sharemyworks-backend.herokuapp.com/api/EmailNotifications/subscribe';
      const dev_url = 'http://localhost:3000/api/EmailNotifications/subscribe';
      const response = await fetch(prod_url, {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({ email, language })
      });
      if (!response.ok) throw new Error("Failed to subscribe");
      // Set the response message
      const result = await response.json();
      const alreadySubscribed = result.message === "Already Subscribed!";
      if (alreadySubscribed) responseMessage.textContent = "{{ site.data.subscribe[page.locale].subscribe.alreadySubscribed }}";
      else responseMessage.textContent = "{{ site.data.subscribe[page.locale].subscribe.submitSuccess }}";
      responseMessage.style.color = "green";
    }
    catch (error) {
      responseMessage.style.color = "red";
      responseMessage.textContent = "{{ site.data.subscribe[page.locale].subscribe.submitError }}";
    }
    // Show the response message for 4 seconds
    form.reset();
    setTimeout(() => responseMessage.textContent = "", 7000);
  }
  // Add an event listener to the form
  document.getElementById("subscribeFooterForm").addEventListener("submit", onSubscribe);
</script>