<header class="wrapper">
  <nav id="navbar" class="navbar navbar-expand-lg center-nav transparent !important; navbar-light pb-1">
    <div class="container flex-lg-row flex-nowrap align-items-center">
      <div class="navbar-brand w-100">
        <a href="{{ site.data.nav[page.locale].nav.URL }}">
          <img class="h-9" src="{{ site.logo }}" alt="" />
        </a>
        <!-- Branch Selector Dropdown -->
        <div class="branch-selector dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="branchDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            {% if page.branch %}{{ page.branch }}{% else %}Change Location{% endif %}
          </a>
          <ul class="dropdown-menu" aria-labelledby="branchDropdown">
            <li><a class="dropdown-item" href="/">Home</a></li>
            <li><a class="dropdown-item" href="/seattle">Seattle</a></li>
            <li><a class="dropdown-item" href="/sandiego">San Diego</a></li>
            <li><a class="dropdown-item" href="/west-lafayette">West Lafayette</a></li>
          </ul>
        </div>
      </div>
      <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
        <div class="offcanvas-header d-lg-none">
          <img class="h-9" src="{{ site.logo_white }}" alt="" />
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                {{ site.data.nav[page.locale].nav.programs}}
              </a>
              <div class="dropdown-menu">
                <div class="dropdown-content">
                  <div>
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="{{ site.data.nav[page.locale].nav.URL }}competitive-courses">{{
                          site.data.nav[page.locale].nav.competitivecourses }}</a></li>
                      <li><a class="dropdown-item"
                          href="{{ site.data.nav[page.locale].nav.URL }}enrichment-passion-project">{{
                          site.data.nav[page.locale].nav.enrichment }}</a></li>
                      <li><a class="dropdown-item" href="{{ site.data.nav[page.locale].nav.URL }}summer-camps">{{
                          site.data.nav[page.locale].nav.summercamp }}</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="{{ site.data.nav[page.locale].nav.URL }}courses">{{
                site.data.nav[page.locale].nav.courses }}</a>
            </li>

            <li class="nav-item ">
              <a class="nav-link " href="{{ site.data.nav[page.locale].nav.URL }}projects">{{
                site.data.nav[page.locale].nav.studentProjects }}</a>
            </li>

            <li class="nav-item ">
              <a class="nav-link " href="{{ site.data.nav[page.locale].nav.URL }}schools">{{
                site.data.nav[page.locale].nav.schools }}</a>
            </li>

            <li class="nav-item">
              <a class="nav-link " href="{{ site.data.nav[page.locale].nav.URL }}free-trial" id="nav-text-solid">{{
                site.data.nav[page.locale].nav.freeTrial }}</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle " data-bs-toggle="dropdown">{{ site.data.nav[page.locale].nav.more
                }}</a>
              <div class="dropdown-menu">
                <div class="dropdown-content">
                  <div>
                    <ul class="list-unstyled">
                      <li><a class="dropdown-item" href="{{ site.data.nav[page.locale].nav.URL }}about-us">{{
                          site.data.nav[page.locale].nav.aboutUs }}</a></li>
                      <li><a class="dropdown-item" href="{{ site.data.nav[page.locale].nav.URL }}instructors">{{
                          site.data.nav[page.locale].nav.instructors }}</a></li>
                      <li><a class="dropdown-item" href="{{ site.data.nav[page.locale].nav.URL }}careers">{{
                          site.data.nav[page.locale].nav.jobs }}</a></li>
                      <li><a class="dropdown-item" href="{{ site.data.nav[page.locale].nav.URL }}our-partners">{{
                          site.data.nav[page.locale].nav.partners }}</a></li>
                      <li><a class="dropdown-item" href="{{ site.data.nav[page.locale].nav.URL }}cmcraft">{{
                          site.data.nav[page.locale].nav.cmcraft }}</a></li>
                      <li><a class="dropdown-item" href="{{ site.data.nav[page.locale].nav.URL }}cmbase">{{
                          site.data.nav[page.locale].nav.cmbase }}</a></li>
                      <li><a class="dropdown-item" href="{{ site.data.nav[page.locale].nav.URL }}competitions">{{
                          site.data.nav[page.locale].nav.competitions }}</a></li>
                      <li><a class="dropdown-item" href=" {{ site.data.nav[page.locale].nav.URL }}contact-us">{{
                          site.data.nav[page.locale].nav.contactUs }}</a></li>
                      <li><a class="dropdown-item" href=" {{ site.data.nav[page.locale].nav.URL }}subscribe">{{
                          site.data.nav[page.locale].nav.subscribe }}</a></li>
                      <!-- <li><a class="dropdown-item" href=" {{ site.data.nav[page.locale].nav.URL }}course-info-register">{{ site.data.nav[page.locale].nav.course-info-register }}</a></li>
                        <li><a class="dropdown-item" href=" {{ site.data.nav[page.locale].nav.URL }}register">{{ site.data.nav[page.locale].nav.register}}</a></li> -->

                    </ul>
                  </div>
                  <!-- /.column -->
                </div>
                <!-- /auto-column -->
              </div>
            </li>

            <li class="nav-item">
              <a class="nav-link dropdown-item d-block d-lg-none" href="https://www.sharemyworks.com" target="_blank">{{
                site.data.nav[page.locale].nav.learningCenter }}</a>
            </li>

          </ul>
          <!-- /.navbar-nav -->
          <div class="offcanvas-footer d-lg-none">
            <div>
              <a href="mailto:hello@codingmind.com" class="link-inverse fs-14">hello@codingmind.com</a>
              <br /> (949) 236-7896 <br />
              <nav class="nav social social-white mt-4">
                <a href="https://twitter.com/coding_minds?lang=en" target="_blank" rel="noopener noreferrer"><i
                    class="uil uil-twitter"></i></a>
                <a href="https://www.facebook.com/CodingMindsAcademy/" target="_blank" rel="noopener noreferrer"><i
                    class="uil uil-facebook-f"></i></a>
                <a href="https://www.instagram.com/codingmindsacademy/" target="_blank" rel="noopener noreferrer"><i
                    class="uil uil-instagram"></i></a>
                <a href="https://www.youtube.com/@codingminds882" target="_blank" rel="noopener noreferrer"><i
                    class="uil uil-youtube"></i></a>
              </nav>
              <!-- /.social -->
            </div>
          </div>
          <!-- /.offcanvas-footer -->
        </div>
        <!-- /.offcanvas-body -->
      </div>
      <!-- /.navbar-collapse -->
      <div class="navbar-other w-100 d-flex ms-auto">
        <ul class="navbar-nav flex-row align-items-center ms-auto">
          <li class="nav-item language-select text-uppercase">
            <!-- <a class="nav-link" role="button"  
              href="
              {% if page.name == "index.html" %}
                {{ site.data.nav[page.locale].nav.switchLangURL }}{{page.name | replace:'index.html','' }}
              {% elsif page.collection.size %}
                {{ site.data.nav[page.locale].nav.switchLangURL }}{{page.collection}}/{{page.slug | downcase }}
              {% else %}
                {{ site.data.nav[page.locale].nav.switchLangURL }}{{page.name | replace:'.html','' }}
              {% endif %}
              ">  
              {{ site.data.nav[page.locale].nav.switchLang }}
              </a> -->
            <a class="nav-link" role="button" href="javascript:void(0);"
              onclick="switchLanguageWithParams('{{ site.data.nav[page.locale].nav.switchLangURL }}', '{{ page.name }}', '{{ page.collection }}', '{{ page.slug | downcase }}')">
              {{ site.data.nav[page.locale].nav.switchLang }}
            </a>

          </li>

          <li class="nav-item d-none d-md-block">
            <a href="https://www.sharemyworks.com" target="_blank" class="btn btn-sm btn-primary rounded-pill">{{
              site.data.nav[page.locale].nav.learningCenter }}</a>
          </li>

          <li class="nav-item d-lg-none">
            <button class="hamburger offcanvas-nav-btn text-navy"><span></span></button>
          </li>
        </ul>
        <!-- /.navbar-nav -->
      </div>
      <!-- /.navbar-other -->
    </div>
    <!-- /.navbar-collapse-wrapper -->
    <!-- /.container -->
  </nav>
  <!-- /.navbar -->
</header>
<script>
  function switchLanguageWithParams(baseLangURL, pageName, pageCollection, pageSlug) {
    console.log(baseLangURL, pageName, pageCollection, pageSlug);
    var currentUrl = new URL(window.location.href);
    var searchParams = currentUrl.search; // This keeps the query parameters intact.
    var newPath;

    // Determine the correct path based on page properties
    if (pageName === "index.html") {
      newPath = baseLangURL; // Typically points to the root of the language directory
    } else if (pageCollection) { // If the page is part of a collection
      newPath = baseLangURL + pageCollection + '/' + pageSlug;
    } else {
      newPath = baseLangURL + pageName.replace('.html', '');
    }

    // Redirect to the new URL, preserving query parameters
    window.location.href = newPath + searchParams;
  }

  //   // Add this script to ensure Bootstrap's JavaScript is initialized
  // document.addEventListener('DOMContentLoaded', function() {
  //   var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'))
  //   var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
  //     return new bootstrap.Dropdown(dropdownToggleEl)
  //   })
  // })

  document.addEventListener('DOMContentLoaded', function() {
  var dropdownToggle = document.querySelector('.branch-selector .dropdown-toggle');
  var dropdownMenu = document.querySelector('.branch-selector .dropdown-menu');
  var dropdownContainer = document.querySelector('.branch-selector');

  // Show dropdown on hover for non-touch devices
  if (!('ontouchstart' in window)) {
    dropdownContainer.addEventListener('mouseenter', function() {
      dropdownMenu.style.display = 'block';
    });

    dropdownContainer.addEventListener('mouseleave', function() {
      dropdownMenu.style.display = 'none';
    });
  }

  // Handle click for touch devices
  dropdownToggle.addEventListener('click', function(e) {
    if ('ontouchstart' in window) {
      e.preventDefault();
      dropdownMenu.style.display = dropdownMenu.style.display === 'block' ? 'none' : 'block';
    }
  });

  // Close dropdown when clicking outside
  document.addEventListener('click', function(e) {
    if (!dropdownContainer.contains(e.target)) {
      dropdownMenu.style.display = 'none';
    }
  });
});
</script>

<style>
.navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.branch-selector:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  display: none;
  margin-top: 0;
}
.branch-selector .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

  @media (max-width: 991px) {
    .branch-selector {
      margin-bottom: 10px;
    }
  }

</style>