

<div class="swiper-slide">
    <article>
      <figure class="overlay overlay-1 hover-scale rounded mb-5"><a href="{{project.url}}"> <img src="{{project.coverImage}}" alt="" /></a>
        <figcaption>
          <h5 class="from-top mb-0">Read More</h5>
        </figcaption>
      </figure>
      <div class="post-header">
        <div class="post-category text-line">
          <a href="#" class="hover" rel="category">{{project.projectCategory}}</a>
        </div>
        <!-- /.post-category -->
        <h2 class="post-title h3 mt-1 mb-3"><a class="link-dark" href="{{project.url}}">{{project.projectName}}</a></h2>
      </div>
      <!-- /.post-header -->
      <div class="post-footer">
        <ul class="post-meta mb-0">
          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>{{project.pagePostDate}}</span></li>
          <li class="post-comments"><a href="#"><i class="uil uil-user"></i>{{project.studentName}}</a></li>
        </ul>
        <!-- /.post-meta -->
      </div>
      <!-- /.post-footer -->
    </article>
    <!-- /article -->
  </div>