{%- assign category = project.projectCategory-%}
  {%- case category -%}
    {%- when "Artificial Intelligence" -%}
      {%- assign categoryStyle = 'sunkissed-gradient' -%}
      {%- assign categoryFilter = 'artificiali' -%}
    {%- when "App Development" -%}
      {%- assign categoryStyle = 'ig-gradient' -%}
      {%- assign categoryFilter = 'softwareapp' -%}
    {%- when "Game Development" -%}
      {%- assign categoryStyle = 'limegreen-gradient' -%}
      {%- assign categoryFilter = 'gamedev' -%}
    {%- when "Robotics" -%}
      {%- assign categoryStyle = 'aquagreen-gradient' -%}
      {%- assign categoryFilter = 'robotics' -%}
    {%- else -%}
      {%- assign categoryStyle = 'blue-gradient1' -%}
      {%- assign categoryFilter = '*' -%}
  {%- endcase -%}

{%- if page.locale == "cn" -%}
  {%- assign category2 = project.projectCategory-%}
    {%- case category2 -%}
      {%- when "Artificial Intelligence" -%}
        {%- assign category = '人工智能' -%}
      {%- when "App Development" -%}
        {%- assign category = '应用开发' -%}
      {%- when "Game Development" -%}
        {%- assign category = '游戏开发' -%}
      {%- when "Robotics" -%}
        {%- assign category = '机器人技术' -%}
      {%- else -%}
        {%- assign category = '其他' -%}
    {%- endcase -%}
{%- endif -%}


<article class="isotopeItem project item col-md-6 col-xl-4 {{categoryFilter}}">
  <div class="card shadow-lg lift">
    <figure class="card-img-top overlay overlay-1"><a href="{{project.url}}"> <img src="{{project.coverImage}}" alt="" class="courseImage"/>
      <span class="projectLabel {{categoryStyle}}">{{category}}</span>
    </a>
    <figcaption>
      <h5 class="from-top mb-0">Read More</h5>
    </figcaption>
    </figure>
    <div class="card-body">
      <div class="post-header">
        <h2 class="post-title mb-2 text-truncate"><a class="link-dark" href="{{project.url}}">{{project.projectName}}</a></h2>
      </div>
      <!-- /.post-header -->
      <div class="post-content text-truncate">
        <p>{{project.projectDesc}}</p>
      </div>
      <!-- /.post-content -->
    </div>
    <!--/.card-body -->
    <div class="card-footer">
      <ul class="post-meta text-dark d-flex mb-0">
        <li class="post-date"><i class="uil uil-calendar-alt"></i><span>{{project.pagePostDate}}</span></li>
        <li class="post-name"><i class="uil uil-user text-truncate"></i><span>{{project.studentName}}</span></li>
      </ul>
      <!-- /.post-meta -->
    </div>
    <!-- /.card-footer -->
  </div>
  <!-- /.card -->
</article>
<!-- /.post -->