{%- assign category = project.projectCategory-%}
  {%- case category -%}
    {%- when "Newly Added" -%}
      {%- assign categoryStyle = 'ig-gradient' %}
    {%- when "Game Development" -%}
      {%- assign categoryStyle = 'limegreen-gradient' %}
    {%- when "Mobile Development" -%}
      {%- assign categoryStyle = 'sunkissed-gradient' %}
    {%- when "Robotics" -%}
      {%- assign categoryStyle = 'aquagreen-gradient' %}
    {%- else -%}
      {%- assign categoryStyle = 'blue-gradient1' -%}
  {%- endcase -%}

{%- assign category = project.projectCategory-%}
  {%- case category -%}
    {%- when "Newly Added" -%}
      {%- assign categoryFilter = 'added' %}
    {%- when "Game Development" -%}
      {%- assign categoryFilter = 'gamedev' %}
    {%- when "Mobile Development" -%}
      {%- assign categoryFilter = 'mobiledev' %}
    {%- when "Robotics" -%}
      {%- assign categoryFilter = 'robotics' %}
    {%- else -%}
      {%- assign categoryFilter = '*' -%}
  {%- endcase -%}



<article class="project item col-md-6 col-xl-4 {{categoryFilter}}">
  <div class="card shadow-lg lift">
    <figure class="card-img-top overlay overlay-1"><a href="{{project.url}}"> <img src="{{project.coverImage}}" alt="" />
      <span class="projectLabel {{categoryStyle}}">{{project.projectCategory}}</span>
    </a>
    <figcaption>
      <h5 class="from-top mb-0">Read More</h5>
    </figcaption>
    </figure>
    <div class="card-body">
      <div class="post-header">
        <h2 class="post-title mb-2"><a class="link-dark" href="{{project.url}}">{{project.projectName}}</a></h2>
      </div>
      <!-- /.post-header -->
      <div class="post-content">
        <p>{{project.projectDesc}}</p>
      </div>
      <!-- /.post-content -->
    </div>
    <!--/.card-body -->
    <div class="card-footer">
      <ul class="post-meta text-navy d-flex mb-0">
        <li class="post-date"><i class="uil uil-calendar-alt"></i><span>{{project.pagePostDate}}</span></li>
        <li class="post-name"><i class="uil uil-user"></i><span>{{project.studentName}}</span></li>
      </ul>
      <!-- /.post-meta -->
    </div>
    <!-- /.card-footer -->
  </div>
  <!-- /.card -->
</article>
<!-- /.post -->