<div class="item-inner">
    <div class="card h-100">
      <div class="card-body">
        <span class="ratings five mb-3 text-primary"></span>
        <blockquote class="icon mb-0">
          <p>{{review.quote}}</p>
          <div class="blockquote-details">
            <img class="rounded-circle w-12" src="/assets/img/avatars/default.png" alt="" />
            <div class="info">
              <h5 class="mb-1">{{review.name}}</h5>
              <p class="mb-0">{{review.role}}</p>
            </div>
          </div>
        </blockquote>
      </div>
      <!--/.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.item-inner -->