---
layout: default
---

<section class="wrapper bg-light">
    <div class="container pt-12 pt-md-14 pb-14 pb-md-16">
      <div class="row">
        <div class="col-lg-9 col-xl-8 mx-auto">
          <figure class="mb-10 text-center"><img class="img-fluid w-75" src="/assets/img/custom_photos/404.webp" alt=""></figure>
        </div>
        <!-- /column -->
        <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto text-center">
          <h1 class="mb-3">{{ site.data.HTTP404[page.locale].Four0Four.header }}</h1>
          <p class="lead mb-7 px-md-12 px-lg-5 px-xl-7">{{ site.data.HTTP404[page.locale].Four0Four.description }}</p>
          <a href="./" class="btn btn-primary rounded-pill">{{ site.data.HTTP404[page.locale].Four0Four.button }}</a>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
