---
layout: default
---

{%- assign careers = site.careers %}

<!-- Title -->
<section class="wrapper">
  <div class="container pt-8 pt-md-12">
    <div class="row text-center">
      <div class="col-xl-10 mx-auto">
        <h1 class="display-2 mb-3">{{ site.data.careers[page.locale].careers.header }}</h1>
        <p class="lead mb-10"> {{ site.data.careers[page.locale].careers.paragraph }} </p>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- What is Coding Mind? -->
<section class="wrapper bg-soft-navy">
  <div class="container py-12">
    <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
      <div class="col-lg-6 order-lg-2 position-relative">
        <div class="shape bg-dot navy rellax w-16 h-20" data-rellax-speed="1" style="top: 10rem; right: 10rem"></div>
        <div class="overlap-grid overlap-grid-2">
          <div class="item">
            <figure class="rounded shadow-lg bg-white d-none d-lg-block"><img src="/assets/img/careers/careers.svg"  alt=""></figure>
          </div>
          <!--/.item -->
          <div class="item">
            <figure class="rounded shadow"><img src="/assets/img/careers/instructor.png" alt=""></figure>
          </div>
          <!--/.item -->
        </div>
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <h2 class="display-4 mb-3">{{ site.data.careers[page.locale].careers.aboutUsHeader }}</h2>
        <ul class="icon-list bullet-bg bullet-soft-navy">
          <li><i class="uil uil-check"></i>{{ site.data.careers[page.locale].careers.aboutUsPoint1 }}</li>
          <li><i class="uil uil-check"></i>{{ site.data.careers[page.locale].careers.aboutUsPoint2 }} </li>
          <li><i class="uil uil-check"></i>{{ site.data.careers[page.locale].careers.aboutUsPoint3 }}</li>
        </ul>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->


<!-- Where are our instructors now? -->
<section class="wrapper bg-light">
  <div class="container py-12 text-center">
    <h3 class="display-4 text-navy mb-10" >{{ site.data.careers[page.locale].careers.companiesHeader }}</h3>
    <div class="swiper-container clients mb-0" data-margin="30" data-dots="false" data-loop="true" data-autoplay="true" data-autoplaytime="1" data-drag="false" data-speed="5000" data-items-xxl="7" data-items-xl="6" data-items-lg="5" data-items-md="4" data-items-xs="2">
      <div class="swiper">
        <div class="swiper-wrapper ticker">
          <div class="swiper-slide px-5"><img src="/assets/img/brands/google.png" alt="" class="h-15 object-fit-contain"/></div>
          <div class="swiper-slide px-5"><img src="/assets/img/brands/tiktok.png" alt="" class="h-15 object-fit-contain" /></div>
          <div class="swiper-slide px-5"><img src="/assets/img/brands/meta.png" alt="" class="h-15 object-fit-contain" /></div>
          <div class="swiper-slide px-5"><img src="/assets/img/brands/Airbnb.png" alt="" class="h-15 object-fit-contain"/></div>
          <div class="swiper-slide px-5"><img src="/assets/img/brands/Amazon.png" alt="" class="h-15 object-fit-contain"/></div>
          <div class="swiper-slide px-5"><img src="/assets/img/brands/Microsoft.png" alt="" class="h-15 object-fit-contain"/></div>
          <div class="swiper-slide px-5"><img src="/assets/img/brands/SpaceX.png" alt="" class="h-15 object-fit-contain"/></div>
          <div class="swiper-slide px-5"><img src="/assets/img/brands/DoorDash.png" alt="" class="h-15 object-fit-contain"/></div>
          <div class="swiper-slide px-5"><img src="/assets/img/brands/LinkedIn.png" alt="" class="h-15 object-fit-contain"/></div>
          <div class="swiper-slide px-5"><img src="/assets/img/brands/nvidia.png" alt="" class="h-15 object-fit-contain"/></div>
        </div>
        <!--/.swiper-wrapper -->
      </div>
      <!-- /.swiper -->
    </div>
    <!-- /.swiper-container -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->




<!-- In Person Classes -->
<section class="wrapper bg-soft-primary">
  <div class="container py-12">
    <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
      <div class="col-lg-6 position-relative">
        <div class="shape bg-dot primary rellax w-16 h-20" data-rellax-speed="1" style="top: 3rem; left: 5.5rem"></div>
        <div class="overlap-grid overlap-grid-2">
          <div class="item">
            <figure class="rounded shadow"><img src="/assets/img/careers/instructor2.png" alt=""></figure>
          </div>
          <div class="item">
            <figure class="rounded shadow-lg bg-white d-none d-lg-block"><img src="/assets/img/careers/inperson.svg" alt=""></figure>
          </div>
        </div>
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <h2 class="display-4 mb-3">{{ site.data.careers[page.locale].careers.inPersonHeader }}</h2>
        <p class="lead fs-lg">{{ site.data.careers[page.locale].careers.inPersonLead }}</p>
        <p class="mb-6">{{ site.data.careers[page.locale].careers.inPersonParagraph }}</p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->

<!-- Remote Opportunities -->
<section class="wrapper">
  <div class="container py-12">
    <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
      <div class="col-lg-6 order-lg-2">
        <figure><img class="w-auto" src="/assets/img/careers/remote.svg"  alt="" /></figure>
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <h2 class="display-4 mb-3">{{ site.data.careers[page.locale].careers.remoteHeader }}</h2>
        <p class="lead fs-lg">{{ site.data.careers[page.locale].careers.remoteLead }}</p>
        <p class="mb-6">{{ site.data.careers[page.locale].careers.remoteParagraph }}</p>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->

<!-- Career Opportunities -->
<section class="wrapper bg-custom">
  <div class="container">
    <div class="row text-center">
      <div class="col-xl-10 mx-auto">
        <h1 class="display-2 mb-3">{{ site.data.careers[page.locale].careers.header2 }}</h1>
        <p class="lead mb-10"> {{ site.data.careers[page.locale].careers.paragraph2 }}
        </p>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="divider text-white">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 60">
      <path fill="currentColor" d="M0,0V60H1440V0A5771,5771,0,0,1,0,0Z" />
    </svg>
  </div>
</section>
<!-- /section -->

<!-- Job Listings -->
<section class="wrapper bg-light wrapper-border">
  <div class="container pt-8 pt-md-12 pb-8 pb-md-12">
    <div class="row gy-6">

      {% for career in careers %}
      {% include career.html %}
      {% endfor %}

    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->

<!-- Reach Out -->
<section class="wrapper bg-soft-primary">
  <div class="container py-12 py-md-12">
    <div class="row text-center">
      <div class="col-md-10 mx-auto">
        <h3 class="display-4 text-navy">{{ site.data.careers[page.locale].careers.help }}</h3>
        <p class="lead mb-7 mb-md-7">{{ site.data.careers[page.locale].careers.contact }}</p>
        <a href="./contact-us" class="btn btn-primary rounded-pill mb-0 me-0 me-md-4 mb-4 mb-md-0">
          {{ site.data.careers[page.locale].careers.contactBtn }}
        </a>
      </div>
    </div>
    <!--/div -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->