---
layout: default
---
    <!-- Career Header -->
    <section class="wrapper bg-custom">
        <div class="container pt-8 pt-md-12 pb-19 pb-md-20 text-center">
        <div class="row">
            <div class="col-md-10 col-xl-8 mx-auto">
            <div class="post-header">
                <h1 class="display-1 mb-5">{{page.jobTitle}}</h1>
                <ul class="post-meta">
                    <li><i class="uil uil-location-point"></i><span>{{page.jobLocation}}</span></li>
                    <li><i class="uil uil-map-pin-alt"></i><span>{{page.jobSite}}</span></li>
                </ul>
            </div>
            <!-- /.post-header -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->

    <!-- Career Information -->
    <section class="wrapper bg-light">
        <div class="container pb-14 pb-md-16">
        <div class="row">
            <div class="col-lg-10 mx-auto">
            <div class="blog single mt-n17">
                <div class="card shadow-lg">
                <div class="card-body">

                    <!-- Job Description -->
                    <h2 class="h1 mb-3">Job Description</h2>
                    <p>{{page.jobDescription}}</p>
                    
                    <div class="row gy-3 gx-xl-8">
                        <!-- Responsibilities -->
                        <div class="col-xl-6">
                            <h3 class="h2 mb-3 mt-md-6 mt-6">Responsibilities</h3>
                            <div class="row gy-3 gx-xl-8">
                                <div class="col">
                                    <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                                        {% for responsibility in page.responsibilities %}
                                            <li><span><i class="uil uil-rocket"></i></span><span>{{responsibility.text}}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!--/column -->
                            </div>
                            <!--/.row -->
                        </div>

                        <!-- Requirements -->
                        <div class="col-xl-6">
                            <h3 class="h2 mb-3 mt-md-6 mt-6">Requirements</h3>
                            <div class="row gy-3 gx-xl-8">
                                <div class="col">
                                    <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                                        {% for requirement in page.requirements %}
                                            <li><span><i class="uil uil-check"></i></span><span>{{requirement.text}}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!--/column -->
                            </div>
                            <!--/.row -->
                        </div>
    
                        <!-- Preferred Experience -->
                        {% if page.experiences %}
                        <div class="col-xl-6">
                            <h3 class="h2 mb-3 mt-md-3 mt-6">Preferred Experience</h3>
                            <div class="row gy-3 gx-xl-8">
                                <div class="col">
                                    <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                                        {% for experience in page.experiences %}
                                            <li><span><i class="uil uil-thumbs-up"></i></span><span>{{experience.text}}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!--/column -->
                            </div>
                            <!--/.row -->
                        </div>
                        {% endif %}

                        <!-- Benefits -->
                        {% if page.benefits %}
                        <div class="col-xl-6">
                            <h3 class="h2 mb-3 mt-md-3 mt-6">Benefits</h3>
                            <div class="row gy-3 gx-xl-8">
                                <div class="col">
                                    <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                                        {% for benefit in page.benefits %}
                                            <li><span><i class="uil uil-clock"></i></span><span>{{benefit.text}}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!--/column -->
                            </div>
                            <!--/.row -->
                        </div>
                        {% endif %}

                        <!-- Apply now -->
                        {% if page.applynow %}
                        <div class="col-xl-6">
                            <h3 class="h2 mb-3 mt-md-3 mt-6">To Apply</h3>
                            <div class="row gy-3 gx-xl-8">
                                <div class="col">
                                    <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
                                        {% for apply in page.applynow %}
                                            <li><span><i class="uil uil-clock"></i></span><span>{{apply.text}}</span></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <!--/column -->
                            </div>
                            <!--/.row -->
                        </div>
                        {% endif %}

                        

                    </div>
                    
                    <a href="mailto:hr@codingmindsacademy.com" class="btn btn-primary rounded-pill mt-md-9 mt-9">Apply Now</a>
                </div>
                <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.blog -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->