---
layout: default
---

<section class="wrapper bg-custom">
    <div class="container pt-10 pb-19 pt-md-10 pb-md-20 text-center">
        <div class="row">
            <div class="col-md-10 col-xl-8 mx-auto">
                <h1 class="display-2 mb-5"> {{ site.data.cmcraft[page.locale].intro.header }}</h1>
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->

<section class="wrapper bg-light">
    <div class="container pb-12">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="blog single mt-n18">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <h4>{{ site.data.cmcraft[page.locale].intro.lead }} </h4>
                            <p>
                                {{ site.data.cmcraft[page.locale].intro.p1 }} 
                            </p>

                            <p>
                                {{ site.data.cmcraft[page.locale].intro.p2 }} 

                                <a href="https://craft.codingmind.com/">https://craft.codingmind.com/</a>
                            </p>

                            <img style="width: 100%;" src="/assets/img/cmcraft/CMCraft.png"/>

                            <div class="my-10">
                                <h2 class="h1 my-3">{{ site.data.cmcraft[page.locale].whycmcraft.header }}</h2>

                                <p> {{ site.data.cmcraft[page.locale].whycmcraft.p }}
                                </p>

                                <h2 class="h1 my-3">{{ site.data.cmcraft[page.locale].features.header }}</h2>
                                <p>{{ site.data.cmcraft[page.locale].features.lead }}
                                </p>

                                <ul class="icon-list bullet-bg bullet-soft-primary">
                                    <li>
                                        <span><i class="uil uil-check"></i></span>

                                        <span>
                                            <p class="mb-0">{{ site.data.cmcraft[page.locale].features.p1 }}</p>
                                        </span>

                                    </li>
                                    <li>
                                        <span><i class="uil uil-check"></i></span>

                                        <span>
                                            <p class="mb-0">{{ site.data.cmcraft[page.locale].features.p2 }}
                                            </p>
                                        </span>

                                    </li>
                                    <li>
                                        <span><i class="uil uil-check"></i></span>
                                        <span>
                                            <p class="mb-0">{{ site.data.cmcraft[page.locale].features.p3 }}
                                            </p>
                                        </span>

                                    </li>
                                    <li>
                                        <span><i class="uil uil-check"></i></span>
                                        <span>
                                            <p class="mb-0">{{ site.data.cmcraft[page.locale].features.p4 }}
                                            </p>
                                        </span>

                                    </li>
                                    <li>
                                        <span><i class="uil uil-check"></i></span>
                                        <span>
                                            <p class="mb-0">{{ site.data.cmcraft[page.locale].features.p5 }}
                                            </p>
                                        </span>
                                    </li>
                                    <li>
                                        <span><i class="uil uil-check"></i></span>
                                        <span>
                                            <p class="mb-0">{{ site.data.cmcraft[page.locale].features.p6 }}
                                            </p>
                                        </span>
                                    </li>
                                    <li>
                                        <span><i class="uil uil-check"></i></span>
                                        <span>
                                            <p class="mb-0">{{ site.data.cmcraft[page.locale].features.p7 }}
                                            </p>
                                        </span>
                                    </li>
                                </ul>
                            </div>

                            <h2 class="h1 my-3">{{ site.data.cmcraft[page.locale].progress.header }} </h2>
                            <p>{{ site.data.cmcraft[page.locale].progress.lead }} 
                            </p>

                            <ul class="icon-list bullet-bg bullet-soft-primary">
                                <li>
                                    <span><i class="bg-transparent text-navy fst-normal">1.</i></span>

                                    <span>
                                        <p class="mb-0">{{ site.data.cmcraft[page.locale].progress.p1 }} </p>
                                    </span>

                                    <img class="my-6" style="width: 100%;" src="/assets/img/cmcraft/image1.png"/>
                                </li>

                                <li>
                                    <span><i class="bg-transparent text-navy fst-normal">2.</i></span>

                                    <span>
                                        <p class="mb-0">{{ site.data.cmcraft[page.locale].progress.p2 }}</p>
                                    </span>

                                    <img class="my-6" style="width: 100%;" src="/assets/img/cmcraft/image2.png"/>
                                </li>
                            </ul>

                            <h2 class="h1 my-3">{{ site.data.cmcraft[page.locale].practice.header }}
                            </h2>
                            <p>
                                {{ site.data.cmcraft[page.locale].practice.p1 }}
                            </p>
                            <p>
                                {{ site.data.cmcraft[page.locale].practice.p2 }}

                            </p>
                            <p>
                                {{ site.data.cmcraft[page.locale].practice.p3 }}

                            </p>

                            <img style="width: 100%;" src="/assets/img/cmcraft/image3.png"/>

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.blog -->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->

<!-- Try Coding Mind -->
<section class="wrapper bg-soft-primary">
    <div class="container py-12 py-md-12">
        <div class="row text-center">
            <div class="col-md-10 mx-auto">
                <h3 class="display-4 text-navy">{{ site.data.cmcraft[page.locale].tutoring.header }}
                </h3>
                <p class="lead mb-7 mb-md-7">
                    {{ site.data.cmcraft[page.locale].tutoring.lead }}
                </p>
                <a href="./free-trial" class="btn btn-primary rounded-pill me-0 me-md-4 mb-4 mb-md-0">
                    {{ site.data.cmcraft[page.locale].tutoring.btn }}
                </a>
            </div>
        </div>
        <!--/div -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->