---
layout: default
---

{%- assign competitions = site.competitions | where: "locale", page.locale %}

<section class="wrapper bg-custom">
	<div class="container py-14 py-md-16">
		<div class="row text-center">
			<div class="col-xl-10 mx-auto">
				<h2 class="fs-15 text-uppercase text-muted mb-3">{{ site.data.competitions[page.locale].competitionList.header }}</h2>
				<h3 class="display-4 mb-10 px-xxl-15">{{ site.data.competitions[page.locale].competitionList.lead }}</h3>
			</div>
			<!-- /column -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-xl-10 mx-auto">

				<div class="job-list mb-10">

					<h3 class="mb-4">{{ site.data.competitions[page.locale].competitionList.header }}</h3>

                    {% for competition in competitions %}
                        {% include competition.html %}
                    {% endfor %}

				</div>

			</div>
			<!-- /column -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>
<!-- /section -->