---
layout: default
---
<section class="wrapper bg-custom">
	<div class="container pt-8 pt-md-12 pb-20 pb-md-20">
		<div class="row text-center">
			<div class="col-lg-8 mx-auto">
				<h1 class="display-2 mb-3">{{ site.data.contact-us[page.locale].contact.header }}</h1>
				<nav class="d-inline-block" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="./">{{ site.data.contact-us[page.locale].contact.home }}</a></li>
						<li class="breadcrumb-item active" aria-current="page">{{ site.data.contact-us[page.locale].contact.contact }}</li>
					</ol>
				</nav>
				<!-- /nav -->
			</div>
			<!-- /column -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>
<!-- /section -->
<section class="wrapper bg-light angled upper-start">
	<div class="container pb-11">
		<div class="row mb-6 mb-md-8">
			<div class="col-xl-10 mx-auto mt-n19">
				<div class="card">
					<div class="row gx-0">
						<div class="col-lg-6 align-self-stretch">
							<div class="map map-full rounded-top rounded-lg-start">
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3319.634820615272!2d-117.76877858442055!3d33.69251878070533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dcdce1f813fb91%3A0xc31e7fa12e4990b2!2s920%20Roosevelt%20Suite%20200%2C%20Irvine%2C%20CA%2092620%2C%20USA!5e0!3m2!1sen!2str!4v1673515667957!5m2!1sen!2str" style="width:100%; height: 100%; border:0" allowfullscreen></iframe>
							</div>
							<!-- /.map -->
						</div>
						<!--/column -->
						<div class="col-lg-6">
							<div class="p-10 p-md-11 p-lg-14">
								<div class="d-flex flex-row">
									<div>
										<div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-location-pin-alt"></i> </div>
									</div>
									<div class="align-self-start justify-content-start">
										<h5 class="mb-1">{{ site.data.contact-us[page.locale].contact.locations }}</h5>
										<div class="meta mb-2">Irvine {{ site.data.contact-us[page.locale].contact.campus }}</div>
										<address>920 Roosevelt, Ste 200 <br class="d-none d-md-block" />Irvine, CA 92620</address>
										<div class="meta mb-2">Arcadia {{ site.data.contact-us[page.locale].contact.campus }}</div>
										<address>1010 S Baldwin Ave #202 <br class="d-none d-md-block" />Arcadia, CA 91007</address>
										<div class="meta mb-2">Diamond Bar {{ site.data.contact-us[page.locale].contact.campus }}</div>
										<address>21308 Pathfinder Rd, Unit 206 <br class="d-none d-md-block" />Diamond Bar, CA 91765 </address>
										<a href="/west-lafayette" class="meta mb-2 hover more">West Lafayette  {{ site.data.contact-us[page.locale].contact.campus }}</a>
										<address>500 Sagamore Pkwy, Ste 6W <br class="d-none d-md-block" />West Lafayette, IN 47906</address>
										<a href="/seattle" class="meta mb-2 hover more">Seattle {{ site.data.contact-us[page.locale].contact.campus }}</a>
										<address>4006 148th Ave NE <br class="d-none d-md-block" />Redmond, WA 98052</address>
										<a href="/sandiego" class="meta mb-2 hover more">San Diego {{ site.data.contact-us[page.locale].contact.campus }}</a>
										<address>7835 Highlands Village Pl Suit D105 <br class="d-none d-md-block" />San Diego, CA 92129</address>
									</div>
								</div>
								<!--/div -->
								<div class="d-flex flex-row">
									<div>
										<div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-phone-volume"></i> </div>
									</div>
									<div>
										<h5 class="mb-1">{{ site.data.contact-us[page.locale].contact.Phone }}</h5>
										<p>(949) 236-7896</p>
									</div>
								</div>
								<!--/div -->
								<div class="d-flex flex-row">
									<div>
										<div class="icon text-primary fs-28 me-4 mt-n1"> <i class="uil uil-envelope"></i> </div>
									</div>
									<div">
										<h5 class="mb-1">{{ site.data.contact-us[page.locale].contact.Email }}</h5>
										<p class="mb-0 text-break"><a href="mailto:hello@codingmind.com" class="link-body">hello@codingmind.com</a></p>
									</div>
								</div>
								<!--/div -->
							</div>
							<!--/div -->
						</div>
						<!--/column -->
					</div>
					<!--/.row -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /column -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>
<!-- /section -->

<section class="wrapper bg-light">
	<div class="container pb-0 pb-md-6 text-center">
		<div class="row">
			<div class="col-xl-6 mb-6">
				<div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
					<h2 class="display-4 mb-3 text-center">{{ site.data.contact-us[page.locale].contact.sendMessage }}</h2>
					<p class="lead text-center mb-10">{{ site.data.contact-us[page.locale].contact.sendDesc }}</p>
					<form action="https://formspree.io/f/myyaolgn" method="POST"  class="contact-form needs-validation" novalidate>

						<div class="row gx-4">
							<div class="col-md-6">
								<div class="form-floating mb-4">
									<input id="form_name" type="text" name="name" class="form-control" placeholder="Jane" required>
									<label for="form_name">	{{ site.data.contact-us[page.locale].contact.nameTag }}</label>
									<div class="valid-feedback">
										{{ site.data.contact-us[page.locale].contact.successIndicator }}
									</div>
									<div class="invalid-feedback">
										{{ site.data.contact-us[page.locale].contact.nameError }}
									</div>
								</div>
							</div>
							<!-- /column -->
							<div class="col-md-6">
								<div class="form-floating mb-4">
									<input id="form_email" type="email" name="email" class="form-control" placeholder="jane.doe@example.com" required>
									<label for="form_email">{{ site.data.contact-us[page.locale].contact.emailTag }}</label>
									<div class="valid-feedback">
										{{ site.data.contact-us[page.locale].contact.successIndicator }}
									</div>
									<div class="invalid-feedback">
										{{ site.data.contact-us[page.locale].contact.emailError }}
									</div>
								</div>
							</div>
							<!-- /column -->
							<div class="col-12">
								<div class="form-floating mb-4">
									<textarea id="form_message" name="description" class="form-control" placeholder="Your message" style="height: 150px" required></textarea>
									<label for="form_message">{{ site.data.contact-us[page.locale].contact.messageTag }}</label>
									<div class="valid-feedback">
										{{ site.data.contact-us[page.locale].contact.successIndicator }}
									</div>
									<div class="invalid-feedback">
										{{ site.data.contact-us[page.locale].contact.messageError }}
									</div>
								</div>
							</div>
							<!-- /column -->
							<div class="col-12 text-center">
								<input type="submit" class="btn btn-primary rounded-pill btn-send mb-3" value="{{ site.data.contact-us[page.locale].contact.sendMessageBtn }}">
								<p class="text-muted"><strong>*</strong> {{ site.data.contact-us[page.locale].contact.required }}</p>
							</div>
							<!-- /column -->
						</div>
						<!-- /.row -->
					</form>
					<!-- /form -->
				</div>
				<!-- /column -->
			</div>

			<div class="col-xl-6">
				<div class="row">
					<div class="mx-auto mt-8 mt-md-0 text-center">
					  <h2 class="display-4 mb-3">{{ site.data.contact-us[page.locale].contact.weChat }}</h2>
					  <p class="lead text-center mb-10">{{ site.data.contact-us[page.locale].contact.weChatDesc }}</p>
					</div>
					<!-- /column -->
				  </div>
				  <!-- /.row -->
				  <div class="row">
					<div class="mx-auto mb-12">
						<img class="h-22" src="/img/updated/qr.png" />
					</div>
					<!-- /column -->
				  </div>
				  <!-- /.row -->
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>
<!-- /section -->
