---
layout: default
---

<!-- Why Enhance Background -->
<section class="wrapper bg-custom2 position-relative align-items-center">
    <div class="container py-7 py-md-14">
    <div class="col-lg-6 position-lg-absolute top-0 start-0 image-wrapper bg-image bg-cover h-100" data-image-src="/assets/img/photos/bg38.jpg">
    </div>
    <!--/column -->
    <div class="container">
    <div class="row gx-0">
        <div class="col-lg-6 ms-auto">
        <div class="pt-13 pb-15 pb-md-17 py-lg-16 ps-lg-15">
            <h2 class="fs-15 text-uppercase text-muted mb-3">{{ site.data.enrichment[page.locale].whyenrichment.header }}</h2>
            <h3 class="display-3 ls-sm mb-7">{{ site.data.enrichment[page.locale].whyenrichment.lead }}</h3>
            <div class="d-flex flex-row mb-5">
            <div>
                <img src="/assets/img/icons/lineal/check-list.svg" class="svg-inject icon-svg icon-svg-md text-blue me-5 mt-1" alt="" />
            </div>
            <div>
                <p class="mb-0">{{ site.data.enrichment[page.locale].whyenrichment.reason1 }}</p>
            </div>
            </div>
            <div class="d-flex flex-row mb-5">
            <div>
                <img src="/assets/img/icons/lineal/crayons.svg" class="svg-inject icon-svg icon-svg-md text-green me-5 mt-1" alt="" />
            </div>
            <div>
                <p class="mb-0">
                    {{ site.data.enrichment[page.locale].whyenrichment.reason2 }}
                </p>
            </div>
            </div>
            <div class="d-flex flex-row mb-5">
            <div>
                <img src="/assets/img/icons/lineal/certificate.svg" class="svg-inject icon-svg icon-svg-md text-yellow me-5 mt-1" alt="" />
            </div>
            <div>
                <p class="mb-0">{{ site.data.enrichment[page.locale].whyenrichment.reason3 }}</p>
            </div>
            </div>

            <div class="d-flex flex-row">
                <div>
                <img src="/assets/img/icons/lineal/analytics.svg" class="svg-inject icon-svg icon-svg-md text-red me-5 mt-1" alt="" />
                </div>
                <div>
                    <p class="mb-0">{{ site.data.enrichment[page.locale].whyenrichment.reason4 }}</p>
                </div>
                </div>

        </div>
        </div>
        <!--/column -->
    </div>
    <!--/.row -->
    </div>
    <!-- /.container -->
    </div>
</section>
<!-- /section -->

<!-- What You Can Accomplish -->
<section class="wrapper">
    <div class="container">

    <div class="pt-13 pb-15 pb-md-17 py-lg-16 px-lg-15 text-center">
        <h2 class="fs-15 text-uppercase text-muted mb-3">{{ site.data.enrichment[page.locale].accomplishment.header }}</h2>
        <h3 class="display-3 ls-sm mb-7">{{ site.data.enrichment[page.locale].accomplishment.lead }}</h3>

        <div class="d-flex flex-row mb-5 align-items-center justify-content-center">
        <div>
            <img src="/assets/img/icons/lineal/growth.svg" class="svg-inject icon-svg icon-svg-sm text-primary me-5 mt-1" alt="" />
        </div>
            <p class="mb-0 lead fs-22">{{ site.data.enrichment[page.locale].accomplishment.description }} </p>
        </div>
    </div>

        <div class="col-xl-15">
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 align-items-center">
        <div class="col-lg-6 position-relative">
            <figure class="rounded mb-0"><img src="/img/updated/enrichment/internship.jpg"  alt=""></figure>
        </div>
        <!--/column -->
        <div class="col-lg-6" data-cue="fadeIn">
            <div class="card bg-soft-primary">
            <div class="card-body">
                <h3 class="display-4 mb-4">{{ site.data.enrichment[page.locale].accomplishment.benefitTitle1 }} </h3>
                <p class="mb-5"> {{ site.data.enrichment[page.locale].accomplishment.benefit1 }}</p>
            </div>
            </div>
        </div>
        <!--/column -->
        </div>
    </div>

    <div class="col-xl-15">
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 align-items-center ">
        <div class="col-lg-6 order-2 order-lg-1" data-cue="fadeIn">
            <div class="card bg-soft-primary">
            <div class="card-body">
            <h3 class="display-4 mb-4">{{ site.data.enrichment[page.locale].accomplishment.benefitTitle2 }}</h3>
            <p class="mb-5">{{ site.data.enrichment[page.locale].accomplishment.benefit2 }}</p>
            </div>
            </div>
        </div>
            <!--/column -->
        <div class="col-lg-6 order-1">
            <figure class="rounded mb-0"><img src="/img/updated/enrichment/research.jpg"  alt=""></figure>
        </div>
        <!--/column -->
        </div>
    </div>

    <div class="col-xl-15">
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 align-items-center">
        <div class="col-lg-6 position-relative">
            <figure class="rounded mb-0"><img src="/img/updated/enrichment/project.jpg"  alt=""></figure>
        </div>
        <!--/column -->
        <div class="col-lg-6" data-cue="fadeIn">
            <div class="card bg-soft-primary">
            <div class="card-body">  
                <h3 class="display-4 mb-4">{{ site.data.enrichment[page.locale].accomplishment.benefitTitle3 }}</h3>
                <p class="mb-5"> {{ site.data.enrichment[page.locale].accomplishment.benefit3 }}</p>
            </div>
            </div>
        </div>
        <!--/column -->
        </div>
    </div>

    <div class="col-xl-15">
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 align-items-center ">
        <div class="col-lg-6 order-2 order-lg-1" data-cue="fadeIn">
        <div class="card bg-soft-primary">
            <div class="card-body">  
                <h3 class="display-4 mb-4">{{ site.data.enrichment[page.locale].accomplishment.benefitTitle4 }}</h3>
                <p class="mb-5"> {{ site.data.enrichment[page.locale].accomplishment.benefit4 }}</p>
            </div>
            </div>
        </div>
            <!--/column -->
        <div class="col-lg-6 order-1">
            <figure class="rounded mb-0"><img src="/img/updated/enrichment/competitions.jpg"  alt=""></figure>
        </div>
        <!--/column -->
        </div>
    </div>

    <div class="col-xl-15">
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 align-items-center">
        <div class="col-lg-6 position-relative">
            <figure class="rounded mb-0"><img src="/img/updated/enrichment/patent.jpg"  alt=""></figure>
        </div>
        <!--/column -->
        <div class="col-lg-6" data-cue="fadeIn">
            <div class="card bg-soft-primary">
            <div class="card-body">    
                <h3 class="display-4 mb-4">{{ site.data.enrichment[page.locale].accomplishment.benefitTitle5 }}</h3>
                <p class="mb-5"> {{ site.data.enrichment[page.locale].accomplishment.benefit5 }}</p>
            </div>
            </div>
        </div>
        <!--/column -->
        </div>
    </div>

    <div class="col-xl-15">
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 align-items-center ">
        <div class="col-lg-6 order-2 order-lg-1" data-cue="fadeIn">
        <div class="card bg-soft-primary">
            <div class="card-body">    
                <h3 class="display-4 mb-4">{{ site.data.enrichment[page.locale].accomplishment.benefitTitle6 }}</h3>
                <p class="mb-5"> {{ site.data.enrichment[page.locale].accomplishment.benefit6 }}</p>
            </div>
            </div>
        </div>
            <!--/column -->
        <div class="col-lg-6 order-1">
            <figure class="rounded mb-0"><img src="/img/updated/enrichment/brand.jpg"  alt=""></figure>
        </div>
        <!--/column -->
        </div>
    </div>

    <div class="col-xl-15">
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 align-items-center">
        <div class="col-lg-6 position-relative">
            <figure class="rounded mb-0"><img src="/img/updated/enrichment/startup.jpg"  alt=""></figure>
        </div>
        <!--/column -->
        <div class="col-lg-6" data-cue="fadeIn">
            <div class="card bg-soft-primary">
            <div class="card-body">    
                <h3 class="display-4 mb-4">{{ site.data.enrichment[page.locale].accomplishment.benefitTitle7 }}</h3>
                <p class="mb-5"> {{ site.data.enrichment[page.locale].accomplishment.benefit7 }}</p>
            </div>
            </div>
        </div>
        <!--/column -->
        </div>
    </div>

    <div class="col-xl-15">
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 align-items-center ">
        <div class="col-lg-6 order-2 order-lg-1" data-cue="fadeIn">
        <div class="card bg-soft-primary">
            <div class="card-body">    
                <h3 class="display-4 mb-4">{{ site.data.enrichment[page.locale].accomplishment.benefitTitle8 }}</h3>
                <p class="mb-5"> {{ site.data.enrichment[page.locale].accomplishment.benefit8 }}</p>
            </div>
            </div>
        </div>
            <!--/column -->
        <div class="col-lg-6 order-1">
            <figure class="rounded mb-0"><img src="/img/updated/enrichment/presidentialaward.png"  alt=""></figure>
        </div>
        <!--/column -->
        </div>
    </div>

    <div class="col-xl-15">
        <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 align-items-center">
        <div class="col-lg-6 position-relative">
            <figure class="rounded mb-0"><img src="/img/updated/enrichment/recommendation.jpg"  alt=""></figure>
        </div>
        <!--/column -->
        <div class="col-lg-6" data-cue="fadeIn">
            <div class="card bg-soft-primary">
            <div class="card-body">    
                <h3 class="display-4 mb-4">{{ site.data.enrichment[page.locale].accomplishment.benefitTitle9 }}</h3>
                <p class="mb-5"> {{ site.data.enrichment[page.locale].accomplishment.benefit9 }}</p>
            </div>
            </div>
        </div>
        <!--/column -->
        </div>
    </div>

    </div>
</section>
<!-- What You Can Accomplish -->


<!-- Oustanding Projects -->
<section class="wrapper">
    <div class="container py-7 py-md-14">
        <h2 class="fs-15 text-center text-uppercase text-muted mb-3">{{ site.data.enrichment[page.locale].projects.header }}</h2>
        <h3 class="display-4 text-center mb-9 px-xxl-11">{{ site.data.enrichment[page.locale].projects.lead }}</h3>
        <div class="swiper-container clients mb-0" data-margin="15" data-dots="false" data-loop="true" data-autoplay="true" data-autoplaytime="1" data-drag="false" data-speed="5000" data-items-xxl="7" data-items-xl="6" data-items-lg="5" data-items-md="4" data-items-xs="2">
        <div class="swiper">
            <div class="swiper-wrapper ticker">
            <div class="swiper-slide px-5"><img src="/assets/img/brands/MIT.png" alt="" class="h-15 object-fit-contain" /></div>
            <div class="swiper-slide px-5"><img src="/assets/img/brands/Harvard.png" alt="" class="h-15 object-fit-contain" /></div>
            <div class="swiper-slide px-5"><img src="/assets/img/brands/Stanford.png" alt="" class="h-15 object-fit-contain" /></div>
            <div class="swiper-slide px-5"><img src="/assets/img/brands/Yale.png" alt="" class="h-15 object-fit-contain" /></div>
            <div class="swiper-slide px-5"><img src="/assets/img/brands/CMU.png" alt="" class="h-15 object-fit-contain" /></div>
            <div class="swiper-slide px-5"><img src="/assets/img/brands/HarveyMudd.png" alt="" class="h-15 object-fit-contain" /></div>
            <div class="swiper-slide px-5"><img src="/assets/img/brands/UIUC.png" alt="" class="h-15 object-fit-contain" /></div>
            <div class="swiper-slide px-5"><img src="/assets/img/brands/GeorgiaTech.png" alt="" class="h-15 object-fit-contain" /></div>
            <div class="swiper-slide px-5"><img src="/assets/img/brands/UTAustin.png" alt="" class="h-15 object-fit-contain" /></div>
            <div class="swiper-slide px-5"><img src="/assets/img/brands/NYU.png" alt="" class="h-15 object-fit-contain" /></div>
            <div class="swiper-slide px-5"><img src="/assets/img/brands/Columbia.png" alt="" class="h-15 object-fit-contain" /></div>
            </div>
            <!--/.swiper-wrapper -->
        </div>
        <!-- /.swiper -->
        </div>
        <!-- /.swiper-container -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->

<!-- Oustanding Projects -->
<section class="wrapper">
    <div class="container py-7 py-md-14">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
        <div class="col-lg-4">
            <h2 class="fs-18 text-uppercase text-primary mb-3">{{ site.data.enrichment[page.locale].projects.header2 }}</h2>
            <h3 class="display-4 mb-3">{{ site.data.enrichment[page.locale].projects.lead2 }}</h3>
            <p>{{ site.data.enrichment[page.locale].projects.description }}</p>
            <a href="{{ site.data.nav[page.locale].nav.URL }}projects" class="btn btn-primary rounded-pill mt-3">{{ site.data.enrichment[page.locale].projects.button }}</a>
        </div>
        <!--/column -->
        <div class="col-lg-8 pt-7 pt-md-0">
            <div class="swiper-container text-center mb-6" data-loop="true" data-autoplay="true" data-autoplaytime="5000" data-speed="5000"  data-margin="30" data-dots="true" data-items-xl="3" data-items-md="2" data-items-xs="1">
            <div class="swiper">
                <div class="swiper-wrapper pb-10">
                <!--/.swiper-slide -->
                <div class="swiper-slide">
                    <img class="rounded-circle object-fit-cover h-20 w-20 mx-auto mb-4" src="/img/updated/enrichment/student1.png"alt="" />
                    <h4 class="mb-1">{{ site.data.enrichment[page.locale].projects.student1 }}</h4>
                    <div class="meta mb-2">{{ site.data.enrichment[page.locale].projects.university1 }}</div>
                    <p class="mb-2">{{ site.data.enrichment[page.locale].projects.project1 }}</p>
                </div>
                <!--/.swiper-slide -->
                <div class="swiper-slide">
                    <img class="rounded-circle object-fit-cover h-20 w-20 mx-auto mb-4" src="/img/updated/enrichment/student2.png"alt="" />
                    <h4 class="mb-1">{{ site.data.enrichment[page.locale].projects.student2 }}</h4>
                    <div class="meta mb-2">{{ site.data.enrichment[page.locale].projects.university2 }}</div>
                    <p class="mb-2">{{ site.data.enrichment[page.locale].projects.project2 }}</p>
                </div>
                <!--/.swiper-slide -->
                <div class="swiper-slide">
                    <img class="rounded-circle object-fit-cover h-20 w-20 mx-auto mb-4" src="/img/updated/enrichment/student3.png"alt="" />
                    <h4 class="mb-1">{{ site.data.enrichment[page.locale].projects.student3 }}</h4>
                    <div class="meta mb-2">{{ site.data.enrichment[page.locale].projects.university3 }}</div>
                    <p class="mb-2">{{ site.data.enrichment[page.locale].projects.project3 }}</p>
                </div>
                <!--/.swiper-slide -->
                <div class="swiper-slide">
                    <img class="rounded-circle object-fit-cover h-20 w-20 mx-auto mb-4" src="/img/updated/enrichment/student4.png" alt="" />
                    <h4 class="mb-1">{{ site.data.enrichment[page.locale].projects.student4 }}</h4>
                    <div class="meta mb-2">{{ site.data.enrichment[page.locale].projects.university4 }}</div>
                    <p class="mb-2">{{ site.data.enrichment[page.locale].projects.project4 }}</p>
                </div>
                <!--/.swiper-slide -->
                <div class="swiper-slide">
                    <img class="rounded-circle object-fit-cover h-20 w-20 mx-auto mb-4" src="/img/updated/enrichment/student5.jpg" alt="" />
                    <h4 class="mb-1">{{ site.data.enrichment[page.locale].projects.student5 }}</h4>
                    <div class="meta mb-2">{{ site.data.enrichment[page.locale].projects.university5 }}</div>
                    <p class="mb-2">{{ site.data.enrichment[page.locale].projects.project5 }}</p>
                </div>
                <!--/.swiper-slide -->
                <div class="swiper-slide">
                    <img class="rounded-circle object-fit-cover h-20 w-20 mx-auto mb-4" src="/img/updated/enrichment/student6.png" alt="" />
                    <h4 class="mb-1">{{ site.data.enrichment[page.locale].projects.student6 }}</h4>
                    <div class="meta mb-2">{{ site.data.enrichment[page.locale].projects.university6 }}</div>
                    <p class="mb-2">{{ site.data.enrichment[page.locale].projects.project6 }}</p>
                </div>
                <!--/.swiper-slide -->
                <div class="swiper-slide">
                    <img class="rounded-circle object-fit-cover h-20 w-20 mx-auto mb-4" src="/img/updated/enrichment/student7.png"  alt="" />
                    <h4 class="mb-1">{{ site.data.enrichment[page.locale].projects.student7 }}</h4>
                    <div class="meta mb-2">{{ site.data.enrichment[page.locale].projects.university7 }}</div>
                    <p class="mb-2">{{ site.data.enrichment[page.locale].projects.project7 }}</p>
                </div>
                <!--/.swiper-slide -->
                <div class="swiper-slide">
                    <img class="rounded-circle object-fit-cover h-20 w-20 mx-auto mb-4" src="/img/updated/enrichment/student8.png" alt="" />
                    <h4 class="mb-1">{{ site.data.enrichment[page.locale].projects.student8 }}</h4>
                    <div class="meta mb-2">{{ site.data.enrichment[page.locale].projects.university8 }}</div>
                    <p class="mb-2">{{ site.data.enrichment[page.locale].projects.project8 }}</p>
                </div>
                <!--/.swiper-slide -->
                <div class="swiper-slide">
                    <img class="rounded-circle object-fit-cover h-20 w-20 mx-auto mb-4" src="/img/updated/enrichment/student9.jpg" alt="" />
                    <h4 class="mb-1">{{ site.data.enrichment[page.locale].projects.student9 }}</h4>
                    <div class="meta mb-2">{{ site.data.enrichment[page.locale].projects.university9 }}</div>
                    <p class="mb-2">{{ site.data.enrichment[page.locale].projects.project9 }}</p>
                </div>
                <!--/.swiper-slide -->
                <div class="swiper-slide">
                    <img class="rounded-circle object-fit-cover h-20 w-20 mx-auto mb-4" src="/img/updated/enrichment/student10.png" alt="" />
                    <h4 class="mb-1">{{ site.data.enrichment[page.locale].projects.student10 }}</h4>
                    <div class="meta mb-2">{{ site.data.enrichment[page.locale].projects.university10 }}</div>
                    <p class="mb-2">{{ site.data.enrichment[page.locale].projects.project10 }}</p>
                </div>
                <!--/.swiper-slide -->    
                </div>
                <!--/.swiper-wrapper -->
            </div>
            <!-- /.swiper -->
            </div>
            <!-- /.swiper-container -->
        </div>
        <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->

<!-- Service Process -->
<section class="wrapper">
    <div class="container py-7 py-md-14">
    <div class="row d-flex align-items-start gy-10">
        <!-- Header -->
        <div class="col-lg-5 position-lg-sticky " style="top: 8rem;">
            <h2 class="fs-15 text-uppercase text-muted mb-3">{{ site.data.enrichment[page.locale].process.header }}</h2>
            <h3 class="display-3 ls-sm mb-7">{{ site.data.enrichment[page.locale].process.lead }}</h3>
    
            <div class="d-flex flex-row mb-5 align-items-center justify-content-start">
            <div>
                <img src="/assets/img/icons/lineal/list.svg" class="svg-inject icon-svg icon-svg-sm text-primary me-5 mt-1" alt="" />
            </div>
                <p class="mb-0 lead fs-22">{{ site.data.enrichment[page.locale].process.description }} </p>
            </div>
        </div>
    
        <!-- /.row -->
        <div class="col-lg-6 ms-auto">
            <!--/column -->
            <div class="col">
            <ul class="timeline" data-cues="slideInUp">
                <li class="timeline-item">
                <div class="timeline-info meta fs-14"></div>
                <div class="timeline-marker">
                    <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">1</span></span>
                </div>
                <div class="timeline-content">
                    <h3 class="timeline-title display-4 ">{{ site.data.enrichment[page.locale].process.title1 }} </h3>
                    <p>{{ site.data.enrichment[page.locale].process.step1 }}</p>
                </div>
                </li>
                <li class="timeline-item">
                <div class="timeline-info meta fs-14"></div>
                <div class="timeline-marker">
                    <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">2</span></span>
                </div>
                <div class="timeline-content">
                    <h3 class="timeline-title display-4 ">{{ site.data.enrichment[page.locale].process.title2 }} </h3>
                    <p>{{ site.data.enrichment[page.locale].process.step2 }}</p>
                </div>
                </li>
                <li class="timeline-item">
                <div class="timeline-info meta fs-14"></div>
                <div class="timeline-marker">
                    <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">3</span></span>
                </div>
                <div class="timeline-content">
                    <h3 class="timeline-title display-4 ">{{ site.data.enrichment[page.locale].process.title3 }} </h3>
                    <p>{{ site.data.enrichment[page.locale].process.step3 }}</p>
                </div>
                </li>
                <li class="timeline-item">
                <div class="timeline-info meta fs-14"></div>
                <div class="timeline-marker">
                    <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">4 </span></span>
                </div>
                <div class="timeline-content">
                    <h3 class="timeline-title display-4 ">{{ site.data.enrichment[page.locale].process.title4 }}</h3>
                    <p>{{ site.data.enrichment[page.locale].process.step4 }}</p>
                </div>
                </li>
                <li class="timeline-item">
                <div class="timeline-info meta fs-14"></div>
                <div class="timeline-marker">
                    <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">5</span></span>
                </div>
                <div class="timeline-content">
                    <h3 class="timeline-title display-4 ">{{ site.data.enrichment[page.locale].process.title5 }}</h3>
                    <p>{{ site.data.enrichment[page.locale].process.step5 }}</p>
                </div>
                </li>
                <li class="timeline-item">
                <div class="timeline-info meta fs-14"></div>
                <div class="timeline-marker">
                    <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">6</span></span>
                </div>
                <div class="timeline-content">
                    <h3 class="timeline-title display-4 ">{{ site.data.enrichment[page.locale].process.title6 }}</h3>
                    <p>{{ site.data.enrichment[page.locale].process.step6 }}</p>
                </div>
                </li>
                <li class="timeline-item">
                <div class="timeline-info meta fs-14"></div>
                <div class="timeline-marker">
                    <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">7</span></span>
                </div>
                <div class="timeline-content">
                    <h3 class="timeline-title display-4 ">{{ site.data.enrichment[page.locale].process.title7 }}</h3>
                    <p>{{ site.data.enrichment[page.locale].process.step7 }}</p>
                </div>
                </li>
                <li class="timeline-item">
                <div class="timeline-info meta fs-14"></div>
                <div class="timeline-marker">
                    <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">8</span></span>
                </div>
                <div class="timeline-content">
                    <h3 class="timeline-title display-4 ">{{ site.data.enrichment[page.locale].process.title8 }}</h3>
                    <p>{{ site.data.enrichment[page.locale].process.step8 }}</p>
                </div>
                </li>
                <li class="timeline-item">
                <div class="timeline-info meta fs-14"></div>
                <div class="timeline-marker">
                    <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">9</span></span>
                </div>
                <div class="timeline-content">
                    <h3 class="timeline-title display-4 ">{{ site.data.enrichment[page.locale].process.title9 }}</h3>
                    <p>{{ site.data.enrichment[page.locale].process.step9 }}</p>
                </div>
                </li>
                <li class="timeline-item">
                <div class="timeline-info meta fs-14"></div>
                <div class="timeline-marker">
                    <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">10</span></span>
                </div>
                <div class="timeline-content">
                    <h3 class="timeline-title display-4 ">{{ site.data.enrichment[page.locale].process.title10 }}</h3>
                    <p>{{ site.data.enrichment[page.locale].process.step10 }}</p>
                </div>
                </li>
                <li class="timeline-item">
                <div class="timeline-info meta fs-14"></div>
                <div class="timeline-marker">
                    <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">11</span></span>
                </div>
                <div class="timeline-content">
                    <h3 class="timeline-title display-4 ">{{ site.data.enrichment[page.locale].process.title11 }}</h3>
                    <p>{{ site.data.enrichment[page.locale].process.step11 }}</p>
                </div>
                </li>
                <li class="timeline-item">
                <div class="timeline-info meta fs-14"></div>
                <div class="timeline-marker">
                    <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">12</span></span>
                </div>
                <div class="timeline-content">
                    <h3 class="timeline-title display-4 ">{{ site.data.enrichment[page.locale].process.title12 }}</h3>
                    <p>{{ site.data.enrichment[page.locale].process.step12 }}</p>
                </div>
                </li>
                <li class="timeline-item">
                <div class="timeline-info meta fs-14"></div>
                <div class="timeline-marker">
                    <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">13</span></span>
                </div>
                <div class="timeline-content">
                    <h3 class="timeline-title display-4 ">{{ site.data.enrichment[page.locale].process.title13 }}</h3>
                    <p>{{ site.data.enrichment[page.locale].process.step13 }}</p>
                </div>
                </li>
            </ul>
            </div>
            <!--/column -->
        </div>
        <!-- /.row -->
        </div>
    </div>
    <!-- /.container -->
</section>
<!-- /section -->


<!-- Our Strength -->
<section class="wrapper bg-light">
    <div class="container py-7 py-md-14 text-center">
    <div class="row">
        <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h2 class="fs-15 text-uppercase text-muted mb-3">{{ site.data.enrichment[page.locale].strength.header }}</h2>
        <h3 class="display-4 mb-10 px-xl-10">{{ site.data.enrichment[page.locale].strength.lead }}</h3>
        </div>
        <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="position-relative">
        <div class="shape rounded-circle bg-soft-blue rellax w-16 h-16" data-rellax-speed="1" style="bottom: -0.5rem; right: -2.2rem; z-index: 0;"></div>
        <div class="shape bg-dot yellow rellax w-16 h-17" data-rellax-speed="1" style="top: -0.5rem; left: -2.5rem; z-index: 0;"></div>
        <div class="row gx-md-5 gy-5 text-center" data-cues="slideInUp">
        <div class="col-md-6 col-xl-3">
            <div class="card shadow-lg h-100">
            <div class="card-body">
                <img src="/assets/img/icons/lineal/adjust.svg" class="svg-inject icon-svg icon-svg-md text-yellow mb-3" alt="" />
                <h4>{{ site.data.enrichment[page.locale].strength.title1 }}</h4>
                <p class="mb-2">{{ site.data.enrichment[page.locale].strength.strength1 }}</p>
            </div>
            <!--/.card-body -->
            </div>
            <!--/.card -->
        </div>
        <!--/column -->
        <div class="col-md-6 col-xl-3">
            <div class="card shadow-lg h-100">
            <div class="card-body">
                <img src="/assets/img/icons/lineal/chat-2.svg" class="svg-inject icon-svg icon-svg-md text-red mb-3" alt="" />
                <h4>{{ site.data.enrichment[page.locale].strength.title2 }}</h4>
                <p class="mb-2">{{ site.data.enrichment[page.locale].strength.strength2 }}</p>
            </div>
            <!--/.card-body -->
            </div>
            <!--/.card -->
        </div>
        <!--/column -->
        <div class="col-md-6 col-xl-3">
            <div class="card shadow-lg h-100">
            <div class="card-body">
                <img src="/assets/img/icons/lineal/plan.svg" class="svg-inject icon-svg icon-svg-md text-green mb-3" alt="" />
                <h4>{{ site.data.enrichment[page.locale].strength.title3 }}</h4>
                <p class="mb-2">{{ site.data.enrichment[page.locale].strength.strength3 }}</p>
            </div>
            <!--/.card-body -->
            </div>
            <!--/.card -->
        </div>
        <!--/column -->
        <div class="col-md-6 col-xl-3">
            <div class="card shadow-lg h-100">
            <div class="card-body">
                <img src="/assets/img/icons/lineal/user.svg" class="svg-inject icon-svg icon-svg-md text-blue mb-3" alt="" />
                <h4>{{ site.data.enrichment[page.locale].strength.title4 }}</h4>
                <p class="mb-2">{{ site.data.enrichment[page.locale].strength.strength4 }}</p>
            </div>
            <!--/.card-body -->
            </div>
            <!--/.card -->
        </div>
        <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.position-relative -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->


<!-- Contact Us -->
<section class="wrapper bg-light">
<div class="container py-7 py-md-14">
    <div class="card bg-soft-primary rounded-4">
    <div class="card-body p-md-10 p-xl-11">
        <div class="row gy-10 gx-lg-8 gx-xl-12 align-items-center">
        <div class="col-lg-7 order-lg-2 position-relative text-center">
            <figure><img class="w-auto h-22" src="/img/updated/qr.png" alt="" /></figure>
        </div>
        <!--/column -->
        <div class="col-lg-5">
            <h2 class="fs-15 text-uppercase text-muted mb-3">{{ site.data.enrichment[page.locale].contact.header }}</h2>
            <h3 class="display-4 mb-3">{{ site.data.enrichment[page.locale].contact.lead }}</h3>
            <p class="lead fs-lg"> {{ site.data.enrichment[page.locale].contact.description }}</p>
            <a href="{{ site.data.nav[page.locale].nav.URL }}contact-us" class="btn btn-primary rounded-pill mt-2">{{ site.data.enrichment[page.locale].contact.button }}</a>
        </div>
        <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!--/.card-body -->
    </div>
    <!--/.card -->
</div>
<!-- /.container -->
</section>
<!-- /section -->



<!-- Request Free Trial Bottom Button -->
<div class="{{ site.data.enrichment[page.locale].trialStyle }}">
    <a href="{{ site.data.nav[page.locale].nav.URL }}free-trial" class="btn btn-primary rounded-pill">
        {{ site.data.enrichment[page.locale].trial }}
    <img src="/assets/img/icons/solid/touchscreen.svg" class="svg-inject icon-svg icon-svg-xs solid-mono w-4 ms-2 text-white h-4" alt="" />
    </a>
</div>
