---
layout: default
---

    <!-- Header -->
    <section class="wrapper">
      <div class="container pt-11 pt-md-13 pb-19 pb-md-17 text-center position-relative">
            <div class="position-absolute" style="top: -15%; left: 50%; transform: translateX(-50%); opacity:0.5;"><img src="/assets/img/custom_photos/blurry.webp" data-cue="fadeIn" alt=""></div>
            <div class="row position-relative">
              <div class="col mx-auto">
                <div class="post-category mb-3 text-primary" data-cue="slideInDown">Learn By Doing</div>
                <h1 class="display-2 ls-sm mb-4 px-md-8 px-lg-0" data-cue="slideInDown" data-delay="350"> 
                  <span class="typer text-navy" 
                        data-loop="false" 
                        data-delay="100" 
                        data-words="{ Your Way to Excellence }">
                  </span>
                  </h1>

                <p class="lead lh-sm mb-5" data-cues="slideInDown" data-group="span">
                  <span>Coding </span>
                  <span><i class="uil uil-arrow-right"></i></span>
                  <span>Project </span>
                  <span>+</span>
                  <span>Competitions</span>
                  <span>+</span>
                  <span>Publishing</span>
                  <span>+</span>
                  <span>Research</span>
                  <span>+</span>
                  <span>Startup</span>
                  <span>+</span>
                  <span>Community</span>
                  <span><i class="uil uil-arrow-right"></i></span>
                  <span>Top Schools</span>
                </p>

                <div class="row g-0 gy-2 justify-content-md-center justify-content-start align-items-center row-cols-8 row-cols-md-auto" data-cues="fadeIn" data-group="columns">    

                  <div class="col "> 
                    <div class="card d-inline-block" >
                      <div class="card-body p-2">
                            <img src="/assets/img/icons/solid/code.svg" class="svg-inject icon-svg icon-svg-xxs solid-duo text-navy-primary" alt="" />
                      </div>
                    </div>
                  </div>

                  <div class="col "> 
                    <i class="uil uil-arrow-right text-navy display-5"></i> 
                  </div>

                  <div class="col "> 
                    <div class="card d-inline-block" >
                      <div class="card-body p-2">
                          <img src="./assets/img/icons/solid/clipboard.svg" class="svg-inject icon-svg icon-svg-xxs solid-duo text-navy-primary" alt="" />
                      </div>
                    </div>
                  </div>

                  <div class="col "> 
                    <i class="uil uil-plus text-navy lead fs-lg mx-1"></i> 
                  </div>

                  <div class="col "> 
                    <div class="card d-inline-block" >
                      <div class="card-body p-2">
                        <img src="./assets/img/icons/solid/medal.svg" class="svg-inject icon-svg icon-svg-xxs solid-duo text-navy-primary" alt="" /> 
                      </div>
                    </div>
                  </div>

                  <div class="col "> 
                    <i class="uil uil-plus text-navy lead fs-lg mx-1"></i> 
                  </div>

                  <div class="col "> 
                    <div class="card d-inline-block" >
                      <div class="card-body p-2">
                          <img src="./assets/img/icons/solid/list.svg" class="svg-inject icon-svg icon-svg-xxs solid-duo text-navy-primary" alt="" /> 
                      </div>
                    </div>
                  </div>

                  <div class="col "> 
                    <i class="uil uil-plus text-navy lead fs-lg mx-1"></i> 
                  </div>

                  <div class="col"> 
                    <div class="card d-inline-block" >
                      <div class="card-body p-2">
                          <img src="./assets/img/icons/solid/search.svg" class="svg-inject icon-svg icon-svg-xxs solid-duo text-navy-primary" alt="" /> 
                      </div>
                    </div>
                  </div>

                  <div class="col"> 
                    <i class="uil uil-plus text-navy lead fs-lg mx-1"></i> 
                  </div>

                  <div class="col"> 
                    <div class="card d-inline-block" >
                      <div class="card-body p-2">
                        <img src="./assets/img/icons/solid/bulb.svg" class="svg-inject icon-svg icon-svg-xxs solid-duo text-navy-primary" alt="" /> 
                      </div>
                    </div>
                  </div>

                  <div class="col"> 
                    <i class="uil uil-plus text-navy lead fs-lg mx-1"></i> 
                  </div>

                  <div class="col"> 
                    <div class="card d-inline-block" >
                      <div class="card-body p-2">
                        <img src="./assets/img/icons/solid/discussion.svg" class="svg-inject icon-svg icon-svg-xxs solid-duo text-navy-primary" alt="" /> 
                      </div>
                    </div>
                  </div>

                  <div class="col"> 
                    <i class="uil uil-arrow-right text-navy display-5"></i> 
                  </div>

                  <div class="col"> 
                    <div class="card d-inline-block" >
                      <div class="card-body p-2">
                        <img src="./assets/img/icons/solid/building.svg" class="svg-inject icon-svg icon-svg-xxs solid-duo text-navy-primary" alt="" /> 
                      </div>
                    </div> 
                  </div>

                </div>

              </div>

                <div class="animate__animated animate__slideInDown animate__delay-3s d-flex flex-column flex-md-row align-items-center justify-content-center mt-5" data-cue="slideInDown" data-delay="1050">
                  <a href="/free-trial" class="btn btn-md btn-navy rounded-pill me-0 me-md-4 mb-4 mb-md-0">Request a Free Trial</a>
                </div>
              </div>
              <!-- /column -->
            <!-- /.row -->
            <div class="row">
              <div class="col-lg-4 mx-auto mt-10 mb-n20">
                <img class="img-fluid" src="/assets/img/custom_photos/coders.webp"  alt="">
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->  
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->

    <!-- Program Breakdown -->
    <section class="wrapper bg-light">
      <div class="container pt-14 pt-lg-20">
        <div class="row">
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mx-auto text-center">
            <div class="post-category mb-3 text-primary">Our Programs</div>
            <h3 class="display-4 mb-10 px-xl-10 px-xxl-15 text-navy">Your Options at Coding Mind</h3>
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->

        <div class="row gy-3 justify-content-center"  data-cues="slideInDown">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-row">
                  <div><img src="/assets/img/icons/lineal/certificate.svg" class="svg-inject icon-svg icon-svg-md text-primary me-4" alt="" /></div>
                  <h2 class="card-title">Competitive Coding Courses</h2>
                </div>
                <figure><img class="w-100" src="/assets/img/custom_photos/competitive.webp" alt="" /></figure>

                <ul class="icon-list bullet-bg bullet-soft-primary mt-7 mb-8 text-start">
                  <li><i class="uil uil-check"></i><span> Complete K-12 course pathway 
                    </span></li>
                  <li><i class="uil uil-check"></i><span> Trending and applied topics 
                    </span></li>
                  <li><i class="uil uil-check"></i><span> Flexible schedule and class mode choices
                    </span></li>
                  <li><i class="uil uil-check"></i><span> Project-based Learning
                    </span></li>
                  <li><i class="uil uil-check"></i><span> Prepare for Competitions
                    </span></li>
                </ul>
                <a href="#" class="btn btn-primary rounded-pill">Learn More</a>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.pricing -->
          </div>
          <!--/column -->
          <div class="col ">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-row">
                  <div><img src="/assets/img/icons/lineal/startup.svg" class="svg-inject icon-svg icon-svg-md text-primary me-4" alt="" /></div>
                  <h2 class="card-title">Enrichment Passion Project</h2>
                </div>
                <figure><img class="w-100" src="/assets/img/custom_photos/enrichment.webp" alt="" /></figure>

                <ul class="icon-list bullet-bg bullet-soft-primary mt-7 mb-8 text-start">
                  <li><i class="uil uil-check"></i><span> Designed for college application enrichment
                    </span></li>
                  <li><i class="uil uil-check"></i><span> Goal-driven project plan to gain accomplishments
                    </span></li>
                  <li><i class="uil uil-check"></i><span> Customized project topics for different majors
                    </span></li>
                  <li><i class="uil uil-check"></i><span> Conduct research in college labs
                    </span></li>
                  <li><i class="uil uil-check"></i><span> Launch your very own startup
                    </span></li>
                </ul>
                <a href="#" class="btn btn-primary rounded-pill">Learn More</a>
              </div>
              <!--/.card-body -->
            </div>
            <!--/.pricing -->
          </div>
          <!--/column -->
          
          <!--/column -->
        </div>

      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->

    <!-- Pursuit of Excellence Cards -->
    <section class="wrapper">
      <div class="container pt-14">
          <!--/column -->
          <div class="row">
            <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mx-auto text-center">
              <div class="post-category mb-3 text-primary">OUR STUDENTS SUCCEED</div>
              <h3 class="display-4 mb-10 px-xl-10 px-xxl-15">The Pursuit of Excellence</h3>
            </div>
            <!-- /column -->
          </div>
        <!--/.row -->
        
        <div class="card mb-10 bg-soft-primary">
          <div class="card-body pb-12 pt-6 pt-md-12 px-6 px-md-12">
            <div class="row">
              <div class="col-lg-4 pb-12 align-self-center" data-cues="fadeIn">
                <div class="post-category mb-3 text-primary"> Be a winner!</div>
                <h3 class="h1 post-title mb-3">Win Competitions</h3>
                <p>Turn ideas into victories with Coding Mind, where our students' projects pave the way to triumph in various prestigious competitions!</p>
                <a href="/projects" class="more hover link-primary">Learn More</a>
              </div>
              <!-- /column -->
              <div class="col-lg-7 offset-lg-1 align-self-end" data-cue="fadeIn">
                <figure><img class="img-fluid rounded shadow-lg" src="/assets/img/showcases/compete.webp" alt="" /></figure>
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
          </div>
          <!--/.card-body -->
        </div>

        <div class="card mb-10 bg-soft-navy">
          <div class="card-body pb-12 pt-6 pt-md-12 px-6 px-md-12">
            <div class="row gy-10 align-items-center">
              <div class="col-lg-4 order-lg-2 offset-lg-1" data-cues="fadeIn">
                <div class="post-category mb-3 text-navy">Be a developer!</div>
                <h3 class="h1 post-title mb-3">Make Products</h3>
                <p>Students don't just learn - they create, launching their innovative projects on official platforms like Apple, Google, Microsoft, and Steam for the world to experience!</p>
              </div>
              <!-- /column -->
              <div class="col-lg-7" data-cue="fadeIn">
                <figure><img class="img-fluid rounded" src="/assets/img/custom_photos/products.webp" alt="" /></figure>
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
          </div>
          <!--/.card-body -->
        </div>

        <div class="card mb-10 bg-soft-primary">
          <div class="card-body pb-0 pt-6 pt-md-12 px-6 px-md-12">
            <div class="row">
              <div class="col-lg-4 pb-12 align-self-center" data-cues="fadeIn">
                <div class="post-category mb-3 text-primary"> Be a scientist!</div>
                <h3 class="h1 post-title mb-3">Publish Research Papers</h3>
                <p>Students at Coding Mind gain opportunities to conduct scientific research in university labs and publish academic papers in top-tier conferences and journals.</p>
              </div>
              <!-- /column -->
              <div class="col-lg-7 offset-lg-1 align-self-end" data-cue="fadeIn">
                <figure><img class="img-fluid" src="/assets/img/showcases/research.webp" alt="" /></figure>
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
          </div>
          <!--/.card-body -->
        </div>

        <div class="card mb-10 bg-soft-navy">
          <div class="card-body pb-12 pt-6 pt-md-12 px-6 px-md-12">
            <div class="row gy-10 align-items-center">
              <div class="col-lg-4 order-lg-2 offset-lg-1" data-cues="fadeIn">
                <div class="post-category mb-3 text-navy">Be an entrepreneur!</div>
                <h3 class="h1 post-title mb-3">Launch Startups</h3>
                <p>Unlock your potential with Coding Mind - where your projects can transform into thriving startups, generating real-world revenue.</p>
              </div>
              <!-- /column -->
              <div class="col-lg-7" data-cue="fadeIn">
                <figure><img class="img-fluid" src="/assets/img/showcases/business.webp" alt="" /></figure>
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
          </div>
          <!--/.card-body -->
        </div>

        <div class="card mb-10 bg-soft-primary">
          <div class="card-body pb-12 pt-6 pt-md-12 px-6 px-md-12">
            <div class="row">
              <div class="col-lg-4 pb-12 align-self-center" data-cues="fadeIn">
                <div class="post-category mb-3 text-primary"> Be a influencer!</div>
                <h3 class="h1 post-title mb-3">Change The World</h3>
                <p>Empower your community and inspire change with Coding Mind, where our students' projects go beyond the classroom to create real-world impact. </p>
              </div>
              <!-- /column -->
              <div class="col-lg-7 offset-lg-1 align-self-end d-flex justify-content-center" data-cue="fadeIn">
                <div class="w-75"><figure><img class="img-fluid rounded shadow-lg" src="/assets/img/showcases/community.webp" alt="" /></figure></div>
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
          </div>
          <!--/.card-body -->
        </div>

    </div>
      <!-- /.container -->
    </section>
    <!-- /section -->

    <!-- Free Trial -->
    <section class="wrapper bg-custom">
      <div class="container pt-12 pt-lg-14 pb-14">
        <!--/column -->
        <div class="row">
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mx-auto text-center">
            <div class="post-category mb-3 text-primary">Start your way to excellence</div>
            <h3 class="display-4 mb-10 px-xl-10 px-xxl-15">Schedule a Trial Class</h3>
          </div>
          <!-- /column -->
        </div>

        <div class="row d-lg-flex flex-column flex-lg-row align-items-lg-center justify-content-between g-8">
          <div class="col d-flex flex-column align-items-center align-items-lg-start" data-cue="zoomIn">
            <figure><img class="w-100" src="/assets/img/custom_photos/trial.webp" alt="" /></figure>
          </div>

          <div class="col d-flex justify-content-center">
            <div class="d-flex flex-column align-items-center align-items-lg-start text-center" data-cue="fadeIn">
              <h2 class="mb-3">Get Started With Coding Mind</h2>
              <p> Unleash your child's coding potential with our free trial class.</p>
              <a href="/free-trial" class="btn btn-md btn-primary rounded-pill mb-0 text-nowrap mt-4">Book Your First Free Class</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container -->
    </section>
    <!-- /section -->

    <!-- Trial Bottom-Side Button -->
    <div class="free-trial-wrap">
      <a href="/free-trial" class="btn btn-primary rounded-pill">
        Request a Free Trial
        <img src="/assets/img/icons/solid/touchscreen.svg" class="svg-inject icon-svg icon-svg-xxs solid-mono w-4 ms-2 text-white h-4" alt="" />
      </a>
    </div>
    <!-- /.container -->



