---
layout: default
---
  <!-- Instructor Description -->
  <section class="wrapper bg-light">
    <div class="container pt-8 pt-md-12">
        <div class="card bg-soft-primary rounded-4 mb-14 mb-md-14">
            <div class="card-body p-md-10 py-xxl-16 position-relative">
              <div class="position-absolute d-none d-lg-block" style="bottom:0; left:10%; width: 28%; z-index:2">
                <figure><img src="/assets/img/photos/co2.png"  alt=""></figure>
              </div>
              <div class="row gx-md-0 gx-xl-12 text-center">
                <div class="col-lg-7 offset-lg-5 col-xl-6">
                    <h2 class="fs-15 text-uppercase text-muted mb-3">{{ site.data.instructors[page.locale].instructors.header }}</h2>
                    <h3 class="display-2 mb-6">{{ site.data.instructors[page.locale].instructors.lead }}</h3>
                    <p class="">
                        {{ site.data.instructors[page.locale].instructors.paragraph }}
                    </p>

                    <p class="">
                        {{ site.data.instructors[page.locale].instructors.paragraph2 }}
                    </p>

                    <p class="mb-6">
                        {{ site.data.instructors[page.locale].instructors.paragraph3 }}
                    </p>

                    <a href="./free-trial" class="btn btn-primary rounded-pill mb-0 text-nowrap">
                        {{ site.data.instructors[page.locale].instructors.book }}
                    </a>
                </div>
                <!-- /column -->
              </div>
              <!-- /.row -->
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->


<!-- Experienced Instructors -->
<section class="wrapper">
  <div class="container py-7 py-md-14">
    <div class="row text-center">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
          <h2 class="fs-15 text-uppercase text-muted mb-3">{{ site.data.competitive[page.locale].instructors.header }}</h2>
          <h3 class="display-2 mb-12">{{ site.data.competitive[page.locale].instructors.lead }}</h3>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    
  <div class="row d-flex align-items-start gy-10">
      <!-- Header -->
      <div class="col-lg-5 position-lg-sticky " style="top: 8rem;">
          <h3 class="display-3 ls-sm mb-7">{{ site.data.competitive[page.locale].instructors.header2 }}</h3>
  
          <div class="d-flex flex-row mb-5 align-items-center justify-content-start">
          <div>
              <img src="/assets/img/icons/lineal/list.svg" class="svg-inject icon-svg icon-svg-sm text-primary me-5 mt-1" alt="" />
          </div>
              <p class="mb-0 lead fs-22">{{ site.data.competitive[page.locale].instructors.description }}</p>
          </div>
          <figure class="col"><img src="/img/updated/competitive-courses/recruitment.webp"  alt=""></figure>
      </div>
  
      <!-- /.row -->
      <div class="col-lg-6 ms-auto">
          <!--/column -->
          <div class="col">
          <ul class="timeline" data-cues="slideInUp">
              <li class="timeline-item">
              <div class="timeline-info meta fs-14"></div>
              <div class="timeline-marker">
                  <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">1</span></span>
              </div>
              <div class="timeline-content">
                  <h3 class="timeline-title display-4 ">{{ site.data.competitive[page.locale].instructors.step1 }} </h3>
                  <p>{{ site.data.competitive[page.locale].instructors.stepdesc1 }}</p>
              </div>
              </li>
              <li class="timeline-item">
              <div class="timeline-info meta fs-14"></div>
              <div class="timeline-marker">
                  <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">2</span></span>
              </div>
              <div class="timeline-content">
                  <h3 class="timeline-title display-4 ">{{ site.data.competitive[page.locale].instructors.step2 }} </h3>
                  <p>{{ site.data.competitive[page.locale].instructors.stepdesc2 }}</p>
              </div>
              </li>
              <li class="timeline-item">
              <div class="timeline-info meta fs-14"></div>
              <div class="timeline-marker">
                  <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">3</span></span>
              </div>
              <div class="timeline-content">
                  <h3 class="timeline-title display-4 ">{{ site.data.competitive[page.locale].instructors.step3 }} </h3>
                  <p>{{ site.data.competitive[page.locale].instructors.stepdesc3 }}</p>
              </div>
              </li>
              <li class="timeline-item">
              <div class="timeline-info meta fs-14"></div>
              <div class="timeline-marker">
                  <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">4 </span></span>
              </div>
              <div class="timeline-content">
                  <h3 class="timeline-title display-4 ">{{ site.data.competitive[page.locale].instructors.step4 }}</h3>
                  <p> {{ site.data.competitive[page.locale].instructors.stepdesc4 }}</p>
              </div>
              </li>
              <li class="timeline-item">
              <div class="timeline-info meta fs-14"></div>
              <div class="timeline-marker">
                  <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">5</span></span>
              </div>
              <div class="timeline-content">
                  <h3 class="timeline-title display-4 ">{{ site.data.competitive[page.locale].instructors.step5 }}</h3>
                  <p>{{ site.data.competitive[page.locale].instructors.stepdesc5 }}</p>
              </div>
              </li>
              <li class="timeline-item">
              <div class="timeline-info meta fs-14"></div>
              <div class="timeline-marker">
                  <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">6</span></span>
              </div>
              <div class="timeline-content">
                  <h3 class="timeline-title display-4 ">{{ site.data.competitive[page.locale].instructors.step6 }}</h3>
                  <p>{{ site.data.competitive[page.locale].instructors.stepdesc6 }}</p>
              </div>
              </li>
              <li class="timeline-item">
              <div class="timeline-info meta fs-14"></div>
              <div class="timeline-marker">
                  <span class="icon btn btn-circle btn-primary disabled "><span class="number fs-18">7</span></span>
              </div>
              <div class="timeline-content">
                  <h3 class="timeline-title display-4 ">{{ site.data.competitive[page.locale].instructors.step7 }}</h3>
                  <p>{{ site.data.competitive[page.locale].instructors.stepdesc7 }}</p>
              </div>
              </li>
          </ul>
          </div>
          <!--/column -->
      </div>
      <!-- /.row -->
      </div>
  </div>
  <!-- /.container -->
</section>
