---
layout: locationdefault
---

<section class="wrapper bg-light">
    <div class="container pt-12 pt-md-14 pb-14 pb-md-16">
      <div class="row">
        <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto text-center">
          <div class="mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="#dc2626" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"></circle>
              <path d="M15 9l-6 6"></path>
              <path d="M9 9l6 6"></path>
            </svg>
          </div>
          <h1 class="mb-3">Payment Unsuccessful</h1>
          <p class="lead mb-7 px-md-12 px-lg-5 px-xl-7">We apologize, but there seems to be an issue with your payment. Please try again or contact us for assistance.</p>
          <p class="mb-7">For help, please contact us:<br>
            Phone: (858) 588-7897<br>
            Email: CodingMindSD@gmail.com
          </p>
          <div class="d-grid gap-2 d-md-block">
            <a href="../" class="btn btn-outline-primary rounded-pill">Return to Homepage</a>
          </div>
        </div>
      </div>
    </div>
  </section>