---
layout: locationdefault
---

<section class="wrapper bg-light">
    <div class="container pt-12 pt-md-14 pb-14 pb-md-16">
      <div class="row">
        <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto text-center">
          <div class="mb-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24" fill="none" stroke="#22c55e" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="12" cy="12" r="10"></circle>
              <path d="M8 12l2 2 4-4"></path>
            </svg>
          </div>
          <h1 class="mb-3">Thank You for Your Payment</h1>
          <p class="lead mb-7 px-md-12 px-lg-5 px-xl-7">Your payment has been successfully processed. We will contact you shortly with further details about your order.</p>
          <p class="mb-7">If you have any questions, please contact us:<br>
            Phone: (858) 588-7897<br>
            Email: CodingMindSD@gmail.com
          </p>
          <a href="../" class="btn btn-primary rounded-pill">Return to Homepage</a>
        </div>
      </div>
    </div>
  </section>