---
layout: locationdefault
---

{{ content }}

<div class="pt-4" id="mni-membership-638439490030333334"></div>
<script src="https://lafayettecommercein.chambermaster.com/Content/Script/Member.js" type="text/javascript"></script>
<script type="text/javascript">
new MNI.Widgets.Member("mni-membership-638439490030333334",{member:19098,styleTemplate:"#@id{text-align:center;position:relative}#@id .mn-widget-member-name{font-weight:700}#@id .mn-widget-member-logo{max-width:100%}"}).create();
</script>