---
layout: locationdefault
---
{% assign parts = page.url | split: '/' %}

{% if page.url contains '/cn/' %}
{% assign location_name = parts[2] %}
{% assign logo_url = '/cn/' | append: location_name %}
{% assign translated_url = page.url | replace: '/cn/', '/' %}
{% else %}
{% assign location_name = parts[1] %}
{% assign logo_url = '/' | append: location_name %}
{% assign translated_url = '/cn' | append: page.url %}
{% endif %}

<section class="wrapper bg-light">
  <div class="container pt-8 pt-md-12 pb-8 pb-md-8">
    <div class="row gx-lg-8 gx-xl-0 gy-10 align-items-center">
      <div class="col-lg-6 col-xl-5 position-relative d-none d-lg-block">
        <div class="shape rounded-circle bg-soft-primary rellax w-21 h-21" data-rellax-speed="1"
          style="top: 8rem; left: 2rem"></div>
        <figure class="ps-xxl-10"><img class="img-fluid" src="/assets/img/illustrations/3d5.png"
            srcset="/assets/img/illustrations/3d5@2x.png 2x" alt="" /></figure>
      </div>
      <!--/column -->
      <div class="col-lg-6 col-xl-5 offset-xl-1 text-center">
        <h2 class="display-2 mb-3">{{ site.data.free-trial[page.locale].freetrial.header }}</h2>
        <p id="formDescription" class="lead mb-8 pe-xl-10">
        </p>
        <div class="d-flex justify-content-center">
          <div id="formSpinner" class="spinner-border text-navy align-self-center" role="status"
            style="width: 3rem; height: 3rem; display: none;">
          </div>
        </div>

        <form id="form" enctype="text/plain" class="contact-form needs-validation" novalidate>
          {% if location_name == 'sandiego' %}
          <div class="form-select-wrapper mb-4">
            <select class="form-select" aria-label="Class Type Selection" required="required" id="classType" name="classType" data-error="Class Type is required.">
              <option value="">Select Class Type *</option>
              <option value="private">Private 1-on-1</option>
              <option value="group">Group Class Trial</option>
            </select>
          </div>
          {% endif %}
          <div class="messages"></div>
          <div class="form-floating mb-4">
            <input id="studentName" type="text" name="studentName" class="form-control" placeholder="Jane"
              required="required" data-error="Name is required.">
            <label for="studentName">{{ site.data.free-trial[page.locale].freetrial.nameTag }}</label>
            <div class="valid-feedback">
              {{ site.data.free-trial[page.locale].freetrial.successIndicator }}
            </div>
            <div class="invalid-feedback">
              {{ site.data.free-trial[page.locale].freetrial.errorName }}
            </div>
          </div>

          <div class="form-floating mb-4">
            <input id="studentGrade" type="text" name="studentGrade" class="form-control" placeholder="Ex: 5th Grade"
              required="required" data-error="Valid grade level is required.">
            <label for="studentGrade">{{ site.data.free-trial[page.locale].freetrial.gradeTag }}</label>
            <div class="valid-feedback">
              {{ site.data.free-trial[page.locale].freetrial.successIndicator }}
            </div>
            <div class="invalid-feedback">
              {{ site.data.free-trial[page.locale].freetrial.errorGrade }}
            </div>
          </div>

          <div class="form-floating mb-4">
            <input id="emailAddress" type="email" name="emailAddress" class="form-control"
              pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]+$" placeholder="jane.doe@example.com"
              required="required" data-error="Valid email is required.">
            <label for="emailAddress">{{ site.data.free-trial[page.locale].freetrial.parentEmailTag }}</label>
            <div class="valid-feedback">
              {{ site.data.free-trial[page.locale].freetrial.successIndicator }}
            </div>
            <div class="invalid-feedback">
              {{ site.data.free-trial[page.locale].freetrial.errorEmail }}
            </div>
          </div>


          <div class="form-floating mb-4">
            <input id="phoneNumber" type="tel" maxlength="16" name="phoneNumber" class="form-control"
              placeholder="(123)-456-7890" required="required" data-error="Valid phone number is required.">
            <label for="phoneNumber">{{ site.data.free-trial[page.locale].freetrial.phoneNumberTag }}</label>
            <div class="valid-feedback">
              {{ site.data.free-trial[page.locale].freetrial.successIndicator }}
            </div>
            <div class="invalid-feedback">
              {{ site.data.free-trial[page.locale].freetrial.errorPhone }}
            </div>
          </div>

          <div class="form-select-wrapper mb-4">
            <select class="form-select" aria-label="Default select example" required="required" id="experience"
              name="experience">
              <option value="">{{ site.data.free-trial[page.locale].freetrial.codingExperienceTag }}</option>
              <option id="1" value="Never Learned Before">{{ site.data.free-trial[page.locale].freetrial.experience1 }}
              </option>
              <option id="2" value="Very Basic Exposure">{{ site.data.free-trial[page.locale].freetrial.experience2 }}
              </option>
              <option id="3" value="Knows At Least One Programming Language Very Well">{{
                site.data.free-trial[page.locale].freetrial.experience3 }}</option>
              <option id="4" value="Hacker!">{{ site.data.free-trial[page.locale].freetrial.experience4 }}</option>
            </select>
          </div>

          <div class="form-select-wrapper mb-4">
            <select class="form-select" aria-label="Default select example" required="required" id="campus"
              name="campus">
              <option value="">{{ site.data.free-trial[page.locale].freetrial.campusTag }}</option>
              {% if location_name == 'seattle' %}
              <option id="Seattle" value="Seattle" selected>Seattle</option>
              <option id="Online" value="Online">{{ site.data.free-trial[page.locale].freetrial.campus5 }}</option>
              {% elsif location_name == 'sandiego' %}
              <option id="San-diego" value="San-diego" selected>San Diego</option>
              <option id="Online-sd" value="Online-sd">Online</option>
              {% else %}
              <!-- <option id="San-diego" value="San-diego">San Diego</option> -->
              <option id="Seattle" value="Seattle">Seattle</option>
              <option id="Online" value="Online">{{ site.data.free-trial[page.locale].freetrial.campus5 }}</option>
              {% endif %}
            </select>
          </div>

          <div id="groupClassFields" style="display: none;">
            <div class="form-select-wrapper mb-4">
              <div class="text-sm text-muted mt-2">
                View detailed class schedule at <a href="https://codingmind.com/sandiego/schedule/" target="_blank">here</a>
              </div>
              <select class="form-select" aria-label="Class Name Selection" id="className" name="className">
                <option value="">Select Class Name</option>
              </select>
            </div>

            <div class="form-select-wrapper mb-4">
              <select class="form-select" aria-label="Class Schedule Selection" id="classSchedule" name="classSchedule">
                <option value="">Select Class Day & Time</option>
              </select>
            </div>
          </div>

          <div class="form-select-wrapper mb-4">
            <select class="form-select" aria-label="Default select example" required="required" id="referral"
              name="referral">
              <option value="">{{ site.data.free-trial[page.locale].freetrial.sourceTag }}</option>
              {% if location_name == 'sandiego' %}
                <option value="Google Search">Google Search</option>
                <option value="Friend Referral">Friend Referral</option>
                <option value="Social Media">Social Media</option>
                <option value="Flyer">Flyer</option>
                <option value="Walk-in">Walk-in</option>
                <option value="Event">Event</option>
              {% else %}
                <option id="xiaohongshu" value="xiaohongshu">{{ site.data.free-trial[page.locale].freetrial.source1 }}</option>
                <option id="Instagram" value="Instagram">{{ site.data.free-trial[page.locale].freetrial.source2 }}</option>
                <option id="Facebook" value="Facebook">{{ site.data.free-trial[page.locale].freetrial.source3 }}</option>
                <option id="WeChat" value="WeChat">{{ site.data.free-trial[page.locale].freetrial.source4 }}</option>
                <option id="Official Website" value="Official Website">{{ site.data.free-trial[page.locale].freetrial.source5 }}</option>
                <option id="Friend" value="Friend">{{ site.data.free-trial[page.locale].freetrial.source6 }}</option>
                <option id="Google" value="Google">{{ site.data.free-trial[page.locale].freetrial.source7 }}</option>
                <option id="TikTok" value="TikTok">{{ site.data.free-trial[page.locale].freetrial.source8 }}</option>
                <option id="Others" value="Others">{{ site.data.free-trial[page.locale].freetrial.source9 }}</option>
              {% endif %}
            </select>
          </div>

          <!-- <div class="form-select-wrapper mb-4">
            <textarea id="availability" name="availability" class="form-control"
              placeholder="{{ site.data.free-trial[page.locale].freetrial.trialAvailability }}" style="height: 150px"
              required></textarea>
          </div> -->

          <div id="dateTimeSelections" class="mb-4">
            <h4>Select at least 1 preferred dates and times for your trial class:</h4>

            <div class="date-time-selection mb-3">
              <input type="date" class="form-control mb-2 date-input" placeholder="*" required>
              <div class="d-flex">
                <select class="form-control me-2 hour-select" required>
                  <option value="">{{ site.data.free-trial[page.locale].freetrial.hour }}</option>
                </select>
                <select class="form-control minute-select" required>
                  <option value="">{{ site.data.free-trial[page.locale].freetrial.minute }}</option>
                  <option value="00">00</option>
                  <option value="30">30</option>
                </select>
              </div>
            </div>
            <div class="date-time-selection mb-3">
              <input type="date" class="form-control mb-2 date-input">
              <div class="d-flex">
                <select class="form-control me-2 hour-select" >
                  <option value="">{{ site.data.free-trial[page.locale].freetrial.hour }}</option>
                </select>
                <select class="form-control minute-select" >
                  <option value="">{{ site.data.free-trial[page.locale].freetrial.minute }}</option>
                  <option value="00">00</option>
                  <option value="30">30</option>
                </select>
              </div>
            </div>
            <div class="date-time-selection mb-3">
              <input type="date" class="form-control mb-2 date-input">
              <div class="d-flex">
                <select class="form-control me-2 hour-select" >
                  <option value="">{{ site.data.free-trial[page.locale].freetrial.hour }}</option>
                </select>
                <select class="form-control minute-select" >
                  <option value="">{{ site.data.free-trial[page.locale].freetrial.minute }}</option>
                  <option value="00">00</option>
                  <option value="30">30</option>
                </select>
              </div>
            </div>
          </div>

          <input type="hidden" id="availability" name="availability">

          <button type="submit" id="trialButton" class="btn btn-primary rounded-pill btn-send mb-3"> {{
            site.data.free-trial[page.locale].freetrial.submit }} </button>
        </form>
        <!-- /form -->

        <div id="QRCode" class="col-xl-6 flex-column w-100 align-items-center mt-12" style="display: none;">
          <div class="row">
            <div class="mx-auto mt-8 mt-md-0 text-center">
              <p class="lead text-center mb-10">{{ site.data.contact-us[page.locale].contact.weChatDesc }}</p>
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
          <div class="row">
            <div class="mx-auto mb-12">
              <img class="h-22" src="/img/updated/qr.png" />
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->

{%- if page.locale == "cn" -%}
<!-- Try Coding Mind -->
<section id="QRCodeCN" class="wrapper bg-soft-primary wrapper-border">
  <div class="container py-12 py-md-12">
    <div class="row text-center">
      <div class="col-md-10 mx-auto">
        <h3 class="display-4 text-navy">{{ site.data.free-trial[page.locale].freetrial.weChat}}</h3>
        <p class="lead mb-7 mb-md-7">{{ site.data.free-trial[page.locale].freetrial.weChatDesc}}</p>
        <div class="row">
          <div class="mx-auto mb-12">
            <img class="h-22" src="/img/updated/qr.png" />
          </div>
          <!-- /column -->
        </div>
      </div>
    </div>
    <!--/div -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->
{%- endif -%}

<div id="confirmModal" class="modal fade" tabindex="-1" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registration Process</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Your form has been saved successfully!</p>
        <p class="text-warning"><strong>Important:</strong> Please note that your registration is not complete until you complete the payment on the next page.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="confirmRedirect">I Understand, Continue to Payment</button>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>


<!-- Form submission code is located in assets/js/theme.js line 761 -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script type="text/javascript">
  const isNumericInput = (event) => {
    const key = event.keyCode;
    return ((key >= 48 && key <= 57) || // Allow number line
      (key >= 96 && key <= 105) // Allow number pad
    );
  };

  const isModifierKey = (event) => {
    const key = event.keyCode;
    return (event.shiftKey === true || key === 35 || key === 36) || // Allow Shift, Home, End
      (key === 8 || key === 9 || key === 13 || key === 46) || // Allow Backspace, Tab, Enter, Delete
      (key > 36 && key < 41) || // Allow left, up, right, down
      (
        // Allow Ctrl/Command + A,C,V,X,Z
        (event.ctrlKey === true || event.metaKey === true) &&
        (key === 65 || key === 67 || key === 86 || key === 88 || key === 90)
      )
  };

  const enforceFormat = (event) => {
    // Input must be of a valid number format or a modifier key, and not longer than ten digits
    if (!isNumericInput(event) && !isModifierKey(event)) {
      event.preventDefault();
    }
  };

  const formatToPhone = (event) => {
    if (isModifierKey(event)) { return; }

    const input = event.target.value.replace(/\D/g, '').substring(0, 10); // First ten digits of input only
    const areaCode = input.substring(0, 3);
    const middle = input.substring(3, 6);
    const last = input.substring(6, 10);

    if (input.length > 6) { event.target.value = `(${areaCode}) ${middle} - ${last}`; }
    else if (input.length > 3) { event.target.value = `(${areaCode}) ${middle}`; }
    else if (input.length > 0) { event.target.value = `(${areaCode}`; }
  };

  const inputElement = document.getElementById('phoneNumber');
  inputElement.addEventListener('keydown', enforceFormat);
  inputElement.addEventListener('keyup', formatToPhone);
</script>
<style>
  .required::after {
    content: " *";
    color: red;
    font-weight: bold;
  }

  .date-time-selection label {
    display: block;
    margin-bottom: 5px;
  }
</style>
{% if location_name == 'sandiego' %}
<style>
  #dateTimeSelections {
    display: none;
  }
</style>
{% endif %}
<script>
  const path = window.location.pathname;
  const pathSegments = path.split('/');
  const isChinese = pathSegments.includes('cn');
  let campus;
  if(isChinese){
    campus = pathSegments[2];
  } else {
    campus = pathSegments[1];
  }
  const dateTimeHeader = document.getElementById('dateTimeSelections').querySelector('h4');
  if (dateTimeHeader && isChinese) {
    dateTimeHeader.textContent = "请至少选择1个首选日期和时间进行试听课:";
  }
  const campusDescriptions = {
    "seattle": isChinese 
      ? "请填写此表格以预约西雅图校区的试听课，我们会尽快与您联系。欢迎来体验课程，看看是否适合您。"
      : "Schedule for a trial class at our Seattle campus by filling out this form, and we will get back to you shortly. Try out a class and see if it's the right fit for you.",
    "sandiego": "Schedule for a trial class in San Diego for $29 by filling out this form, and we will get back to you shortly. Try out a class to see if it's right for you."
  };
  const description = campusDescriptions[campus] || "Schedule for a trial class for free by filling out this form, and we will get back to you shortly. Try out a class to see if it's right for you.";

  // Update the form description text
  document.getElementById('formDescription').innerText = description;
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const locationName = '{{ location_name }}';
    const classTypeSelect = document.getElementById('classType');
    const groupClassFields = document.getElementById('groupClassFields');
    const dateTimeSelections = document.getElementById('dateTimeSelections');
    const today = new Date().toISOString().split('T')[0];

    // Set min attribute for all date inputs
    const dateInputs = document.querySelectorAll('.date-input');
    dateInputs.forEach(input => {
      input.min = today;
    });

    document.querySelectorAll('.hour-select').forEach(select => {
      for (let hour = 8; hour < 22; hour++) {
        const hourString = hour.toString().padStart(2, '0');
        select.innerHTML += `<option value="${hourString}">${hourString}</option>`;
      }
    });

    const hourSelects = document.querySelectorAll('.hour-select');
    hourSelects.forEach(select => {
      for (let hour = 8; hour < 22; hour++) {
        const hourString = hour.toString().padStart(2, '0');
        select.innerHTML += `<option value="${hourString}">${hourString}</option>`;
      }
    });

      // Fetch and populate schedule data
    fetch('/assets/schedule.json')
    .then(response => response.json())
    .then(data => {
      const scheduleData = data["San Diego"];
      const classNameSelect = document.getElementById('className');
      const classScheduleSelect = document.getElementById('classSchedule');

      // Populate class names
      classNameSelect.innerHTML = '<option value="">Select Class Name</option>';
      scheduleData.forEach(course => {
        classNameSelect.innerHTML += `<option value="${course.Name}">${course.Name}</option>`;
      });

      // Handle class name change
      classNameSelect.addEventListener('change', function() {
        classScheduleSelect.innerHTML = '<option value="">Select Class Day & Time</option>';
        const course = scheduleData.find(c => c.Name === this.value);
        if (course) {
          course.Schedule.forEach(schedule => {
            const value = `${schedule.Day}-${schedule.Time}`;
            classScheduleSelect.innerHTML += `<option value="${value}">${schedule.Day} ${schedule.Time}</option>`;
          });
        }
      });
    });
    
    // Handle class type change
    classTypeSelect.addEventListener('change', function() {
      const isGroup = this.value === 'group';
      groupClassFields.style.display = isGroup ? 'block' : 'none';
      dateTimeSelections.style.display = isGroup ? 'none' : 'none';

      // Toggle required attributes
      const dateTimeInputs = dateTimeSelections.querySelectorAll('[required]');
      const groupInputs = [document.getElementById('className'), document.getElementById('classSchedule')];
      
      dateTimeInputs.forEach(input => input.required = !isGroup);
      groupInputs.forEach(input => input.required = isGroup);
    });

    if (locationName === 'sandiego') {
      const dateTimeSelections = document.getElementById('dateTimeSelections');
      const requiredInputs = dateTimeSelections.querySelectorAll('[required]');
      requiredInputs.forEach(input => {
        input.removeAttribute('required');
      });
    }
  });

</script>