---
layout: locationdefault
---

{% assign parts = page.url | split: '/' %}

{% if page.url contains '/cn/' %}
{% assign location_name = parts[2] %}
{% assign logo_url = '/cn/' | append: location_name %}
{% assign translated_url = page.url | replace: '/cn/', '/' %}
{% else %}
{% assign location_name = parts[1] %}
{% assign logo_url = '/' | append: location_name %}
{% assign translated_url = '/cn' | append: page.url %}
{% endif %}
<section class="wrapper bg-light">
  <div class="container pt-8 pt-md-12 pb-8 pb-md-8">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-xl-5 offset-xl-1 text-center">
        <!-- Course Info Card -->
        <div class="card shadow-lg mb-5">
          <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h5 class="card-title mb-0">{% if site.data.register[page.locale].register.courseInfo %}{{
              site.data.register[page.locale].register.courseInfo }}{% else %}Course Information{% endif %}</h5>
            <button id="toggleButton" class="btn btn-sm btn-primary text-white" type="button" data-bs-toggle="collapse"
              data-bs-target="#courseInfoContent" aria-expanded="true" aria-controls="courseInfoContent">
              <span id="toggleArrow">&#9650;</span> <!-- Default is Up -->
            </button>
          </div>
          <div class="collapse show" id="courseInfoContent">
            <div class="card-body text-start">
              <div class="mb-3 row">
                <div class="col-5 text-start">
                  <strong>{% if site.data.register[page.locale].register.courseName %}{{
                    site.data.register[page.locale].register.courseName }}{% else %}Course{% endif %}:</strong>
                </div>
                <div class="col-7 text-start">
                  <span id="registerCourseName">-</span>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-5 text-start">
                  <strong>{% if site.data.register[page.locale].register.courseDate %}{{
                    site.data.register[page.locale].register.courseDate }}{% else %}Dates{% endif %}:</strong>
                </div>
                <div class="col-7 text-start">
                  <span id="registerCourseDates">-</span>
                </div>
              </div>
              <div class="mb-3 row d-none" id="priceContainer">
                <div class="col-5 text-start">
                  <strong>{% if site.data.register[page.locale].register.price %}{{
                    site.data.register[page.locale].register.price }}{% else %}Price{% endif %}:</strong>
                </div>
                <div class="col-7 text-start">
                  <span id="registerCoursePrice">-</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--/column -->
          {% if location_name == 'sandiego' %}
          <h2 class="display-2 mb-3">Sign up for a Coding Mind account</h2>
          {% else %}
          <h2 class="display-2 mb-3">{{ site.data.register[page.locale].register.header }}</h2>
          {% endif %}
          <form id="registerForm" class="needs-validation" novalidate>
            <div class="messages"></div>
            <div class="row gx-2">
              <div class="col-sm-6 form-floating mb-4">
                <input type="text" name="firstName" class="form-control"
                  placeholder="{{ site.data.register[page.locale].register.firstname }}" required>
                <label for="firstName">{{ site.data.register[page.locale].register.firstname }}</label>
              </div>
              <div class="col-sm-6 form-floating mb-4">
                <input type="text" name="lastName" class="form-control"
                  placeholder="{{ site.data.register[page.locale].register.lastname }}" required>
                <label for="lastName">{{ site.data.register[page.locale].register.lastname }}</label>
              </div>
            </div>
            <div class="form-floating mb-4">
              <input type="email" name="studentEmail" class="form-control"
                placeholder="{{ site.data.register[page.locale].register.studentEmail }}" required>
              <label for="studentEmail">{{ site.data.register[page.locale].register.studentEmail }}</label>
            </div>
            <div class="form-floating mb-4">
              <input type="email" name="parentEmail" class="form-control"
                placeholder="{{ site.data.register[page.locale].register.parentEmail }}" required>
              <label for="parentEmail">{{ site.data.register[page.locale].register.parentEmail }}</label>
            </div>
            <div class="form-floating mb-4">
              <input type="password" name="password" class="form-control"
                placeholder="{{ site.data.register[page.locale].register.password }}" required>
              <label for="password">{{ site.data.register[page.locale].register.password }}</label>
            </div>
            <div class="form-floating mb-4">
              <input type='tel' name="phone" class="form-control"
                placeholder="{{ site.data.register[page.locale].register.phone }}" required>
              <label for="phone">{{ site.data.register[page.locale].register.phone }}</label>
            </div>
            <div class="form-floating mb-4">
              <select name="grade" class="form-select" required>
                <option value="" selected disabled>{{ site.data.register[page.locale].register.grade }}</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
              <label for="grade">{{ site.data.register[page.locale].register.grade }}</label>
            </div>
            <div class="form-floating mb-4">
              <input type="date" name="dateOfBirth" class="form-control"
                placeholder="{{ site.data.register[page.locale].register.dateOfBirth }}">
              <label for="dateOfBirth">{{ site.data.register[page.locale].register.dateOfBirth }}</label>
            </div>
            <button type="submit" class="btn btn-primary rounded-pill btn-send mb-3">
              {{ site.data.register[page.locale].register.register }}
            </button>
            <!-- Loading indicator -->
            <div class="loading-indicator" style="display: none;">
              {{ site.data.register[page.locale].register.loading }}
            </div>
          </form>
          <!-- /form -->
      </div>
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->

<div id="confirmModal" class="modal fade" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registration Form Saved</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="alert alert-success" role="alert">
          Your registration form has been saved successfully!
        </div>
        <p class="text-warning"><strong>Important:</strong> Please note that your registration is not complete until you
          complete the payment on the next page.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="confirmRedirect">I Understand, Continue to Payment</button>
      </div>
    </div>
  </div>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/register.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const toggleArrow = document.getElementById('toggleArrow');
    const collapseEl = document.getElementById('courseInfoContent');

    collapseEl.addEventListener('show.bs.collapse', function () {
      toggleArrow.innerHTML = '&#9650;'; // ▲
    });

    collapseEl.addEventListener('hide.bs.collapse', function () {
      toggleArrow.innerHTML = '&#9660;'; // ▼
    });
  });
</script>