---
layout: default
---

<!-- example: http://127.0.0.1:4000/mothers-day?video=QV5pglqKDGQ -->
<div class="content-wrapper">
    <div class="envelope-shake-wrapper">
        <div class="envelope-wrapper">
            <div class="lid one"></div>
            <div class="lid two"></div>
            <div class="envelope"></div>
            <div class="letter">
                <!-- Main Content Section (Initially Hidden) -->
                <section
                    id="mainContent"
                    class="wrapper pt-8 pt-md-12"
                    style="
                        display: none;
                        background: linear-gradient(
                            180deg,
                            #fff8f8 0%,
                            #ffffff 100%
                        );
                    "
                >
                    <div class="container pb-19 pb-md-20">
                        <!-- Decorative elements -->
                        <div
                            class="position-absolute"
                            style="top: 0; left: 5%; opacity: 0.1"
                        >
                            <i
                                class="uil uil-heart"
                                style="font-size: 4rem; color: #ff6b6b"
                            ></i>
                        </div>
                        <div
                            class="position-absolute"
                            style="top: 20%; right: 8%; opacity: 0.1"
                        >
                            <i
                                class="uil uil-flower"
                                style="font-size: 3rem; color: #ff6b6b"
                            ></i>
                        </div>
                        <div
                            class="position-absolute"
                            style="top: 30%; left: 10%; opacity: 0.1"
                        >
                            <i
                                class="uil uil-heart"
                                style="font-size: 3rem; color: #ff6b6b"
                            ></i>
                        </div>

                        <div class="row text-center">
                            <div class="col-md-10 col-xl-8 mx-auto">
                                <div class="post-header">
                                    <div class="mb-4">
                                        <i
                                            class="uil uil-heart-alt"
                                            style="
                                                font-size: 3rem;
                                                color: #ff6b6b;
                                            "
                                        ></i>
                                    </div>
                                    <h1
                                        class="display-1 mb-4"
                                        id="messageTitle"
                                    >
                                        {{
                                        site.data.mothers-day[page.locale].title
                                        }}
                                    </h1>
                                    <!-- <p class="lead mb-5" style="color: #7c7c7c">
                                    A special tribute to celebrate the love and
                                    dedication of mothers everywhere
                                </p> -->
                                    <!-- <ul
                                        class="post-meta"
                                        style="
                                            background: rgba(
                                                255,
                                                107,
                                                107,
                                                0.1
                                            );
                                            padding: 1rem;
                                            border-radius: 10px;
                                        "
                                    >
                                        <li class="post-author">
                                            <i class="uil uil-heart"></i>
                                            <span>With love from </span>
                                            <span id="studentName"></span>
                                        </li>
                                    </ul> -->
                                </div>
                            </div>
                        </div>

                        <div class="card-body text-left letterContent">
                            <div class="text-left">
                                <h3 class="h2 mb-4">
                                    {{
                                    site.data.mothers-day[page.locale].greeting
                                    }}
                                </h3>
                                <p class="mb-4" id="message1">
                                    {{
                                    site.data.mothers-day[page.locale].message_1
                                    }}
                                </p>
                                <p class="mb-4" id="message2">
                                    {{
                                    site.data.mothers-day[page.locale].message_2
                                    }}
                                </p>
                                <!-- <p class="text-muted mb-4">
                                    {{ site.data.mothers-day[page.locale].signature }}<br>
                                    <span id="studentSignature"></span>
                                </p> -->
                            </div>
                        </div>
                    </div>
                </section>

                <section
                    id="videoSection"
                    class="wrapper"
                    style="display: none"
                >
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="blog single mt-n17">
                                    <div
                                        class="card"
                                        style="
                                            border-radius: 15px;
                                            box-shadow: 0 0 40px
                                                rgba(255, 107, 107, 0.1);
                                        "
                                    >
                                        <div
                                            style="
                                                position: relative;
                                                padding-bottom: 56.25%;
                                                height: 0;
                                                overflow: hidden;
                                                border-radius: 15px 15px 0 0;
                                            "
                                        >
                                            <video
                                                src="https://sharemyworks-projects.s3.us-west-1.amazonaws.com/data/users/5adbee4fee3da0002f416229/activities/5b1794092a7298001499ce6c/egg_timer_in_super_slow_motion_draining%20(1080p).mp4"
                                                id="videoPlayer"
                                                style="
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    width: 100%;
                                                    height: 100%;
                                                    border: 0;
                                                    display: none;
                                                "
                                                controls
                                                allowfullscreen
                                            ></video>
                                            <iframe
                                                id="youtubeEmbed"
                                                style="
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    width: 100%;
                                                    height: 100%;
                                                    border: 0;
                                                    display: none;
                                                "
                                                allowfullscreen
                                                frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                            >
                                            </iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Social Media Share Buttons -->
                            <div
                                class="pt-10"
                                style="
                                    text-align: center;
                                    font-weight: 500;
                                    margin-bottom: 0.5rem;
                                    font-size: 1.2rem;
                                "
                            >
                                Share:
                            </div>
                            <div
                                class="social-share-row"
                                style="
                                    display: flex;
                                    justify-content: center;
                                    gap: 1.2rem;
                                    margin: 2rem auto;
                                "
                            >
                                <a
                                    href="https://www.facebook.com/sharer/sharer.php?u="
                                    onclick="shareOnFacebook(event)"
                                    class="social-icon"
                                    title="Facebook"
                                >
                                    <img
                                        src="assets/img/icons/social/facebook.png"
                                        alt="Facebook"
                                        style="width: 36px; height: 36px"
                                    />
                                </a>
                                <!-- <button
                                    type="button"
                                    class="social-icon"
                                    title="WeChat"
                                    onclick="showWeChatQR()"
                                >
                                    <img
                                        src="assets/img/icons/social/wechat.png"
                                        alt="WeChat"
                                        style="width: 36px; height: 36px"
                                    />
                                </button> -->
                                <button
                                    type="button"
                                    class="social-icon"
                                    title="Copy Link"
                                    onclick="copyToClipboard()"
                                >
                                    <img
                                        src="assets/img/icons/social/link.png"
                                        alt="Copy Link"
                                        style="width: 36px; height: 36px"
                                    />
                                </button>
                            </div>
                            <!-- WeChat QR Modal -->
                        </div>
                    </div>
                </section>

                <!-- Subtle Promotional Button -->
                <div class="container pb-14 pb-md-16">
                    <div class="row">
                        <div class="col-lg-10 mx-auto">
                            <a
                                href="{% if page.locale == 'cn' %}/cn/free-trial{% else %}/free-trial{% endif %}"
                                style="
                                    background: #ffe4e1;
                                    padding: 1rem 2rem;
                                    border-radius: 12px;
                                    font-family: 'Arial', sans-serif;
                                    border: none;
                                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                                    color: #8b4513;
                                    font-weight: 500;
                                    transition: all 0.3s ease;
                                    cursor: pointer;
                                    display: block;
                                    margin: 2rem auto;
                                    width: auto;
                                    min-width: min-content;
                                    text-decoration: none;
                                    text-align: center;
                                "
                                onmouseover="this.style.background='#FFD1C9'; this.style.transform='translateY(-2px)'; this.style.boxShadow='0 4px 8px rgba(0,0,0,0.15)'"
                                onmouseout="this.style.background='#FFE4E1'; this.style.transform='none'; this.style.boxShadow='0 2px 4px rgba(0,0,0,0.1)'"
                            >
                                {{
                                site.data.mothers-day[page.locale].promo_message
                                }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/qrcode@1.5.0/build/qrcode.min.js"></script>
<style>
    /* reference url: https://codepen.io/Coding-Star/pen/WNpbvwB */

    .letterContent {
        padding-left: 100px;
        padding-right: 100px;
    }

    .envelope-wrapper {
        height: 35vw;
        width: 70%;
        background-color: transparent;
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 0;
        margin: 2rem auto;
        margin-top: 20vw;
        margin-bottom: 20vw;
        transition: margin 0.5s ease-in-out;
    }

    .lid {
        position: absolute;
        height: 0;
        width: 0;
        top: 0;
        left: 0;
        border-right: 35vw solid transparent;
        border-bottom: 17.5vw solid transparent;
        border-left: 35vw solid transparent;
        transform-origin: top;
        transition: transform 0.4s ease-in-out;
    }

    /* Lid when closed */
    .lid.one {
        border-top: 17.5vw solid #ffe4e1;
        transform: rotateX(0deg);
        z-index: 3;
        transition-delay: 0.4s;
    }

    /* Lid when opened */
    .lid.two {
        border-top: 17.5vw solid #ffd1c9;
        transform: rotateX(90deg);
        z-index: 1;
        transition-delay: 0.2s;
    }

    .envelope {
        position: absolute;
        height: 0;
        width: 0;
        top: 0;
        left: 0;
        border-top: 17.5vw solid transparent;
        border-right: 35vw solid #ffe4e1;
        border-bottom: 17.5vw solid #ffe4e1;
        border-left: 35vw solid #ffe4e1;
        z-index: 3;
        filter: drop-shadow(0 5px 15px rgba(0, 0, 0, 0.1));
    }

    .letter {
        position: absolute;
        top: 1vw;
        width: calc(70vw - 20px);
        height: 33vw;
        background-color: white;
        border-radius: 15px;
        z-index: 2;
        transition: all 0.5s ease-in-out;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        overflow: visible;
        overflow-y: scroll;
        margin-left: 1vw;
    }

    .envelope-wrapper.can-open.open .lid.one {
        transform: rotateX(90deg);
        transition-delay: 0s;
    }

    .envelope-wrapper.can-open.open .lid.two {
        transform: rotateX(180deg);
        transition-delay: 0.2s;
    }

    .envelope-wrapper.can-open.open {
        margin-top: 60vw;
    }

    .envelope-wrapper.can-open.open .letter {
        transform: translateY(-50vw);
        height: calc(
            50vw + 33vw
        ); /* 50vw is the height of the envelope, 33vw is the height of the letter, not 35vw to prevent overflow from the bottom of the envelope*/
        transition-delay: 0.5s;
        padding-bottom: 23vw;
    }

    @keyframes shake {
        0% {
            transform: rotate(0deg);
        }
        20% {
            transform: rotate(4deg);
        }
        40% {
            transform: rotate(-4deg);
        }
        60% {
            transform: rotate(4deg);
        }
        80% {
            transform: rotate(-4deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    .envelope-shake-wrapper.shake {
        animation: shake 0.5s;
        animation-iteration-count: 2;
    }

    @media (max-width: 1024px) {
        .envelope-wrapper {
            width: 80%;
            height: 40vw;
        }

        .lid {
            border-right: 40vw solid transparent;
            border-bottom: 20vw solid transparent;
            border-left: 40vw solid transparent;
        }

        .lid.one {
            border-top: 20vw solid #ffe4e1;
        }

        .lid.two {
            border-top: 20vw solid #ffd1c9;
        }

        .envelope {
            border-top: 20vw solid transparent;
            border-right: 40vw solid #ffe4e1;
            border-bottom: 20vw solid #ffe4e1;
            border-left: 40vw solid #ffe4e1;
        }

        .letter {
            width: calc(80vw - 10px);
            height: calc(40vw - 10px);
        }

        .envelope-wrapper.can-open.open {
            margin-top: 60vw;
        }

        .envelope-wrapper.can-open.open .letter {
            transform: translateY(-50vw);
            height: calc(50vw + 37vw);
            transition-delay: 0.5s;
            padding-bottom: 30vw;
        }

        .letterContent {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    @media (max-width: 768px) {
        .envelope-wrapper {
            width: 90%;
            height: 50vw;
        }

        .lid {
            border-right: 45vw solid transparent;
            border-bottom: 25vw solid transparent;
            border-left: 45vw solid transparent;
        }

        .lid.one {
            border-top: 25vw solid #ffe4e1;
        }

        .lid.two {
            border-top: 25vw solid #ffd1c9;
        }

        .envelope {
            border-top: 25vw solid transparent;
            border-right: 45vw solid #ffe4e1;
            border-bottom: 25vw solid #ffe4e1;
            border-left: 45vw solid #ffe4e1;
        }

        .letter {
            width: calc(90vw - 30px);
            height: calc(50vw - 10px);
        }

        .envelope-wrapper.can-open.open {
            margin-top: 60vh;
        }

        .envelope-wrapper.can-open.open .letter {
            transform: translateY(-50vh);
            height: calc(50vh + 43vw);
            transition-delay: 0.5s;
            padding-bottom: 23vw;
        }

        .letterContent {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @media (max-width: 480px) {
        .letterContent {
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .social-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        color: #fff;
        font-size: 1.5rem;
        transition: transform 0.2s, box-shadow 0.2s, background 0.2s;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        outline: none;
        border: none;
        background: none;
    }
    .social-icon:hover {
        transform: translateY(-4px) scale(1.08);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.18);
        filter: brightness(1.1);
    }
</style>
<!-- Confetti CDN -->
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const projectId = urlParams.get("projectId");

    // const baseUrl = "http://localhost:3000/";
    const baseUrl = "https://explorer.sharemyworks.com/";
    if (projectId) {
        fetchUserData(projectId);
    }

    async function fetchUserData(projectId) {
        try {
            console.log(
                `${baseUrl}api/Activity/${encodeURIComponent(projectId)}`
            );
            const response = await fetch(
                `${baseUrl}api/Activity/${encodeURIComponent(projectId)}`
            );
            if (!response.ok) {
                throw new Error("Failed to fetch data");
            }
            const data = await response.json();

            console.log(data);

            if (data.type !== "mothers-day-project") {
                alert("Invalid project type");
                return;
            }

            if (data.videoUrl == "") {
                const videos = await fetch(
                    `${baseUrl}api/Activity/${encodeURIComponent(
                        projectId
                    )}/getVideos`
                );
                const videosData = await videos.json();
                console.log(videosData);
                const video = videosData.videos[0].s3Link;
                console.log(video);
                document.getElementById("videoPlayer").src = video;
                document.getElementById("videoPlayer").style.display = "block";
                document.getElementById("youtubeEmbed").style.display = "none";
            } else {
                const videoLink = data.videoUrl;
                function extractYouTubeId(url) {
                    // Handles both youtu.be and youtube.com/watch?v= formats
                    const regExp =
                        /(?:youtube\.com\/.*v=|youtu\.be\/)([^&?/]+)/;
                    const match = url.match(regExp);
                    return match ? match[1] : null;
                }
                const videoId = extractYouTubeId(videoLink);
                if (videoId) {
                    document.getElementById(
                        "youtubeEmbed"
                    ).src = `https://www.youtube.com/embed/${videoId}`;
                    document.getElementById("youtubeEmbed").style.display =
                        "block";
                    document.getElementById("videoPlayer").style.display =
                        "none";
                } else {
                    alert("Invalid YouTube URL");
                }
            }

            if (data.description) {
                document.getElementById("message1").innerText =
                    data.description;
            }

            document.getElementById("mainContent").style.display = "flex";
            document.getElementById("videoSection").style.display = "block";
            document
                .querySelector(".envelope-wrapper")
                .classList.add("can-open");

            let canonicalLink = document.querySelector('link[rel="canonical"]');
            if (!canonicalLink) {
                canonicalLink = document.createElement("link");
                canonicalLink.rel = "canonical";
                document.head.appendChild(canonicalLink);
            }
            canonicalLink.href =
                "https://codingmind.com/mothers-day?projectId=" +
                projectId;
        } catch (error) {
            alert("Error fetching data. Please try again.");
            console.error("Error:", error);
        }
    }

    function copyToClipboard() {
        const text = window.location.href;
        navigator.clipboard.writeText(text);
        alert("Copied to clipboard");
    }

    function triggerEnvelopeShake() {
        const shakeWrapper = document.querySelector(".envelope-shake-wrapper");
        const env = document.querySelector(".envelope-wrapper");
        if (!env.classList.contains("can-open")) {
            shakeWrapper.classList.add("shake");
            setTimeout(() => {
                shakeWrapper.classList.remove("shake");
            }, 1000); // slightly longer than animation
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        const env = document.querySelector(".envelope-wrapper");
        env.addEventListener("click", function () {
            if (env.classList.contains("can-open")) {
                const willOpen = !env.classList.contains("open");
                env.classList.toggle("open");
                if (willOpen) {
                    // Fire confetti when opening
                    if (window.confetti) {
                        confetti({
                            particleCount: 120,
                            spread: 80,
                            origin: { y: 0.5 },
                        });
                        setTimeout(() => {
                            confetti({
                                particleCount: 80,
                                spread: 60,
                                origin: { y: 0.7 },
                            });
                        }, 300);
                    }
                }
            } else {
                triggerEnvelopeShake();
            }
        });
    });

    function shareOnFacebook(event) {
        event.preventDefault();
        const url = encodeURIComponent(window.location.href);
        window.open(
            `https://www.facebook.com/sharer/sharer.php?u=${url}`,
            "_blank",
            "width=600,height=400"
        );
    }

    const url = new URL(window.location.href);
    url.searchParams.set("utm_source", "mobile_share"); // Add or update a parameter
    navigator.share({
        url: url.toString(),
        title: "Check this out!",
        text: "Here is something interesting.",
    });
    // function showWeChatQR() {
    //     document.getElementById("wechatQRModal").style.display = "flex";
    // }
    // function hideWeChatQR() {
    //     document.getElementById("wechatQRModal").style.display = "none";
    // }
</script>

<!-- 
<div
    id="wechatQRModal"
    style="
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.4);
        z-index: 9999;
        align-items: center;
        justify-content: center;
    "
>
    <div
        style="
            background: #fff;
            padding: 2rem;
            border-radius: 16px;
            text-align: center;
            position: relative;
            max-width: 90vw;
            max-height: 90vh;
        "
    >
        <span
            style="
                position: absolute;
                top: 0.5rem;
                right: 1rem;
                font-size: 2rem;
                cursor: pointer;
            "
            onclick="hideWeChatQR()"
            >&times;</span
        >
        <h4 style="margin-bottom: 1rem">Scan to share on WeChat</h4>
        <img
            src="/img/updated/qr.png"
            alt="WeChat QR"
            style="width: 180px; height: 180px"
        />
    </div>
</div> -->
