---
layout: footer
---

<div class="content-wrapper">
    <header class="wrapper bg-gray">
      <nav id="navbar" class="navbar navbar-expand-lg fancy position-absolute navbar-light navbar-bg-light caret-none">
        <div class="container">
          <div class="navbar-collapse-wrapper bg-white d-flex flex-row flex-nowrap w-100 justify-content-between align-items-center shadow-dark">
            <div class="navbar-brand w-100">
            <a href="/">
              <img  class="h-10" src="/assets/img/codingmindlogo.png" srcset="/assets/img/codingmindlogo.png 2x" alt="" />
            </a>
          </div>
          <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
            <div class="offcanvas-header d-lg-none">
              <h3 class="text-white fs-30 mb-0">Coding Minds Academy</h3>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
              <ul class="navbar-nav">

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle nav-text-solid " data-bs-toggle="dropdown">Programs</a>
                  <div class="dropdown-menu">
                    <div class="dropdown-content">
                      <div>
                        <h6 class="dropdown-header">Our Programs</h6>
                        <ul class="list-unstyled">
                          <li><a class="dropdown-item" href="#">Online Group Classes</a></li>
                          <li><a class="dropdown-item" href="#">Online 1-on-1 Private Lessons</a></li>
                          <li><a class="dropdown-item" href="#">Enrichment Project Programs</a></li>
                        </ul>
                      </div>
                      <!-- /.column -->
                    </div>
                    <!-- /auto-column -->
                  </div>

                </li>

                <li class="nav-item">
                  <a class="nav-link nav-text-solid " href="/courses">Courses</a>
                </li>

                <li class="nav-item ">
                  <a class="nav-link nav-text-solid " href="/projects">Student Projects</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link nav-text-solid " href="/contact-us">Contact Us</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link nav-text-solid " href="/free-trial" id="nav-text-solid">Free Trial</a>
                </li>

              </ul>

              
              <!-- /.navbar-nav -->

              <div class="offcanvas-footer d-lg-none">
                <div>
                  <a href="mailto:contact@codingmindsacademy.com" class="link-inverse fs-14">contact@codingmindsacademy.com</a>
                  <br /> (949) 236-7896  <br />
                  <nav class="nav social social-white mt-4">
                    <a href="#"><i class="uil uil-twitter"></i></a>
                    <a href="#"><i class="uil uil-facebook-f"></i></a>
                    <a href="#"><i class="uil uil-dribbble"></i></a>
                    <a href="#"><i class="uil uil-instagram"></i></a>
                    <a href="#"><i class="uil uil-youtube"></i></a>
                  </nav>
                  <!-- /.social -->
                </div>
              </div>
              <!-- /.offcanvas-footer -->
            </div>
            <!-- /.offcanvas-body -->
          </div>
          <!-- /.navbar-collapse -->
          <div class="navbar-other w-100 d-flex ms-auto">
            <ul class="navbar-nav flex-row align-items-center ms-auto">

				<li class="nav-item d-none d-md-block">
					<a href="#" class="btn btn-sm btn-primary rounded-pill " data-bs-toggle="modal" data-bs-target="#modal-signin">Learning Center</a>
				  </li>
          
				<li class="nav-item d-lg-none">
                <button class="hamburger offcanvas-nav-btn"><span></span></button>
              </li>
            </ul>
            <!-- /.navbar-nav -->
          </div>
          <!-- /.navbar-other -->
        </div>
      </div>
      <!-- /.navbar-collapse-wrapper -->
        <!-- /.container -->
      </nav>
      <!-- /.navbar -->

    </header>
    <!-- /header -->
  </div>

  {{ content }}
