---
layout: default
---
    <!-- Title -->
    <section class="wrapper bg-light">
        <div class="container pt-10 pb-19 pt-md-10 pb-md-20 text-center">
          <div class="row">
            <div class="col-md-10 col-xl-8 mx-auto">
                <h1 class="display-2 mb-5">{{ site.data.partners[page.locale].partners.header }}</h1>
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->
    
    <!-- Headline -->
    <section class="wrapper bg-custom">
        <div class="container pb-12">
          <div class="row">
            <div class="col-lg mx-auto">
              <div class="blog single mt-n18">
                <div class="card shadow-lg">
                  <div class="card-body text-center">
                    <p class="lead fs-lg mb-6 fw-bold">{{ site.data.partners[page.locale].partners.lead }}</p>
                    <p class="mb-8">
                        {{ site.data.partners[page.locale].partners.paragraph }}
                    </p>

                        <!-- University Partners -->
                        <h2 class="fs-15 text-uppercase text-muted mb-3">{{ site.data.partners[page.locale].partners.uniHeader }}</h2>
                        <div class="row row-cols-2 row-cols-md-4 gx-0 gx-md-8 justify-content-center">
                          <div class="col">
                            <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/brands/Stanford.png" alt="" class="h-15 object-fit-contain"/></figure>
                          </div>
                          <div class="col">
                            <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/university1.png" alt="" class="h-15 object-fit-contain"/></figure>
                          </div>
                          <!--/column -->
                          <div class="col">
                            <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/university2.png" alt="" class="h-15 object-fit-contain"/></figure>
                          </div>
                          <!--/column -->
                          <div class="col">
                            <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/university3.png" alt="" class="h-15 object-fit-contain"/></figure>
                          </div>
                          <!--/column -->
                          <div class="col">
                            <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/university4.png" alt="" class="h-15 object-fit-contain"/></figure>
                          </div>
                          <!--/column -->
                          <div class="col">
                            <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/university5.png" alt="" class="h-15 object-fit-contain"/></figure>
                          </div>
                          <!--/column -->
                          <div class="col">
                            <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/university6.png" alt="" class="h-15 object-fit-contain"/></figure>
                          </div>
                          <!--/column -->
                          <div class="col">
                            <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/university7.png" alt="" class="h-15 object-fit-contain"/></figure>
                          </div>
                          <!--/column -->
                          <div class="col">
                            <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/university8.png" alt="" class="h-15 object-fit-contain"/></figure>
                          </div>
                          <!--/column -->
                          <div class="col">
                          <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/university9.png" alt="" class="h-15 object-fit-contain"/></figure>
                          </div>
                          <!--/column -->
                          <div class="col">
                              <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/university10.png" alt="" class="h-15 object-fit-contain"/></figure>
                          </div>
                          <!--/column -->
                          <div class="col">
                            <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/brands/GeorgiaTech.png" alt="" class="h-15 object-fit-contain"/></figure>
                          </div>
                        </div>
                        <!--/.row -->

                    <!-- Industry Partners -->
                    <h2 class="fs-15 text-uppercase text-muted mt-6 mb-6"> {{ site.data.partners[page.locale].partners.industryHeader }}</h2>

                    <div class="row row-cols-2 row-cols-md-4 g-0 g-md-8 justify-content-center">
                      <div class="col">
                        <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/industry1.png" alt="" class="h-15 object-fit-contain"/></figure>
                      </div>
                      <!--/column -->
                      <div class="col">
                        <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/industry2.png" alt="" class="h-15 object-fit-contain"/></figure>
                      </div>
                      <!--/column -->
                      <div class="col">
                        <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/industry3.png" alt="" class="h-15 object-fit-contain"/></figure>
                      </div>
                      <!--/column -->
                      <div class="col">
                        <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/industry4.png" alt="" class="h-15 object-fit-contain"/></figure>
                      </div>
                      <!--/column -->
                      <div class="col">
                        <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/industry5.png" alt="" class="h-15 object-fit-contain"/></figure>
                      </div>
                      <!--/column -->
                      <div class="col">
                        <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/industry6.png" alt="" class="h-15 object-fit-contain"/></figure>
                      </div>
                      <!--/column -->
                      <div class="col">
                        <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/industry7.png" alt="" class="h-15 object-fit-contain"/></figure>
                      </div>
                      <!--/column -->
                      <div class="col">
                        <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/industry8.png" alt="" class="h-15 object-fit-contain"/></figure>
                      </div>
                      <!--/column -->
                      <div class="col">
                      <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/industry9.png" alt="" class="h-15 object-fit-contain"/></figure>
                      </div>
                      <!--/column -->
                      <div class="col">
                          <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/industry10.png" alt="" class="h-15 object-fit-contain"/></figure>
                      </div>
                      <!--/column -->
                    </div>
                    <!--/.row -->

                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.blog -->
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /section -->

    <!-- Partner Organizations -->
    <section class="wrapper bg-custom2">
      <div class="container pb-12 pb-md-12">
        <!-- University Partners -->
            <h2 class="fs-15 text-uppercase text-muted mb-12 text-center">{{ site.data.partners[page.locale].partners.orgHeader }}</h2>
            <!-- /column -->
              <div class="row row-cols-2 row-cols-md-4 gx-0 gx-md-8 gx-xl-12 gy-12">
                <div class="col">
                    <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/org1.jpg" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/column -->
                <div class="col">
                    <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/org2.png" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/column -->
                <div class="col">
                    <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/org3.png" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/column -->
                <div class="col">
                    <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/org4.jpg" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/column -->
                <div class="col">
                    <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/org5.jpg" alt="" class="h-15 object-fit-contain" /></figure>
                </div>
                <!--/column -->
                <div class="col">
                    <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/org6.jpg" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/column -->
                <div class="col">
                    <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/org7.png" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/column -->
                <div class="col">
                    <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/org8.png" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/column -->
                <div class="col">
                    <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/org9.png" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/column -->
                <div class="col">
                    <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/org10.jpg" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/column -->
                <div class="col">
                    <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/org11.jpg" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/column -->
                <div class="col">
                    <figure class="px-3 px-md-0 px-xxl-2"><img src="/assets/img/partners/org12.png" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
        </div>
      <!-- /.container -->
    </section>
    <!-- /section -->

    <!-- Remote Opportunities -->
    <section class="wrapper">
    <div class="container py-12">
        <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
        <div class="col-lg-6 order-lg-2">
            <figure><img class="w-auto" src="/assets/img/custom_photos/partners.png"  alt="" /></figure>
        </div>
        <!--/column -->
        <div class="col-lg-6">
            <h2 class="display-4 mb-3">{{ site.data.partners[page.locale].partners.thirdParty }}</h2>
            <p class="lead fs-lg">{{ site.data.partners[page.locale].partners.thirdPartyLead }}</p>
            <p class="">
                {{ site.data.partners[page.locale].partners.thirdPartyP1 }}
            </p>
            <p class="">
                {{ site.data.partners[page.locale].partners.thirdPartyP2 }}
            </p>
            <p class="mb-8">
                {{ site.data.partners[page.locale].partners.thirdPartyP3 }}
            </p>
        </div>
        <!--/column -->
        </div>
        <!--/.row -->

        <div class="row row-cols-2 row-cols-md-3 row-cols-xl-5 gx-lg-6 gy-6 justify-content-center">
            <div class="col">
              <div class="card shadow-lg h-100 align-items-center">
              <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                  <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org23.png" alt="" class="h-15 object-fit-contain"/></figure>
              </div>
              <!--/.card-body -->
              </div>
              <!--/.card -->
          </div>
         <!--/column -->
            <div class="col">
              <div class="card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                  <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/university8.png" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
            </div>
            <!--/column -->
            <div class="col">
              <div class="card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                  <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org13.png" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
            </div>
            <!--/column -->
            <div class="col">
              <div class="card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                  <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org14.png" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
            </div>
            <!--/column -->
            <div class="col">
              <div class="card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                  <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org15.png" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
            </div>
            <!--/column -->
            <div class="col">
              <div class="card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                  <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org24.png" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/.card-body -->
              </div>
              <!--/.card -->
            </div>
            <!--/column -->

            <div class="col">
                <div class="card shadow-lg h-100 align-items-center">
                  <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                    <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/industry6.png" alt="" class="h-15 object-fit-contain"/></figure>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!--/column -->

              <div class="col">
                <div class="card shadow-lg h-100 align-items-center">
                  <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                    <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org17.png" alt="" class="h-15 object-fit-contain"/></figure>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!--/column -->

              <div class="col">
                <div class="card shadow-lg h-100 align-items-center">
                  <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                    <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org25.png" alt="" class="h-15 object-fit-contain"/></figure>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!--/column -->
              
              <div class="col">
                <div class="card shadow-lg h-100 align-items-center">
                  <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                    <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org19.png" alt="" class="h-15 object-fit-contain"/></figure>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!--/column -->

              <div class="col">
                <div class="card shadow-lg h-100 align-items-center">
                  <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                    <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org21.png" alt="" class="h-15 object-fit-contain"/></figure>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!--/column -->

            <div class="col">
                <div class="card shadow-lg h-100 align-items-center">
                  <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                    <a href="./contact-us" class="btn btn-expand btn-soft-primary rounded-pill">
                        <i class="uil uil-plus"></i>
                        <span>                
                            {{ site.data.partners[page.locale].partners.joinUs }}
                        </span>
                    </a>
                  </div>
                  <!--/.card-body -->
                </div>
                <!--/.card -->
              </div>
              <!--/column -->
          </div>
          <!--/.row -->

    </div>
    <!-- /.container -->
    </section>
    <!-- /section -->
