---
layout: default
---

{%- assign projects = site.projects | where: "locale", page.locale %}

<section class="wrapper bg-custom">
  <div class="container pt-8 pt-md-12 pb-8 pb-md-8">
    <div class="row">
      <div class="col-md-10 col-lg-9 col-xl-8 col-xxl-7">
        <h1 class="display-2 mb-3">{{ site.data.projects[page.locale].projects.header }}</h1>
        <p class="lead mb-3">
          {{ site.data.projects[page.locale].projects.lead }}
        </p>
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->

<!-- Project List -->
<section class="wrapper bg-light">
  <div class="container pt-7">      
      <div class="filter mb-10 d-flex flex-column flex-md-row align-items-center">
        <!-- <p class="pillholder blue-gradient1 rounded-pill">Filter</p> -->
        <ul>
          <li><a class="active" id="clear-filters">{{ site.data.projects[page.locale].projects.allTag }}</a></li>
          <li><a class="filter-item" data-filter="artificiali">{{ site.data.projects[page.locale].projects.tag1 }}</a></li>
          <li><a class="filter-item" data-filter="softwareapp">{{ site.data.projects[page.locale].projects.tag2 }}</a></li>
          <li><a class="filter-item" data-filter="gamedev">{{ site.data.projects[page.locale].projects.tag3 }}</a></li>
          <li><a class="filter-item" data-filter="robotics">{{ site.data.projects[page.locale].projects.tag4 }}</a></li>
        </ul>
      </div>
  </div>
  <!-- /.container -->
</section>
<!-- /section -->

<!-- /section -->
<section class="wrapper">
  <div class="container pb-8 mb-8">
    <!--/.row -->
    <div id="isotopeContainer" data-length="6" class="row gx-md-6 gy-6 gy-md-6 isotope">
      {% for project in projects %}
        {% include project.html %}
      {% endfor %}
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>

<!-- /section -->
<!-- <section class="wrapper">
  <div class="container pb-14 d-flex justify-content-center">
    <ul id="pagination-demo" class="pagination pagination-alt mb-0"></ul>  
  </div>
</section> -->
<!-- /section -->

<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="https://npmcdn.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<script src="/assets/js/projects-filter.js"></script>