---
layout: default
---

<!-- Coding Mind For Schools -->
<section class="wrapper bg-custom">
    <div class="container pt-10 pb-15 pb-md-17">
      <div class="row gx-lg-8 gx-xl-12 gy-10 mb-5 align-items-center">
        <div class="col-md-10 offset-md-1 offset-lg-0 col-lg-5 text-center text-lg-start order-2 order-lg-0" data-cues="slideInDown" data-group="page-title" data-delay="600">
          <h1 class="display-1 mb-5 mx-md-n5 mx-lg-0">{{ site.data.schools[page.locale].schools.header }}</h1>
          <p class="lead fs-lg mb-7">{{ site.data.schools[page.locale].schools.lead }}</p>
        </div>
        <!-- /column -->
        <div class="col-lg-7" data-cue="slideInDown">
            <div class="row gx-md-5 gy-5 align-items-center">
                <div class="col-6">
                  <img class="img-fluid rounded shadow-lg d-flex ms-auto" src="/assets/img/schools/image1.png" alt="" />
                </div>
                <!-- /column -->
                <div class="col-6">
                  <img class="img-fluid rounded shadow-lg mb-5" src="/assets/img/schools/image3.png" alt="" />
                  <img class="img-fluid rounded shadow-lg d-flex col-10" src="/assets/img/schools/image4.png" alt="" />
                </div>
                <!-- /column -->
              </div>
              <!-- /.row -->    
            
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->
  <section class="wrapper bg-light">
    <div class="container pt-14 pt-md-16">
      <div class="row gx-md-5 gy-5 mt-n18 mt-md-n21 mb-12 justify-content-center">
        <div class="col-md-6 col-xl-3">
          <div class="card h-100 shadow-lg card-border-bottom border-soft-yellow">
            <div class="card-body">
              <img src="/assets/img/icons/lineal/growth.svg" class="svg-inject icon-svg icon-svg-md text-yellow mb-3" alt="" />
              <h4>{{ site.data.schools[page.locale].schools.pointHeader1 }}</h4>
              <p class="mb-2">{{ site.data.schools[page.locale].schools.pointDesc1 }}</p>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!--/column -->
        <div class="col-md-6 col-xl-3">
          <div class="card h-100 shadow-lg card-border-bottom border-soft-green">
            <div class="card-body">
              <img src="/assets/img/icons/lineal/light-bulb.svg" class="svg-inject icon-svg icon-svg-md text-green mb-3" alt="" />
              <h4>{{ site.data.schools[page.locale].schools.pointHeader2 }}</h4>
              <p class="mb-2">{{ site.data.schools[page.locale].schools.pointDesc2 }}</p>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!--/column -->
        <div class="col-md-6 col-xl-3">
          <div class="card h-100 shadow-lg card-border-bottom border-soft-primary">
            <div class="card-body">
              <img src="/assets/img/icons/lineal/ranking.svg" class="svg-inject icon-svg icon-svg-lg text-primary mb-1" alt="" />
              <h4>{{ site.data.schools[page.locale].schools.pointHeader3 }}</h4>
              <p class="mb-2">{{ site.data.schools[page.locale].schools.pointDesc3 }}</p>
            </div>
            <!--/.card-body -->
          </div>
          <!--/.card -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->
  

<!-- Our Service -->
<section class="wrapper bg-light">
<div class="container py-12 py-md-12">
    <div class="row gx-lg-8 gx-xl-12 gy-10 gy-lg-0">
        <div class="col-lg-6 mt-lg-2 order-lg-2">
        <img src="/assets/img/icons/lineal/settings.svg" class="svg-inject icon-svg icon-svg-md mb-4" alt="" />
        <h2 class="display-4 mb-3">{{ site.data.schools[page.locale].schools.serviceHeader }}</h2>
        <p class="lead fs-lg mb-7">{{ site.data.schools[page.locale].schools.serviceLead }} </p>      
        <p> {{ site.data.schools[page.locale].schools.serviceDesc }} </p>      
        </div>
        <!-- /column -->
        <div class="col-lg-6">
        <figure class="rounded"><img src="/assets/img/schools/image2.png" alt=""></figure>
        </div>
        <!-- /column -->
        </div>
        <!-- /.row -->
    <!--/div -->
</div>
<!-- /.container -->
</section>
<!-- /section -->
  
<!-- Trusted by These: -->
<section class="wrapper bg-light">
    <div class="container py-12 py-md-12">
            <p class="lead fs-lg mb-7 text-center">{{ site.data.schools[page.locale].schools.trustedHeader }}  </p>      

        <div class="row row-cols-2 row-cols-md-3 row-cols-xl-5 gx-lg-6 gy-6 justify-content-center">
            <div class="col">
                <div class="card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                    <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org23.png" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/.card-body -->
                </div>
                <!--/.card -->
            </div>
            <!--/column -->
            <div class="col">
                <div class="card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                    <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/university8.png" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/.card-body -->
                </div>
                <!--/.card -->
            </div>
            <!--/column -->
            <div class="col">
                <div class="card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                    <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org13.png" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/.card-body -->
                </div>
                <!--/.card -->
            </div>
            <!--/column -->
            <div class="col">
                <div class="card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                    <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org14.png" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/.card-body -->
                </div>
                <!--/.card -->
            </div>
            <!--/column -->
            <div class="col">
                <div class="card shadow-lg h-100 align-items-center">
                <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                    <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org15.png" alt="" class="h-15 object-fit-contain"/></figure>
                </div>
                <!--/.card-body -->
                </div>
                <!--/.card -->
            </div>
            <!--/column -->
            <div class="col">
                <div class="card shadow-lg h-100 align-items-center">
                    <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                    <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org24.png" alt="" class="h-15 object-fit-contain"/></figure>
                    </div>
                    <!--/.card-body -->
                </div>
                <!--/.card -->
                </div>
                <!--/column -->

                <div class="col">
                <div class="card shadow-lg h-100 align-items-center">
                    <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                    <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org17.png" alt="" class="h-15 object-fit-contain"/></figure>
                    </div>
                    <!--/.card-body -->
                </div>
                <!--/.card -->
                </div>
                <!--/column -->

                <div class="col">
                <div class="card shadow-lg h-100 align-items-center">
                    <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                    <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org25.png" alt="" class="h-15 object-fit-contain"/></figure>
                    </div>
                    <!--/.card-body -->
                </div>
                <!--/.card -->
                </div>
                <!--/column -->
                
                <div class="col">
                <div class="card shadow-lg h-100 align-items-center">
                    <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                    <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org19.png" alt="" class="h-15 object-fit-contain"/></figure>
                    </div>
                    <!--/.card-body -->
                </div>
                <!--/.card -->
                </div>
                <!--/column -->

                <div class="col">
                <div class="card shadow-lg h-100 align-items-center">
                    <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                    <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org21.png" alt="" class="h-15 object-fit-contain"/></figure>
                    </div>
                    <!--/.card-body -->
                </div>
                <!--/.card -->
                </div>
                <!--/column -->

                <div class="col">
                    <div class="card shadow-lg h-100 align-items-center">
                        <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                        <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org1.jpg" alt="" class="h-15 object-fit-contain"/></figure>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col">
                    <div class="card shadow-lg h-100 align-items-center">
                        <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                        <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org2.png" alt="" class="h-15 object-fit-contain"/></figure>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col">
                    <div class="card shadow-lg h-100 align-items-center">
                        <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                        <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org3.png" alt="" class="h-15 object-fit-contain"/></figure>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col">
                    <div class="card shadow-lg h-100 align-items-center">
                        <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                        <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org4.jpg" alt="" class="h-15 object-fit-contain"/></figure>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col">
                    <div class="card shadow-lg h-100 align-items-center">
                        <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                        <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org5.jpg" alt="" class="h-15 object-fit-contain"/></figure>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col">
                    <div class="card shadow-lg h-100 align-items-center">
                        <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                        <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org6.jpg" alt="" class="h-15 object-fit-contain"/></figure>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col">
                    <div class="card shadow-lg h-100 align-items-center">
                        <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                        <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org7.png" alt="" class="h-15 object-fit-contain"/></figure>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col">
                    <div class="card shadow-lg h-100 align-items-center">
                        <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                        <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org8.png" alt="" class="h-15 object-fit-contain"/></figure>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col">
                    <div class="card shadow-lg h-100 align-items-center">
                        <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                        <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org9.png" alt="" class="h-15 object-fit-contain"/></figure>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col">
                    <div class="card shadow-lg h-100 align-items-center">
                        <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                        <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org10.jpg" alt="" class="h-15 object-fit-contain"/></figure>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col">
                    <div class="card shadow-lg h-100 align-items-center">
                        <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                        <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org11.jpg" alt="" class="h-15 object-fit-contain"/></figure>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->
                <div class="col">
                    <div class="card shadow-lg h-100 align-items-center">
                        <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                        <figure class="px-md-3 px-xl-0 px-xxl-3 mb-0"><img src="/assets/img/partners/org12.png" alt="" class="h-15 object-fit-contain"/></figure>
                        </div>
                        <!--/.card-body -->
                    </div>
                    <!--/.card -->
                </div>
                <!--/column -->

            <div class="col">
                <div class="card shadow-lg h-100 align-items-center">
                    <div class="card-body align-items-center d-flex px-3 py-6 p-md-8">
                    <a href="./contact-us" class="btn btn-expand btn-soft-primary rounded-pill">
                        <i class="uil uil-plus"></i>
                        <span>                
                            {{ site.data.partners[page.locale].partners.joinUs }}
                        </span>
                    </a>
                    </div>
                    <!--/.card-body -->
                </div>
                <!--/.card -->
                </div>
                <!--/column -->
            </div>
            <!--/.row -->

    </div>
    <!-- /.container -->
    </section>
    <!-- /section -->

    
<!-- Trending and applied topics -->
<section class="wrapper bg-light", style = "position:relative; top:-10px">
    <div class="container py-12">
        <div class="row text-center">
        <div class="col-lg-10 col-xl-10 col-xxl-8 mx-auto">
            <h2 class="fs-15 text-uppercase text-muted mb-3">{{ site.data.competitive[page.locale].topics.header }}</h2>
            <h3 class="display-4">{{ site.data.competitive[page.locale].topics.lead }}</h3>
            <p class="lead fs-lg text-center mb-9">{{ site.data.schools[page.locale].schools.trendingDesc }} </p>      
        </div>
        <!-- /column -->
        </div>
        <!-- /.row -->

        <!--/.row -->
        <div class="row gx-lg-8 gx-xl-12 gy-6 mb-6 row-cols-3 row-cols-lg-8 text-center justify-content-center" data-cues="slideInUp" data-group="icons">
            <div class="col">
                <img src="/assets/img/icons/lineal/web.svg" class="svg-inject icon-svg icon-svg-md text-blue mb-3" alt="" />
                <h4>{{ site.data.competitive[page.locale].topics.ai }}</h4>
            </div>
            <!--/column -->
            <div class="col">
                <img src="/assets/img/icons/lineal/analytics.svg" class="svg-inject icon-svg icon-svg-md text-leaf mb-3" alt="" />
                <h4>{{ site.data.competitive[page.locale].topics.data }}</h4>
            </div>
            <!--/column -->
            <div class="col">
                <img src="/assets/img/icons/lineal/statistics.svg" class="svg-inject icon-svg icon-svg-md text-pink mb-3" alt="" />
                <h4>{{ site.data.competitive[page.locale].topics.cyber }}</h4>
            </div>
            <!--/column -->
            <div class="col">
                <img src="/assets/img/icons/lineal/browser.svg" class="svg-inject icon-svg icon-svg-md text-violet mb-3" alt="" />
                <h4>{{ site.data.competitive[page.locale].topics.web3 }}</h4>
            </div>
            <!--/column -->
            <div class="col">
                <img src="/assets/img/icons/lineal/settings-3.svg" class="svg-inject icon-svg icon-svg-md text-green mb-3" alt="" />
                <h4>{{ site.data.competitive[page.locale].topics.gamedev }}</h4>
            </div>
            <!--/column -->
            <div class="col">
                <img src="/assets/img/icons/lineal/show.svg" class="svg-inject icon-svg icon-svg-md text-aqua mb-3" alt="" />
                <h4>{{ site.data.competitive[page.locale].topics.arvr }}</h4>
            </div>
            <!--/column -->
            <div class="col">
                <img src="/assets/img/icons/lineal/smartphone.svg" class="svg-inject icon-svg icon-svg-md text-navy mb-3" alt="" />
                <h4>{{ site.data.competitive[page.locale].topics.mobilewebdev }}</h4>
            </div>
            <!--/column -->
            <div class="col">
                <img src="/assets/img/icons/lineal/touch-screen.svg" class="svg-inject icon-svg icon-svg-md text-yellow mb-3" alt="" />
                <h4>{{ site.data.competitive[page.locale].topics.iot }}</h4>
            </div>
            <!--/column -->
        </div>

        <!--/.row -->

        <!-- LISTED TOP COURSES -->
        <div class="swiper-container" data-margin="30" data-nav="true" data-dots="true" data-items-xl="3" data-items-md="3" data-items-xs="1">
            <div class="swiper">
            <div class="swiper-wrapper pb-10">
                {% assign courses = site.courses %}
                {% for course in courses %}

                {% if page.locale == 'en' and
                    course.name == 'AI 1 - Introductory Machine Learning' 
                    or course.name == 'Python Web Scraping and Data Analysis' 
                    or course.name == 'Cyber Security' 
                    or course.name == 'Blockchain - AI Deep Learning' 
                    or course.name == 'Unity 1 - Basics of Unity3D' 
                    or course.name == 'Flutter App Development' 
                    or course.name == 'Web 1 - HTML and CSS' 
                %}
                <div class="swiper-slide" data-cue="slideInUp">
                  {% include course.html %}
                </div>
                {% endif %}

                {% if page.locale == 'cn' and
                    course.name == 'AI人工智能与机器学习' 
                    or course.name == '网络爬虫与数据分析' 
                    or course.name == '计算机信息与网络安全' 
                    or course.name == 'AI深度学习与区块链技术' 
                    or course.name == 'Unity3D游戏开发体验' 
                    or course.name == 'Flutter跨平台手机App开发' 
                    or course.name == 'Web开发体验HTML/CSS' 
                 %}
                <div class="swiper-slide" data-cue="slideInUp">
                  {% include course.html %}
                </div>
                {% endif %}

                {% endfor %}
            </div>
            </div>
        </div>
        <!-- /.swiper-container -->

        <div class="d-flex flex-row justify-content-center mt-5"> 
          <a href="./courses" class="btn btn-soft-primary rounded-pill">{{ site.data.competitive[page.locale].topics.viewcourses }}</a>
        </div>
    </div>
</section>
<!-- /section -->

<!-- Project-based Learning -->
<section class="wrapper">
    <div class="container py-12">

      <div class="row text-center">
        <div class="col">
            <h2 class="fs-15 text-uppercase text-muted mb-3">{{ site.data.competitive[page.locale].impact.header }}</h2>
            <h3 class="display-2 mb-12">{{ site.data.competitive[page.locale].impact.lead }}</h3>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->

      <div class="row gx-lg-8 gx-xl-12 gy-12 align-items-center">
        <div class="col-lg-6 position-relative">
          <div class="btn btn-circle btn-primary pe-none position-absolute flex-column" style="top: 50%; left: 50%; transform: translate(-50%, -50%);  width: 170px; height: 170px;" data-cue="fadeIn" >
            <p class="lead mb-0">{{ site.data.competitive[page.locale].impact.create }}</p>
          </div>
          <div class="row gx-md-5 gy-5 align-items-center">
            <div class="col-6">
              <div class="row gx-md-5 gy-5">
                <div class="col-10 offset-2">
                  <figure class="rounded"><img src="/img/updated/competitive-courses/projects1.webp" alt=""></figure>
                </div>
                <!--/column -->
                <div class="col-12">
                  <figure class="rounded"><img src="/img/updated/competitive-courses/projects3.webp" alt=""></figure>
                </div>
                <!--/column -->
              </div>
              <!--/.row -->
            </div>
            <!--/column -->
            <div class="col-6">
              <figure class="rounded"><img src="/img/updated/competitive-courses/projects2.webp" alt=""></figure>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!--/column -->
        <div class="col-lg-6">
            <h2 class="fs-15 text-uppercase text-muted mb-3">{{ site.data.competitive[page.locale].impact.projectHeader }}</h2>
            <h3 class="display-4 mb-5">{{ site.data.competitive[page.locale].impact.projectLead }}</h3>
            <div class="d-flex flex-row mb-5 align-items-center justify-content-start">
                <p class="lead mb-0">{{ site.data.competitive[page.locale].impact.projectDescription }}</p>
            </div>
          <!--/.row -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->
  
  

<!-- Prepare for Competitions -->
<section class="wrapper">
    <div class="container pb-14">
        <div class="row gx-lg-8 gx-xl-12 gy-12 align-items-center">
            <div class="col-lg-6 position-relative order-lg-2" data-cue="fadeIn">
                <figure><img class="img-fluid rounded shadow-lg" src="/assets/img/showcases/compete.webp" alt="" /></figure>
            </div>
            <!--/column -->
            <div class="col-lg-6">
                <h2 class="fs-15 text-uppercase text-muted mb-3">{{ site.data.competitive[page.locale].impact.competitionsHeader }}</h2>
                <h3 class="display-4 mb-5">{{ site.data.competitive[page.locale].impact.competitionsLead }}</h3>
                <div class="d-flex flex-row mb-5 align-items-center justify-content-start">
                    <p class="lead mb-0">{{ site.data.competitive[page.locale].impact.competitionsDescription }}</p>
                </div>
            <!--/.row -->
            </div>
            <!--/column -->
        </div>
        <!--/.row -->
    </div>
    <!-- /.container -->
  </section>

  
  <!-- Try Coding Mind -->
  <section class="wrapper bg-soft-primary wrapper-border">
    <div class="container py-12 py-md-12">
      <div class="row text-center">
        <div class="col-md-10 mx-auto">
          <h3 class="display-4 text-navy">{{ site.data.schools[page.locale].schools.freeTrialHeader }}</h3>
          <p class="lead mb-7 mb-md-7">{{ site.data.schools[page.locale].schools.freeTrialLead }}</p>
          <a href="./contact-us" class="btn btn-primary rounded-pill me-2 me-md-2 mb-4 mb-md-0">
            {{ site.data.schools[page.locale].schools.freeTrialBtn }}
          </a>
        </div>
      </div>
      <!--/div -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->
      