---
layout: default
---
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<section class="wrapper bg-soft-primary">
    <div class="container pt-10  pt-md-14  text-center">
      <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-8 col-xxl-6 mx-auto mb-13" data-cues="slideInDown"
          data-group="page-title">
          <h1 class="display-1 mb-4">{{ site.data.summercamp[page.locale].summer.header }}</h1>
          <p class="lead fs-lg px-xl-12 px-xxl-6 mb-7">{{ site.data.summercamp[page.locale].summer.lead }}</p>
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <!-- /section -->

  <section class="wrapper bg-light">
    <div class="container pt-10 pb-19 pt-md-14 pb-md-20 text-center">
      <div class="row card p-2 overflow-auto flex-row justify-content-center" id="camp-registration-grid">
        <div class="d-flex justify-content-center">
          <div id="formSpinner" class="spinner-border text-navy align-self-center" role="status"
            style="width: 3rem; height: 3rem; display: none;">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /section -->

  <!-- The Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content p-0">
        <div class="modal-header d-flex justify-content-center p-4">
          <h5 class="modal-title text-center fs-28" id="myModalLabel">{{ site.data.summercamp[page.locale].summer.modal }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-0">
          <iframe id="modalIframe" src="" frameborder="0" width="100%" height="500"></iframe>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      // Function to handle modal show event
      $('#myModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var url = button.attr('href'); // Get the URL from the href attribute
        var iframe = $(this).find('#modalIframe');
        iframe.attr('src', url); // Set the src attribute of the iframe
      });

      $('#formSpinner').css("display", "block");
      // Function to fetch JSON data and populate grid
      fetchJSONData()
        .then(function (datesData, coursesData) {
          $('#formSpinner').css("display", "none");
          populateGrid(datesData[0], coursesData[0]);
        })
        .catch(function (error) {
          $('#formSpinner').css("display", "none");
          alert('Error:', error);
          console.error('Error fetching JSON data:', error);
        });
    });

    // Function to fetch JSON data
    function fetchJSONData() {
      return $.when(
        $.getJSON('/assets/dates.json'),
        $.getJSON('/assets/courses.json')
      );
    }
function populateGrid(datesData, coursesData) {
    var $grid = $('#camp-registration-grid');

    // Create the header row with Courses (desktop only)
    var $headerRow = $('<div class="row mb-2 d-none d-md-flex flex-nowrap flex-row align-items-center">');
    //$headerRow.append('<div class="col-1"><h5>Courses</h5></div>');
    $grid.append($headerRow);

    var courseInfoMap = new Map();
    Object.entries(coursesData).forEach(([location, courses]) => {
        courses.forEach(course => {
            if (!courseInfoMap.has(course.Name)) {
                courseInfoMap.set(course.Name, []);
            }
            courseInfoMap.get(course.Name).push({...course, location: location});
        });
    });

    courseInfoMap.forEach((courses, courseName) => {
        var collapseId = 'collapse' + courseName.replace(/\s+/g, '');
        var $courseRow = $('<div class="card mb-3">');
        var $courseHeader = $('<div class="card-header d-flex justify-content-between align-items-center" id="heading' + collapseId + '">');

        var $imageContainer = $('<img class="mr-2" style="width: 50px; height: 50px;">');
        setImageBasedOnCourseName(courseName, $imageContainer);

        var $titleButton = $('<button class="btn btn-link text-left" data-bs-toggle="collapse" data-bs-target="#' + collapseId + '" aria-expanded="false" aria-controls="' + collapseId + '">')
            .html('<h4 class="mb-0">' + courseName + '</h4>');

        var learnMoreUrl = courses[0].CourseInfo;
        var $learnMoreButton = $('<a href="' + learnMoreUrl + '" class="btn btn-navy course-info" data-bs-toggle="modal" data-bs-target="#myModal">Learn More</a>');

        $courseHeader.append($imageContainer, $titleButton, $learnMoreButton);
        var $courseDetails = $('<div id="' + collapseId + '" class="collapse" aria-labelledby="heading' + collapseId + '" data-parent="#accordionExample">')
            .append('<div class="card-body">');

        courses.forEach(course => {
            var dateRanges = course.Dates.map(dateCode => datesData[dateCode]).join(", "); // Map each week code to its date range and join with commas
            var datesText = 'Dates: ' + dateRanges;
            var $locationLine = $('<div class="d-flex justify-content-between align-items-center mb-3" style="margin-bottom: 10px;">') // Add margin-bottom directly for spacing
                .append($('<div class="d-flex align-items-center">')
                    .append($('<i class="fas fa-map-marker-alt mr-2">  </i>'))
                    .append($('<span>').text(course.location))
                    .append($('<i class="fas fa-user mx-2"></i>'))
                    .append($('<span>').text('In-person')))
                .append($('<div class="text-center">')
                    .append($('<span>').text('Price: $' + course.Price + ', ' + datesText)))
                .append($('<div class="ml-auto">')
                    .append($('<a href="' + course['Registration Links'][0] + '" class="btn btn-primary btn-sm" target="_blank">Register</a>')));

            $courseDetails.find('.card-body').append($locationLine);
        });

        $courseRow.append($courseHeader, $courseDetails);
        $grid.append($courseRow);
    });
}


    // function createImageElement(url, $container) {
    //   // Send a GET request to the URL to get the HTML content
    //   $.get(url, function (data) {
    //     // Parse the HTML string into a jQuery object
    //     var $html = $($.parseHTML(data));

    //     // Find the first non-SVG image element directly in the parsed HTML
    //     var $image = $html.find('img:not([src$=".svg"])').first();

    //     // If a non-SVG image is found, create the image element
    //     if ($image.length) {
    //       var imageUrl = new URL($image.attr('src'), url).href;
    //       var $imageElement = $('<img class="card-img-top rounded-top rounded-0">').attr('src', imageUrl);
    //       $container.prepend($imageElement);
    //     }
    //   });
    // }

    function setImageBasedOnCourseName(courseName, $container) {
    // Map each course name to its specific image path
    var imagePathMap = {
        "Minecraft MakeCode": "/img/my/minecode/minecode2.jpg",
        "Roblox Metaverse": "/img/my/roblox1/r1.jpg",
        "Python Programming": "/img/updated/L3/python-adv-4.png",
        "Flutter Dev": "/img/my/flutter/flutter2.png",
        // Add more courses and their image paths as needed
    };

    // Default image if course not found or no image is specified
    var defaultImagePath = "/images/default.jpg";

    // Retrieve the image path from the map or use the default
    var imagePath = imagePathMap[courseName] || defaultImagePath;

    // Set the image source for the container
    $container.attr('src', imagePath);
}



</script>
